/*────────────────────────────────────
++++++++++++++++++++++++++++++++++++++
            Community Plugins
++++++++++++++++++++++++++++++++++++++
──────────────────────────────────────*/
/*────────────────────────────────────
        Calendar Plugin
────────────────────────────────────*/
#calendar-container {
    padding:    var(--scale-0-0)
                var(--scale-2-4)
                var(--scale-0-0)
                var(--scale-2-4);

    & .nav {
        margin: var(--scale-2-4)
                var(--scale-0-0)
                var(--scale-2-2)
                var(--scale-0-0);
    }

    & .day,
    & .week-num {
        padding:    var(--scale-0-0)
                    var(--scale-2-2)
                    var(--scale-2-2)
                    var(--scale-2-2);
    }

    & .day {
        margin: var(--scale-0-0)
                var(--scale-0-0)
                var(--scale-0-0)
                var(--scale-2-2);
    }

    & .today {
        font-weight: var(--font-bold);
    }

    & .week-num {
        margin: var(--scale-0-0)
                var(--scale-2-2)
                var(--scale-0-0)
                var(--scale-0-0);
    }

    & thead {
        border-top: 1px solid var(--background-modifier-border);
    }

    & .arrow {
        & svg {
            background-color: currentColor;
            -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D%0A%3C/style%3E%3Cpolygon points='10,16 20,6 21.4,7.4 12.8,16 21.4,24.6 20,26 '/%3E%3Crect id='_x3C_Transparent_Rectangle_x3E_' class='st0' width='32' height='32'/%3E%3C/svg%3E");
            
            & > path {
                display: none;
            }
        }
    }

    .theme-light & {
        --color-background-day-empty: transparent;
        --color-background-day-active: transparent;
        --color-background-day-hover: var(--color-l-gray-40);
        
        --color-dot: var(--color-l-blue-300);
    
        --color-text-title: var(--text-normal);
        --color-text-heading: var(--color-l-gray-60);
        --color-text-day: var(--color-l-gray-80);
        --color-text-today: var(--text-normal);
        --color-text-weeknum: var(--text-muted);
    
        --color-arrow: var(--color-l-gray-50);
        --color-arrow-hover: var(--color-l-gray-60);

        & .active,
        & .active.today {
            background: var(--color-l-gray-10);
            color: var(--color-l-black);
            font-weight: var(--font-semi-bold);
            border: 1px inset rgba(100, 100, 100, 0.2);
            box-shadow: 0px -2px 0px 0px 
                        rgba(100, 100, 100, 0.1) inset,
                        0px 1px 2px 0px 
                        rgba(100, 100, 100, 0.1);
        }

        & .week-num,
        & .day {
            &:hover {
                color: var(--color-l-black);
                background: var(--color-l-gray-10);
                box-shadow: 0px 0px 0px 1px 
                            rgba(209, 209, 209, 0.5) inset;
            }

            &:active {
                background: var(--color-l-gray-40);
            }
        }

        & .reset-button:hover,
        & .arrow:hover > svg {
            color: var(--color-l-gray-70);
        }
    }

    .theme-dark & {
        --color-background-day-empty: transparent;
        --color-background-day-active: transparent;
        --color-background-day-hover: var(--color-d-gray-50);
        
        --color-dot: var(--color-d-blue-900);

        --color-text-title: var(--text-normal);
        --color-text-heading: var(--color-d-gray-40);
        --color-text-day: var(--color-d-gray-20);
        --color-text-today: var(--text-normal);
        --color-text-weeknum: var(--text-muted);

        --color-arrow: var(--color-d-gray-30);
        --color-arrow-hover: var(--color-d-gray-10);

        & .active,
        & .active.today {
            background: var(--color-d-gray-70);
            color: var(--color-d-white);
            font-weight: var(--font-semi-bold);
            border: 1px solid rgba(0, 0, 0, 0.3);
            box-shadow: 0px -2px 0px 0px
                        rgba(0, 0, 0, 0.15) inset,
                        0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        }

        & .week-num,
        & .day {
            &:hover {
                color: var(--color-d-white);
                background: var(--color-d-gray-70);
                box-shadow: 0px 0px 0px 1px 
                            rgba(0, 0, 0, 0.3) inset;
            }

            &:active {
                background: var(--color-d-gray-100);
            }
        }

        & .reset-button:hover,
        & .arrow:hover > svg {
            color: var(--color-d-gray-20);
        }
    }
}

/* Removes Scrollbar in Calendar */
.workspace-leaf-content[data-type="calendar"]
::-webkit-scrollbar {
    display: none;
}