/*────────────────────────────────────
    Style Settings Plugin Styling
────────────────────────────────────*/
div.style-settings {
    &-container {
        padding-bottom: 0;

        &[data-level="0"] {
            margin-left: 4px;
        }

        & .setting-item {
            &:not(:first-child) {
                padding-top: var(--scale-8-1);
                padding-bottom: var(--scale-8-1);
            }

            &:first-child:not(.style-settings-heading) {
                padding-top: var(--scale-8-1);
                padding-bottom: var(--scale-8-1);
            }
        }

        & .setting-item-description {
            line-height: var(--line-height-0-5);
            
            & strong {
                color: var(--text-muted);
            }
        }

        &[data-level="1"],
        &[data-level="2"],
        &[data-level="3"],
        &[data-level="4"],
        &[data-level="5"],
        &[data-level="6"] {
            padding-top: var(--scale-8-1);
            border-left: 1px solid var(--background-modifier-border);
            margin-left: var(--scale-2-2);

            & .style-settings-heading {
                padding-top: var(--scale-2-4);
                padding-bottom: var(--scale-2-4);
                border-bottom: 1px solid var(--background-modifier-border);
            }
        }
    }

    &-heading {
        margin-bottom: 0;

        &.setting-item {
            padding-top: var(--scale-8-1);
        }

        & .setting-item-description {
            font-weight: normal;
            line-height: 1.5;
            padding-left: 26px;
        }

        &[data-level="0"][data-id="primary-ceciliamay"] 
        .style-settings-collapse-indicator svg.right-triangle {
            transform: initial;
            -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Outline' viewBox='0 0 24 24' width='100%25' height='100%25'%3E%3Cpath d='M23,3H13a1,1,0,0,0-1,1V7.27L9.6,3.11a2,2,0,0,0-3.47,0h0L.13,13.5a1,1,0,0,0,0,1A1,1,0,0,0,1,15H5.29A6.91,6.91,0,0,0,5,17a7,7,0,0,0,14,0,6.91,6.91,0,0,0-.29-2H23a1,1,0,0,0,1-1V4A1,1,0,0,0,23,3ZM2.73,13,7.86,4.11,11.29,10a7,7,0,0,0-5,3ZM12,22a5,5,0,1,1,5-5A5,5,0,0,1,12,22Zm10-9H17.74A7.07,7.07,0,0,0,14,10.29V5h8Z'/%3E%3C/svg%3E");
        }

        &[data-level="0"] {
            border-top: unset;
            border-bottom: 1px solid var(--background-modifier-border);
            margin-bottom: 0;
        }

        &[data-level="0"] + .style-settings-container {
            padding-left: var(--scale-8-2);
            border-left: 1px solid var(--background-modifier-border);
            margin-left: 0;

            & .style-settings-collapse-indicator {
                margin-left: 0;
            }
        }

        &[data-level="1"],
        &[data-level="2"],
        &[data-level="3"],
        &[data-level="4"],
        &[data-level="5"],
        &[data-level="6"] {
            & + .style-settings-container {
                padding-top: 0;
                padding-left: var(--scale-8-2);
                margin-left: 0;
            }
        }

        &[data-id="primary-wiki"] {
            &[data-level="1"],
            &[data-level="2"],
            &[data-level="3"] {
                border-bottom: none;
                padding-bottom: 0;
            }

            & .style-settings-collapse-indicator,
            & .setting-editor-extra-setting-button {
                display: none;
            }
        }
    }

}

.style-settings-collapse-indicator svg {
    vertical-align: middle;
}

.vertical-tab-content > .setting-item.setting-item-heading.style-settings-heading {
    border-bottom: 1px solid var(--background-modifier-border);
}
.setting-item.setting-item-heading.style-settings-heading:hover
.style-settings-collapse-indicator {
    color: var(--interactive-accent-hover);
}
.setting-item.setting-item-heading.style-settings-heading:hover
.setting-item-name {
    color: var(--interactive-accent-text);
}
.setting-item.setting-item-heading.style-settings-heading:not(.is-collapsed)
.style-settings-collapse-indicator {
    color: var(--interactive-accent-text);
}

div.workspace-leaf-content[data-type=style-settings] .view-content {
    padding: 20px 35px;
}

div.workspace-leaf-content[data-type=style-settings] .view-content
.style-settings-container div.setting-item:not(.setting-item-heading) {
    flex-direction: row;
}

/* vertically center toggles, dropdowns, etc. */
.view-content .style-settings-container .setting-item:not(.setting-item-heading) {
    align-items: center;
}

/* removes padding-top on toggles, dropdowns, etc. */
.view-content .style-settings-container .setting-item:not(.setting-item-heading) .setting-item-control {
    padding-top: unset;
}

div.themed-color-wrapper {
    & > div {
        margin-right: var(--scale-2-6);

        .modal & {
            margin-right: 0;
        }
    
        & + div {
            margin-top: 0;
            margin-right: var(--scale-2-2);

            .modal & {
                margin-top: var(--scale-2-5);
                margin-right: 0;
            }
        }
    }

    .theme-light & {
        & > div.theme-light {
            background: var(--color-l-whiter);
            border: 1px solid var(--color-l-gray-40);
            box-shadow: 0px 0px 0px 3px var(--color-l-gray-20);
        }

        & > div.theme-dark {
            background: var(--color-l-gray-100);
            border: 1px solid var(--color-l-gray-80);
            box-shadow: 0px 0px 0px 3px var(--color-l-black);
        }
    }

    .theme-dark & {
        & > div.theme-light {
            background: var(--color-d-whiter);
            border: 1px solid var(--color-d-gray-20);
            box-shadow: 0px 0px 0px 3px var(--color-d-gray-10);
            margin-right: var(--scale-8-2);
        }

        & > div.theme-dark {
            background: var(--color-d-black);
            border: 1px solid var(--color-d-gray-50);
            box-shadow: 0px 0px 0px 3px var(--color-d-blacker);
            margin-right: var(--scale-2-2);
        }
    }
}

.pickr-reset.pickr-reset.pickr-reset button[aria-label="Restore default"] {
    color: var(--text-muted);
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;

    &:hover,
    &:focus {
        color: var(--text-normal);
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
    }

    &:active {
        color: var(--text-muted);
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
    }
}

button.pcr-button.pcr-button.pcr-button[type="button"][aria-label="toggle color picker dialog"] {
    background: transparent;
    border: 1px solid gray;
    box-shadow: none;
}