/* @settings

name: Primary Theme by Cecilia May
id: obsidianmd-primary-theme
settings:
    - 
        id: coming-soon
        title: Coming Soon!
        description: Style Settings should come by mid-Feb!
        type: heading
        level: 1
        collapsed: false
*/