/*────────── fonts ──────────*/
/* inter alternative version */
.inter-alt {
    -webkit-font-feature-settings: "cv01", "cv05", "cv06", "cv11";
}

/* tabular nums */
.tabular-nums * {
    font-variant-numeric: tabular-nums;
}

/* scroll__scalable-fonts */
body.scroll__scalable-fonts div:where(.workspace:not(.workspace .workspace-tab-container-inner), .modal, .prompt) {
    font-size: var(--font-scale-1);
    
    /*──────────Typography Modular Scale──────────*/
    
    /*  Based on Standard 16px, Ratio 1.388  */
    --font-scale-000: calc(var(--font-text-size) * 0.547);
    --font-scale-00: calc(var(--font-text-size) * 0.676);
    --font-scale-0: calc(var(--font-text-size) * 0.81);
    --font-scale-0-5: calc(var(--font-text-size) * 0.875);
    --font-scale-1: calc(var(--font-text-size) * 1);
    --font-scale-2: calc(var(--font-text-size) * 1.188);
    --font-scale-3: calc(var(--font-text-size) * 1.388);
    --font-scale-4: calc(var(--font-text-size) * 1.648);
    --font-scale-5: calc(var(--font-text-size) * 1.927);
    --font-scale-6: calc(var(--font-text-size) * 2.288);
    --font-scale-7: calc(var(--font-text-size) * 2.678);
}


/*────────── workspace-components ──────────*/
/* vault title */
.vault-title {
    &__titlebar .titlebar-text,
    &__file-explorer .nav-folder-title[data-path="/"] {
        display: none;
    }
}

/* hide note header, show on hover */
.hide__note-header:not(.plugin-sliding-panes, .plugin-sliding-panes-rotate-header, .plugin-sliding-panes-stacking, .plugin-sliding-select-orientation-sideway, .is-mobile) {
    & .workspace-leaf .view-header.view-header.view-header {
        height: var(--scale-8-1) !important;
        border-bottom: 1px solid transparent !important;
        transition: var(--duration-fast-2) var(--motion-delay);

        &:hover {
            height: var(--scale-2-18) !important;
            border-bottom: 1px solid var(--background-modifier-border) !important;

            opacity: 1;
        }
    }

    & .view-content {
        height: 100%;
    }

    & .view-header-title,
    & .view-header-icon,
    & .view-header .view-actions {
        opacity: 0;
        transition: opacity var(--duration-fast-2) var(--motion-delay);

        &:hover {
            transition: none;
        }
    }

    & .view-header:hover .view-header-title,
    & .view-header:hover .view-header-icon,
    & .view-header:hover .view-actions {
        opacity: 1;
    }

    & .graph-controls.is-close {
        margin-top: 36px;
    }
}


/* unwrap file titles in file explorer */
.linewrap-file__file-explorer {
    & .nav-file-title {
        width: max-content;
        padding-right: var(--scale-8-1);
    }
    & .nav-file-title-content {
        white-space: unset;
    }
}

/* unwrap folder titles in file explorer */
.linewrap-folder__file-explorer {
    & .nav-folder-title {
        width: max-content;
        padding-right: var(--scale-8-1);
    }
    & .nav-folder-title {
        white-space: unset;
    }
}

/* hide side dock ribbon */
.hide__sidedockribbon-full:not(.is-mobile) {
    & .side-dock-ribbon {
        display: none;
    }
}

.hide__sidedockribbon-hover:not(.is-mobile) {
    --sdr-left-height: clamp(150px, 20vh, 1200px);
    --sdr-left-height-hover: clamp(150px, 40vh, 1200px);
    --sdr-right-height: 45px;

    & .side-dock-ribbon.side-dock-ribbon {
        position: fixed;
        overflow-y: hidden;
        
        background: var(--background-secondary);
        border: 1px solid var(--background-modifier-border);

        &:hover {
            background: var(--background-primary);
            transform: scale(1.15);
        }

        &:not(.is-collapsed) {
            background: var(--background-primary);
        }
        
        &.mod-left {
            left: -28px;
            top: calc(50% - calc(var(--sdr-left-height) / 2));
            height: var(--sdr-left-height);
            border-top-right-radius: var(--scale-2-4);
            border-bottom-right-radius: var(--scale-2-4);

            &:hover {
                left: 0;
                top: calc(50% - calc(var(--sdr-left-height-hover) / 2));
                height: var(--sdr-left-height-hover);
                overflow-y: scroll;
            }
        }

        &.mod-right {
            right: -28px;
            top: calc(50% - calc(var(--sdr-right-height) / 2));
            height: var(--sdr-right-height);
            border-top-left-radius: var(--scale-2-4);
            border-bottom-left-radius: var(--scale-2-4);

            &:hover {
                right: 0;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.hide__sidedockribbon-minifloating:not(.is-mobile) {
    & .side-dock-ribbon {
        background: var(--background-primary);
        opacity: 0.5;
        transition: opacity var(--duration-superfast) var(--motion-smooth);

        &:hover {
            opacity: 1;
        }

        &.is-collapsed {
            opacity: 1;
        }
    }

    & .mod-left.side-dock-ribbon {
        width: 36px;
        display: block;
        position: absolute;
        bottom: 0;

        border: 1px solid var(--background-modifier-border);
        border-radius: var(--scale-2-4);

        margin-left: var(--scale-2-6);
        margin-bottom: var(--scale-2-6);

        transition: var(--duration-fast-2) var(--motion-smooth);

        &:hover {
            flex: 0 0 var(--scale-2-18);
        }

        & .side-dock-actions {
            display: none;
        }

        & .side-dock-ribbon-action {
            padding-bottom: var(--scale-2-6);
        }

        & .workspace-ribbon-collapse-btn {
            justify-items: flex-end;
            padding: var(--scale-2-4)
                    var(--scale-2-4)
                    var(--scale-2-2)
                    var(--scale-2-4);
            margin: 0;
        }
    }

    & .mod-right.side-dock-ribbon {
        transition: var(--duration-fast-2) var(--motion-smooth);

        width: 36px;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;

        border: 1px solid var(--background-modifier-border);
        border-radius: var(--scale-2-4);

        margin-right: var(--scale-8-2);
        margin-bottom: var(--scale-8-5);

        & .workspace-ribbon-collapse-btn {
            display: flex;
            align-items: center;
            justify-content: center;

            margin: 0;
        }
    }

    /* hide status bar fix */
    &.hider-status .mod-right.side-dock-ribbon,
    &.hide__status-bar  .mod-right.side-dock-ribbon {
        margin-bottom: var(--scale-8-2);
    }
}

.hide__sidedockribbon-fullfloating:not(.is-mobile) {
    & .side-dock-ribbon {
        background: var(--background-primary);
        opacity: 0.5;
        transition: opacity var(--duration-superfast) var(--motion-smooth);

        &:hover {
            opacity: 1;
        }

        &.is-collapsed {
            opacity: 1;
        }
    }

    & .mod-left.side-dock-ribbon {
        width: 36px;
        display: block;
        position: absolute;
        bottom: 0;

        border: 1px solid var(--background-modifier-border);
        border-radius: var(--scale-2-4);

        margin-left: var(--scale-2-6);
        margin-bottom: var(--scale-2-6);

        transition: var(--duration-fast-2) var(--motion-smooth);

        &:hover {
            flex: 0 0 var(--scale-2-18);
        }

        & .side-dock-ribbon-action {
            padding-bottom: var(--scale-2-6);
        }

        & .workspace-ribbon-collapse-btn {
            justify-items: flex-end;
            padding: var(--scale-2-4)
                    var(--scale-2-4)
                    var(--scale-2-2)
                    var(--scale-2-4);
            margin: 0;
        }
    }

    & .mod-right.side-dock-ribbon {
        transition: var(--duration-fast-2) var(--motion-smooth);

        width: 36px;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;

        border: 1px solid var(--background-modifier-border);
        border-radius: var(--scale-2-4);

        margin-right: var(--scale-2-6);
        margin-bottom: var(--scale-8-4);

        & .workspace-ribbon-collapse-btn {
            display: flex;
            align-items: center;
            justify-content: center;

            margin: 0;
        }
    }

    /* hide status bar fix */
    &.hider-status .mod-right.side-dock-ribbon,
    &.hide__status-bar  .mod-right.side-dock-ribbon {
        margin-bottom: var(--scale-2-6);
    }
}

/* hide status bar */
.hide__status-bar .status-bar {
    display: none;
}

/* only show sync status bar */
.sync-only-status-bar .status-bar .status-bar-item:not(.plugin-sync) {
    display: none;
}

/* tab header */
/* Size */
.tab-header__size-small {
    & .workspace-tab-header {
        height: var(--scale-8-4);
        padding:    var(--scale-2-3)
                    calc(1px + var(--scale-2-3))
                    var(--scale-2-3)
                    calc(1px + var(--scale-2-3));
        margin: var(--scale-0-0)
                var(--scale-2-1)
                var(--scale-2-1)
                var(--scale-2-1);
        border-radius: calc(1px + var(--scale-2-3));

        &-container {
            margin-top: var(--scale-2-4);
        }
    }

    & .workspace-tab-header-inner-icon {
        display: flex;
        align-items: center;

        & svg {
            width: 15px !important;
            height: 15px !important;
        }
    }
}

/* Style */
.tab-header__style-minimal {
    & .workspace-tab-header {
        height: calc(-1px + var(--scale-8-4));
        margin-top: var(--scale-2-1);
        margin-bottom: var(--scale-2-1);

        & .workspace-tab-header-inner-icon svg {
            vertical-align: top;
        }

        &-container {
            margin-top: var(--scale-0-0);
            border-bottom: 1px solid var(--background-modifier-border);
        }

        &.is-active.is-active:nth-child(3n+1),
        &.is-active.is-active:nth-child(3n+2),
        &.is-active.is-active:nth-child(3n+3) {
            background: transparent;
            border: 1px solid transparent !important;
            box-shadow: none;
        }

        &:not(.is-active):nth-child(3n+1),
        &:not(.is-active):nth-child(3n+2),
        &:not(.is-active):nth-child(3n+3) {
            border: 1px solid transparent !important;

            &:hover,
            &:active {
                border: 1px solid transparent !important;
                box-shadow: none;
                translate: initial;
            }
        }
    }
}

/* Alignment */
/** Left **/
.mod-left-split .workspace-tab-header-container {
    .tab-header__align-modleft-center & {
        justify-content: center;

        & .workspace-tab-container-inner {
            justify-content: center;
        }
    }
    
    .tab-header__align-modleft-right & {
        justify-content: flex-end;

        & .workspace-tab-container-inner {
            justify-content: flex-end;
        }
    }
}

/** Right **/
.mod-right-split .workspace-tab-header-container {
    .tab-header__align-modright-center & {
        justify-content: center;

        & .workspace-tab-container-inner {
            justify-content: center;
        }
    }
    
    .tab-header__align-modright-left & {
        justify-content: flex-start;

        & .workspace-tab-container-inner {
            justify-content: flex-start;
        }
    }
}

/* Color Alignment */
/** Left Sidebar **/
/*** Right to Left */
body.tab-header__left-color-rtl {
    &.theme-light {
        & .mod-left-split .workspace-tab-header.is-active {
            &:nth-child(3n+1) {
                color: var(--color-l-blue-500);
                border: 1px solid var(--color-l-blue-500);
            }
        
            &:nth-child(3n+2) {
                color: var(--color-l-red-500);
                border: 1px solid var(--color-l-red-500);
            }
        
            &:nth-child(3n+3) {
                color: var(--color-l-yellow-500);
                border: 1px solid var(--color-l-yellow-500);
            }
        }
    }

    &.theme-dark {
        & .mod-left-split .workspace-tab-header.is-active {
            &:nth-child(3n+1) {
                color: var(--color-d-blue-700);
                border: 1px solid var(--color-d-blue-700);
            }
        
            &:nth-child(3n+2) {
                color: var(--color-d-red-700);
                border: 1px solid var(--color-d-red-700);
            }
        
            &:nth-child(3n+3) {
                color: var(--color-d-yellow-700);
                border: 1px solid var(--color-d-yellow-700);
            }
        }
    }
}

/** Right Sidebar **/
/*** Left to Right ***/
body.tab-header__right-color-ltr {
    &.theme-light {
        & .mod-right-split .workspace-tab-header.is-active.is-active {
            &:nth-child(3n+1) {
                color: var(--color-l-yellow-500);
                border: 1px solid var(--color-l-yellow-500);
            }
        
            &:nth-child(3n+2) {
                color: var(--color-l-red-500);
                border: 1px solid var(--color-l-red-500);
            }
        
            &:nth-child(3n+3) {
                color: var(--color-l-blue-500);
                border: 1px solid var(--color-l-blue-500);
            }
        }
    }

    &.theme-dark {
        & .mod-right-split .workspace-tab-header.is-active.is-active {
            &:nth-child(3n+1) {
                color: var(--color-d-yellow-700);
                border: 1px solid var(--color-d-yellow-700);
            }
        
            &:nth-child(3n+2) {
                color: var(--color-d-red-700);
                border: 1px solid var(--color-d-red-700);
            }
        
            &:nth-child(3n+3) {
                color: var(--color-d-blue-700);
                border: 1px solid var(--color-d-blue-700);
            }
        }
    }
}

/* Wrap */
.tab-header__wrap {
    .workspace-tab-header {
        margin-left: var(--scale-2-1);
        margin-right: var(--scale-2-1);
    }

    .workspace-tab-container-inner {
        margin-left: var(--scale-2-1);
        margin-right: var(--scale-2-1);
        flex-wrap: wrap;
    }
    
    &.tab-header__size-small {
        .workspace-tab-container-inner {
            margin-left: var(--scale-0-0);
            margin-right: var(--scale-0-0);
            flex-wrap: wrap;
        }
    }
}

/* Animation */
.tab-header__anim-none {
    & .workspace-tab-header.workspace-tab-header.workspace-tab-header {
        &:not(.is-active):hover,
        &:active {
            box-shadow: none;
            transform: none;
            transition: none;
        }
    }
}

/*────────── header-size__preset ──────────*/
body.header-size {
    &__medium { /* 1.24 Scale Ratio */
        --h1: 1.907em;
        --h2: 1.707em;
        --h3: 1.538em;
        --h4: 1.377em;
        --h5: 1.24em;
        --h6: 1.11em;
    }

    &__small { /* 1.12 Scale Ratio */
        --h1: 1.405em;
        --h2: 1.33em;
        --h3: 1.254em;
        --h4: 1.187em;
        --h5: 1.12em;
        --h6: 1.06em;
    }
}

/*────────── header-color__preset ──────────*/
.theme-light { 
    &.header-color__yrb { /* YRB Light Mode Colors */
        --h1-text-color: var(--color-l-yellow-700);
        --h2-text-color: var(--color-l-red-700);
        --h3-text-color: var(--color-l-blue-700);
        --h4-text-color: var(--color-l-yellow-700);
        --h5-text-color: var(--color-l-red-700);
        --h6-text-color: var(--color-l-blue-700);
    }

    &.header-color__ogv { /* OGV Light Mode Colors */
        --h1-text-color: var(--color-l-orange-700);
        --h2-text-color: var(--color-l-green-700);
        --h3-text-color: var(--color-l-violet-700);
        --h4-text-color: var(--color-l-orange-700);
        --h5-text-color: var(--color-l-green-700);
        --h6-text-color: var(--color-l-violet-700);
    }

    &.header-color__rainbow { /* Rainbow Light Mode Colors */
        --h1-text-color: var(--color-l-red-700);
        --h2-text-color: var(--color-l-orange-500);
        --h3-text-color: var(--color-l-yellow-700);
        --h4-text-color: var(--color-l-green-700);
        --h5-text-color: var(--color-l-blue-700);
        --h6-text-color: var(--color-l-violet-700);
    }
}

.theme-dark {
    &.header-color__yrb { /* YRB Dark Mode Colors */
        --h1-text-color: var(--color-d-yellow-300);
        --h2-text-color: var(--color-d-red-300);
        --h3-text-color: var(--color-d-blue-500);
        --h4-text-color: var(--color-d-yellow-300);
        --h5-text-color: var(--color-d-red-300);
        --h6-text-color: var(--color-d-blue-500);
    }

    &.header-color__ogv { /* OGV Dark Mode Colors */
        --h1-text-color: var(--color-d-orange-300);
        --h2-text-color: var(--color-d-green-300);
        --h3-text-color: var(--color-d-violet-500);
        --h4-text-color: var(--color-d-orange-300);
        --h5-text-color: var(--color-d-green-300);
        --h6-text-color: var(--color-d-violet-500);
    }

    &.header-color__rainbow { /* Rainbow Dark Mode Colors */
        --h1-text-color: var(--color-d-red-300);
        --h2-text-color: var(--color-d-orange-300);
        --h3-text-color: var(--color-d-yellow-300);
        --h4-text-color: var(--color-d-green-500);
        --h5-text-color: var(--color-d-blue-500);
        --h6-text-color: var(--color-d-violet-300);
    }
}

/*────────── header features ──────────*/
body {
    --h1-bg-color: var(--color-highlight-red);
    --h2-bg-color: var(--color-highlight-orange);
    --h3-bg-color: var(--color-highlight-yellow);
    --h4-bg-color: var(--color-highlight-green);
    --h5-bg-color: var(--color-highlight-blue);
    --h6-bg-color: var(--color-highlight-violet);

    --h1-border-width: 1px;
    --h2-border-width: 1px;
    --h3-border-width: 1px;
    --h4-border-width: 1px;
    --h5-border-width: 1px;
    --h6-border-width: 1px;

    --h1-border-color: var(--background-modifier-border);
    --h2-border-color: var(--background-modifier-border);
    --h3-border-color: var(--background-modifier-border);
    --h4-border-color: var(--background-modifier-border);
    --h5-border-color: var(--background-modifier-border);
    --h6-border-color: var(--background-modifier-border);

    --h1-border-radius: 0px;
    --h2-border-radius: 0px;
    --h3-border-radius: 0px;
    --h4-border-radius: 0px;
    --h5-border-radius: 0px;
    --h6-border-radius: 0px;

    --h1-text-align: left;
    --h2-text-align: left;
    --h3-text-align: left;
    --h4-text-align: left;
    --h5-text-align: left;
    --h6-text-align: left;
}

.CodeMirror-line.HyperMD-header,
.cm-line.HyperMD-header {
    &-1 {
        /* add background */
        .h1-background & {
            background: var(--h1-bg-color);
            padding: var(--scale-2-2) var(--scale-2-4);
            border-radius: var(--h1-border-radius);
        }

        /* add border at the bottom */
        .h1-border & {
            padding-bottom: var(--scale-2-4);
            border-bottom: var(--h1-border-width) solid var(--h1-border-color);
            border-radius: var(--h1-border-radius);
        }

        /* text align */
        text-align: var(--h1-text-align);
    }
    &-2 {
        /* add background */
        .h2-background & {
            background: var(--h2-bg-color);
            padding: var(--scale-2-2) var(--scale-2-4);
            border-radius: var(--h2-border-radius);
        }

        /* add border at the bottom */
        .h2-border & {
            padding-bottom: var(--scale-2-4);
            border-bottom: 1px solid var(--h2-border-color);
            border-radius: var(--h2-border-radius);
        }

        /* text align */
        text-align: var(--h2-text-align);
    }
    &-3 {
        /* add background */
        .h3-background & {
            background: var(--h3-bg-color);
            padding: var(--scale-2-2) var(--scale-2-4);
            border-radius: var(--h3-border-radius);
        }

        /* add border at the bottom */
        .h3-border & {
            padding-bottom: var(--scale-2-4);
            border-bottom: 1px solid var(--h3-border-color);
            border-radius: var(--h3-border-radius);
        }

        /* text align */
        text-align: var(--h3-text-align);
    }
    &-4 {
        /* add background */
        .h4-background & {
            background: var(--h4-bg-color);
            padding: var(--scale-2-2) var(--scale-2-4);
            border-radius: var(--h4-border-radius);
        }

        /* add border at the bottom */
        .h4-border & {
            padding-bottom: var(--scale-2-4);
            border-bottom: 1px solid var(--h4-border-color);
            border-radius: var(--h4-border-radius);
        }

        /* text align */
        text-align: var(--h4-text-align);
    }
    &-5 {
        /* add background */
        .h5-background & {
            background: var(--h5-bg-color);
            padding: var(--scale-2-2) var(--scale-2-4);
            border-radius: var(--h5-border-radius);
        }

        /* add border at the bottom */
        .h5-border & {
            padding-bottom: var(--scale-2-4);
            border-bottom: 1px solid var(--h5-border-color);
            border-radius: var(--h5-border-radius);
        }

        /* text align */
        text-align: var(--h5-text-align);
    }
    &-6 {
        /* add background */
        .h6-background & {
            background: var(--h6-bg-color);
            padding: var(--scale-2-2) var(--scale-2-4);
            border-radius: var(--h6-border-radius);
        }

        /* add border at the bottom */
        .h6-border & {
            padding-bottom: var(--scale-2-4);
            border-bottom: 1px solid var(--h6-border-color);
            border-radius: var(--h6-border-radius);
        }

        /* text align */
        text-align: var(--h6-text-align);
    }
}

h1 {
    /* add background */
    .h1-background & {
        background: var(--h1-bg-color);
        padding: var(--scale-2-2) var(--scale-2-4);
        border-radius: var(--h1-border-radius);
    }

    /* add border at the bottom */
    .h1-border & {
        padding-bottom: var(--scale-2-4);
        border-bottom: var(--h1-border-width) solid var(--h1-border-color);
        border-radius: var(--h1-border-radius);
    }

    /* text align */
    text-align: var(--h1-text-align);
}

h2 {
    /* add background */
    .h2-background & {
        background: var(--h2-bg-color);
        padding: var(--scale-2-2) var(--scale-2-4);
        border-radius: var(--h2-border-radius);
    }

    /* add border at the bottom */
    .h2-border & {
        padding-bottom: var(--scale-2-4);
        border-bottom: 1px solid var(--h2-border-color);
        border-radius: var(--h2-border-radius);
    }

    /* text align */
    text-align: var(--h2-text-align);
}

h3 {
    /* add background */
    .h3-background & {
        background: var(--h3-bg-color);
        padding: var(--scale-2-2) var(--scale-2-4);
        border-radius: var(--h3-border-radius);
    }

    /* add border at the bottom */
    .h3-border & {
        padding-bottom: var(--scale-2-4);
        border-bottom: 1px solid var(--h3-border-color);
        border-radius: var(--h3-border-radius);
    }

    /* text align */
    text-align: var(--h3-text-align);
}

h4 {
    /* add background */
    .h4-background & {
        background: var(--h4-bg-color);
        padding: var(--scale-2-2) var(--scale-2-4);
        border-radius: var(--h4-border-radius);
    }

    /* add border at the bottom */
    .h4-border & {
        padding-bottom: var(--scale-2-4);
        border-bottom: 1px solid var(--h4-border-color);
        border-radius: var(--h4-border-radius);
    }

    /* text align */
    text-align: var(--h4-text-align);
}

h5 {
    /* add background */
    .h5-background & {
        background: var(--h5-bg-color);
        padding: var(--scale-2-2) var(--scale-2-4);
        border-radius: var(--h5-border-radius);
    }

    /* add border at the bottom */
    .h5-border & {
        padding-bottom: var(--scale-2-4);
        border-bottom: 1px solid var(--h5-border-color);
        border-radius: var(--h5-border-radius);
    }

    /* text align */
    text-align: var(--h5-text-align);
}

h6 {
    /* add background */
    .h6-background & {
        background: var(--h6-bg-color);
        padding: var(--scale-2-2) var(--scale-2-4);
        border-radius: var(--h6-border-radius);
    }

    /* add border at the bottom */
    .h6-border & {
        padding-bottom: var(--scale-2-4);
        border-bottom: 1px solid var(--h6-border-color);
        border-radius: var(--h6-border-radius);
    }

    /* text align */
    text-align: var(--h6-text-align);
}

/*────────── note ──────────*/
/* multicolor highlight */
.no-multicolor-highlight {
    --md-color-highlight-text: var(--text-normal);
    --md-color-highlight-bg: var(--color-highlight-yellow);

    --md-color-bold-highlight-text: var(--text-normal);
    --md-color-bold-highlight-bg: var(--color-highlight-yellow);

    --md-color-italic-highlight-text: var(--text-normal);
    --md-color-italic-highlight-bg: var(--color-highlight-yellow);

    --md-color-bi-highlight-text: var(--text-normal);
    --md-color-bi-highlight-bg: var(--color-highlight-yellow);
}

/* bullet color */
.md-bullet-color-muted {
    &.theme-light,
    &.theme-dark {
        & span.cm-formatting.cm-formatting-list,
        & span.list-bullet,
        & li::marker {
            color: var(--md-color-text-muted);
        }
    }
}

.md-bullet-color-normal {
    &.theme-light,
    &.theme-dark {
        & span.cm-formatting.cm-formatting-list,
        & span.list-bullet,
        & li::marker {
            color: var(--md-color-text);
        }
    }
}

/* center embeds */
body.center-embeds {
    & img {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    
    & .markdown-source-view.mod-cm6 .cm-content > * {
        margin: auto auto !important;
    }
}

/* embed styling */
.note-embeds__style-minimal {
    .popover .markdown-embed,
    .markdown-embed {
        border: 0px solid transparent;
        
        .markdown-preview-view {
            padding: 0 var(--scale-8-3);
        }

        &-title {
            display: none;
        }
    }
}

.note-embeds__style-clean {
    .popover .markdown-embed,
    .markdown-embed {
        --md-embed-bg: transparent;

        background: var(--md-embed-bg);
        border: 0px solid transparent;
        border-radius: 0;

        &-content.markdown-embed-content.markdown-embed-content.markdown-embed-content.markdown-embed-content::-webkit-scrollbar-thumb {
            border-color: var(--md-embed-bg);
        }

        &-title {
            display: none;
        }

        & .markdown-preview-view {
            padding: 0
                    var(--scale-2-4)
                    0
                    var(--scale-2-4);
        }
    }
}

.full-height-embeds {
    .markdown-embed-content {
        max-height: unset;
    }

    .markdown-preview-sizer.markdown-preview-section {
        padding-bottom: 0 !important;
    }
}

/* hide metadata box in preview */
.hide__metadata-box {
    & .frontmatter-container {
        display: none;
    }
}

/* checkbox border radius style */
.squircle__checkbox {
    --ch-radius: var(--scale-2-3);
    --ach-radius-noborder: var(--scale-0-0);
    --ach-radius-curved: var(--scale-2-3);
    --ach-radius-squircle: var(--scale-2-3);
    --ach-radius-round: var(--scale-2-3);
}

.circle__checkbox {
    --ch-radius: var(--scale-8-2);
    --ach-radius-noborder: var(--scale-0-0);
    --ach-radius-curved: var(--scale-2-2);
    --ach-radius-squircle: var(--scale-8-2);
    --ach-radius-round: var(--scale-8-2);
}

.square__checkbox {
    --ch-radius: var(--scale-0-0);
    --ach-radius-noborder: var(--scale-0-0);
    --ach-radius-curved: var(--scale-0-0);
    --ach-radius-squircle: var(--scale-0-0);
    --ach-radius-round: var(--scale-0-0);
}