/*────────────────────────────────────
        Alternative Checkboxes
──────────────────────────────────────*/
/*──────────Checkbox List Text──────────*/
/* Normal Text */
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task]:is([data-task="!"],[data-task="/"],[data-task="?"],[data-task="n"],[data-task="*"],[data-task="l"],[data-task="i"],[data-task="<"],[data-task="S"],[data-task="\""],[data-task="I"],[data-task="p"],[data-task="c"],[data-task="b"]),
ul > li.task-list-item.is-checked[data-task]:is([data-task="!"],[data-task="/"],[data-task="?"],[data-task="n"],[data-task="*"],[data-task="l"],[data-task="i"],[data-task="<"],[data-task="S"],[data-task="\""],[data-task="I"],[data-task="p"],[data-task="c"],[data-task="b"]) {
    color: var(--md-color-text);
    text-decoration: none;
}

/* Muted Text */
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task]:is([data-task=">"],[data-task="-"]),
ul > li.task-list-item.is-checked[data-task]:is([data-task=">"],[data-task="-"]) {
    color: var(--md-color-text-muted);
    text-decoration: none;
}

/*──────────Icons & Background Color──────────*/
// :root .theme-light {
//     --alt-cb-bg-color-unchecked: ;
//     --alt-cb-bg-color-checked: ;
//     --alt-cb-bg-color-resched: ;
//     --alt-cb-bg-color-sched: ;
//     --alt-cb-bg-color-important: ;
//     --alt-cb-bg-color-cancelled: ;
//     --alt-cb-bg-color-inprogress: ;
//     --alt-cb-bg-color-question: ;
//     --alt-cb-bg-color-star: ;
//     --alt-cb-bg-color-location: ;
//     --alt-cb-bg-color-info: ;
//     --alt-cb-bg-color-money: ;
//     --alt-cb-bg-color-quote: ;
//     --alt-cb-bg-color-idea: ;
//     --alt-cb-bg-color-pro: ;
//     --alt-cb-bg-color-con: ;
//     --alt-cb-bg-color-bookmark: ;
// }

// :root .theme-dark {
//     --alt-cb-bg-color-unchecked: ;
//     --alt-cb-bg-color-checked: ;
//     --alt-cb-bg-color-resched: ;
//     --alt-cb-bg-color-sched: ;
//     --alt-cb-bg-color-important: ;
//     --alt-cb-bg-color-cancelled: ;
//     --alt-cb-bg-color-inprogress: ;
//     --alt-cb-bg-color-question: ;
//     --alt-cb-bg-color-star: ;
//     --alt-cb-bg-color-location: ;
//     --alt-cb-bg-color-info: ;
//     --alt-cb-bg-color-money: ;
//     --alt-cb-bg-color-quote: ;
//     --alt-cb-bg-color-idea: ;
//     --alt-cb-bg-color-pro: ;
//     --alt-cb-bg-color-con: ;
//     --alt-cb-bg-color-bookmark: ;
// }

/* x — Checked */
input[data-task="x"],
li[data-task="x"] > input {
    &:checked {
        background-position: center;
        background-size: 72%;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z'/%3E%3C/svg%3E");
    }
}

/* > — Rescheduled/Moved */
input[data-task=">"],
li[data-task=">"] > input {
    &:checked {
        background-position: center;
        background-size: 50%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 256 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z'/%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-blue-500);
            border: 1px solid rgba(0, 0, 0, 0.15);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-blue-900);
            border: 1px solid rgba(255, 255, 255, 0.2);
        }
    }
}

/* < — Schedule */
input[data-task="<"],
li[data-task="<"] > input {
    &:checked {
        background-position: center;
        background-size: 92%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(255, 255, 255, 1);transform: ;msFilter:;'%3E%3Cpath d='M11 12h6v6h-6z'%3E%3C/path%3E%3Cpath d='M19 4h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm.001 16H5V8h14l.001 12z'%3E%3C/path%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-gray-80);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-gray-40);
        }
    }
}

/* ! — Important */
input[data-task="!"],
li[data-task="!"] > input {
    &:checked {
        background-position: center;
        background-size: 22%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 128 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M64 352c17.69 0 32-14.32 32-31.1V64.01c0-17.67-14.31-32.01-32-32.01S32 46.34 32 64.01v255.1C32 337.7 46.31 352 64 352zM64 400c-22.09 0-40 17.91-40 40s17.91 39.1 40 39.1s40-17.9 40-39.1S86.09 400 64 400z'/%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-red-500);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-red-900);
        }
    }
}

/* - — Cancelled */
input[data-task="-"],
li[data-task="-"] > input {
    &:checked {
        background-position: center;
        background-size: 67%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z'/%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-black);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-black);
        }
    }
}

/* / — In Progress */
input[data-task="/"],
li[data-task="/"] > input {
    &:checked {
        background-image: none;
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-gray-50);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-gray-30);
        }
    }
}

/* ? — Question */
input[data-task="?"],
li[data-task="?"] > input {
    border-radius: var(--scale-2-8);

    &:checked {
        background-position: center;
        background-size: 48%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M204.3 32.01H96c-52.94 0-96 43.06-96 96c0 17.67 14.31 31.1 32 31.1s32-14.32 32-31.1c0-17.64 14.34-32 32-32h108.3C232.8 96.01 256 119.2 256 147.8c0 19.72-10.97 37.47-30.5 47.33L127.8 252.4C117.1 258.2 112 268.7 112 280v40c0 17.67 14.31 31.99 32 31.99s32-14.32 32-31.99V298.3L256 251.3c39.47-19.75 64-59.42 64-103.5C320 83.95 268.1 32.01 204.3 32.01zM144 400c-22.09 0-40 17.91-40 40s17.91 39.1 40 39.1s40-17.9 40-39.1S166.1 400 144 400z'/%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-yellow-700);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-yellow-700);
        }
    }
}

/* n — Note */
input[data-task="n"],
li[data-task="n"] > input {
    border-radius: var(--scale-2-1);

    &:checked {
        background-position: center;
        background-size: 60%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 384 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M32 32C32 14.33 46.33 0 64 0H320C337.7 0 352 14.33 352 32C352 49.67 337.7 64 320 64H290.5L301.9 212.2C338.6 232.1 367.5 265.4 381.4 306.9L382.4 309.9C385.6 319.6 383.1 330.4 377.1 338.7C371.9 347.1 362.3 352 352 352H32C21.71 352 12.05 347.1 6.04 338.7C.0259 330.4-1.611 319.6 1.642 309.9L2.644 306.9C16.47 265.4 45.42 232.1 82.14 212.2L93.54 64H64C46.33 64 32 49.67 32 32zM224 384V480C224 497.7 209.7 512 192 512C174.3 512 160 497.7 160 480V384H224z'/%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-red-500);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-red-900);
        }
    }
}

/* * — Star */
input[data-task="*"],
li[data-task="*"] > input {
    border-radius: var(--scale-2-8);

    &:checked {
        background-position: center;
        background-size: 80%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: white;transform: ;msFilter:;'%3E%3Cpath d='M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z'%3E%3C/path%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-orange-500);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-orange-500);
        }
    }
}

/* l — Location */
input[data-task="l"],
li[data-task="l"] > input {
    &:checked {
        background-position: center;
        background-size: 65%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 384 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z'/%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-red-700);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-red-700);
        }
    }
}

/* i — Info */
input[data-task="i"],
li[data-task="i"] > input {
    border-radius: var(--scale-2-8);

    &:checked {
        background-position: center;
        background-size: 26%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 192 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M160 448h-32V224c0-17.69-14.33-32-32-32L32 192c-17.67 0-32 14.31-32 32s14.33 31.1 32 31.1h32v192H32c-17.67 0-32 14.31-32 32s14.33 32 32 32h128c17.67 0 32-14.31 32-32S177.7 448 160 448zM96 128c26.51 0 48-21.49 48-48S122.5 32.01 96 32.01s-48 21.49-48 48S69.49 128 96 128z'/%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-blue-700);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-blue-700);
        }
    }
}

/* S — Amount */
input[data-task="S"],
li[data-task="S"] > input {
    border-radius: var(--scale-2-8);

    &:checked {
        background-position: center;
        background-size: 95%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: white;transform: ;msFilter:;'%3E%3Cpath d='M15.999 8.5h2c0-2.837-2.755-4.131-5-4.429V2h-2v2.071c-2.245.298-5 1.592-5 4.429 0 2.706 2.666 4.113 5 4.43v4.97c-1.448-.251-3-1.024-3-2.4h-2c0 2.589 2.425 4.119 5 4.436V22h2v-2.07c2.245-.298 5-1.593 5-4.43s-2.755-4.131-5-4.429V6.1c1.33.239 3 .941 3 2.4zm-8 0c0-1.459 1.67-2.161 3-2.4v4.799c-1.371-.253-3-1.002-3-2.399zm8 7c0 1.459-1.67 2.161-3 2.4v-4.8c1.33.239 3 .941 3 2.4z'%3E%3C/path%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-yellow-900);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-yellow-900);
        }
    }
}

/* " — Quote */
input[data-task="\""], 
li[data-task="\""] > input {
    &:checked {
        background-position: center;
        background-size: 80%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(255, 255, 255, 1);transform: ;msFilter:;'%3E%3Cpath d='m21.95 8.721-.025-.168-.026.006A4.5 4.5 0 1 0 17.5 14c.223 0 .437-.034.65-.065-.069.232-.14.468-.254.68-.114.308-.292.575-.469.844-.148.291-.409.488-.601.737-.201.242-.475.403-.692.604-.213.21-.492.315-.714.463-.232.133-.434.28-.65.35l-.539.222-.474.197.484 1.939.597-.144c.191-.048.424-.104.689-.171.271-.05.56-.187.882-.312.317-.143.686-.238 1.028-.467.344-.218.741-.4 1.091-.692.339-.301.748-.562 1.05-.944.33-.358.656-.734.909-1.162.293-.408.492-.856.702-1.299.19-.443.343-.896.468-1.336.237-.882.343-1.72.384-2.437.034-.718.014-1.315-.028-1.747a7.028 7.028 0 0 0-.063-.539zm-11 0-.025-.168-.026.006A4.5 4.5 0 1 0 6.5 14c.223 0 .437-.034.65-.065-.069.232-.14.468-.254.68-.114.308-.292.575-.469.844-.148.291-.409.488-.601.737-.201.242-.475.403-.692.604-.213.21-.492.315-.714.463-.232.133-.434.28-.65.35l-.539.222c-.301.123-.473.195-.473.195l.484 1.939.597-.144c.191-.048.424-.104.689-.171.271-.05.56-.187.882-.312.317-.143.686-.238 1.028-.467.344-.218.741-.4 1.091-.692.339-.301.748-.562 1.05-.944.33-.358.656-.734.909-1.162.293-.408.492-.856.702-1.299.19-.443.343-.896.468-1.336.237-.882.343-1.72.384-2.437.034-.718.014-1.315-.028-1.747a7.571 7.571 0 0 0-.064-.537z'%3E%3C/path%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-violet-700);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-violet-700);
        }
    }
}

/* I — Idea / Lightbulb */
input[data-task="I"], 
li[data-task="I"] > input {
    border-radius: var(--scale-2-8);

    &:checked {
        background-position: center;
        background-size: 90%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='36' height='36' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E&lt;!--! Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons --&gt;%3Cpath d='M19,9a7,7,0,0,1-4,6.32V18H9V15.32A7,7,0,1,1,19,9Z'%3E%3C/path%3E%3Cline x1='9' y1='22' x2='15' y2='22'%3E%3C/line%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-yellow-700);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-yellow-700);
        }
    }
}

/* p - Pro */
input[data-task="p"], 
li[data-task="p"] > input {
    &:checked {
        background-position: center;
        background-size: 90%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='36' height='36' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E&lt;!--! Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons --&gt;%3Cpath d='M7,9l4-7h.69a2,2,0,0,1,2,2.28L13,9h6.67a2,2,0,0,1,2,2.3l-1.39,9a2,2,0,0,1-2,1.7H7Z'%3E%3C/path%3E%3Cpath d='M2,11v9a2,2,0,0,0,2,2H7V9H4A2,2,0,0,0,2,11Z'%3E%3C/path%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-green-700);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-green-700);
        }
    }
}

/* c - Con */
input[data-task="c"], 
li[data-task="c"] > input {
    &:checked {
        background-position: center;
        background-size: 90%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='36' height='36' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E&lt;!--! Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons --&gt;%3Cpath d='M7,9l4-7h.69a2,2,0,0,1,2,2.28L13,9h6.67a2,2,0,0,1,2,2.3l-1.39,9a2,2,0,0,1-2,1.7H7Z'%3E%3C/path%3E%3Cpath d='M2,11v9a2,2,0,0,0,2,2H7V9H4A2,2,0,0,0,2,11Z'%3E%3C/path%3E%3C/svg%3E");
        transform: scaleY(-1);
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-red-700);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-red-700);
        }
    }
}

/* b - Bookmark */
input[data-task="b"], 
li[data-task="b"] > input {
    &:checked {
        background-position: center;
        background-size: 90%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(255, 255, 255, 1);transform: ;msFilter:;'%3E%3Cpath d='M19 10.132v-6c0-1.103-.897-2-2-2H7c-1.103 0-2 .897-2 2V22l7-4.666L19 22V10.132z'%3E%3C/path%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-red-700);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-red-900);
        }
    }
}
