/*────────────────────────────────────
        Alternative Checkboxes
──────────────────────────────────────*/
/*──────────Checkbox List Text──────────*/
/* Normal Text */
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task]:is([data-task="!"],[data-task="/"],[data-task="?"],[data-task="n"],[data-task="*"],[data-task="l"],[data-task="i"],[data-task="<"],[data-task="S"],[data-task="\""],[data-task="I"],[data-task="b"],[data-task="p"],[data-task="v"],[data-task="B"]),
ul > li.task-list-item.is-checked[data-task]:is([data-task="!"],[data-task="/"],[data-task="?"],[data-task="n"],[data-task="*"],[data-task="l"],[data-task="i"],[data-task="<"],[data-task="S"],[data-task="\""],[data-task="I"],[data-task="b"],[data-task="p"],[data-task="v"],[data-task="B"]) {
    color: var(--md-color-text);
    text-decoration: none;
}

/* Muted Text */
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task]:is([data-task=">"]),
ul > li.task-list-item.is-checked[data-task]:is([data-task=">"]) {
    color: var(--md-color-text-muted);
    text-decoration: none;
}

/*──────────Icons & Background Color──────────*/
/* > — Rescheduled/Moved */
input.task-list-item-checkbox[data-task=">"],
li[data-task=">"] input.task-list-item-checkbox {
    &:checked {
        background-position: 5px center;
        background-size: 50%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 256 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z'/%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-blue-500);
            border: 1px solid rgba(0, 0, 0, 0.15);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-blue-900);
            border: 1px solid rgba(255, 255, 255, 0.2);
        }
    }
}

/* < — Schedule */
input.task-list-item-checkbox[data-task="<"],
li[data-task="<"] input.task-list-item-checkbox {
    &:checked {
        background-position: 0.5px 0.5px;
        background-size: 92%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(255, 255, 255, 1);transform: ;msFilter:;'%3E%3Cpath d='M11 12h6v6h-6z'%3E%3C/path%3E%3Cpath d='M19 4h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm.001 16H5V8h14l.001 12z'%3E%3C/path%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-gray-80);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-gray-40);
        }
    }
}

/* ! — Important */
input.task-list-item-checkbox[data-task="!"],
li[data-task="!"] input.task-list-item-checkbox {
    &:checked {
        background-position: 7px center;
        background-size: 22%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 128 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M64 352c17.69 0 32-14.32 32-31.1V64.01c0-17.67-14.31-32.01-32-32.01S32 46.34 32 64.01v255.1C32 337.7 46.31 352 64 352zM64 400c-22.09 0-40 17.91-40 40s17.91 39.1 40 39.1s40-17.9 40-39.1S86.09 400 64 400z'/%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-red-500);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-red-900);
        }
    }
}

/* - — Cancelled */
input.task-list-item-checkbox[data-task="-"],
li[data-task="-"] input.task-list-item-checkbox {
    &:checked {
        background-position: 3px center;
        background-size: 67%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z'/%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-black);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-black);
        }
    }
}

/* / — In Progress */
input.task-list-item-checkbox[data-task="/"],
li[data-task="/"] input.task-list-item-checkbox {
    &:checked {
        background-image: none;
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-gray-50);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-gray-30);
        }
    }
}

/* ? — Question */
input.task-list-item-checkbox[data-task="?"],
li[data-task="?"] input.task-list-item-checkbox {
    border-radius: var(--scale-2-8);

    &:checked {
        background-position: 4.8px center;
        background-size: 48%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M204.3 32.01H96c-52.94 0-96 43.06-96 96c0 17.67 14.31 31.1 32 31.1s32-14.32 32-31.1c0-17.64 14.34-32 32-32h108.3C232.8 96.01 256 119.2 256 147.8c0 19.72-10.97 37.47-30.5 47.33L127.8 252.4C117.1 258.2 112 268.7 112 280v40c0 17.67 14.31 31.99 32 31.99s32-14.32 32-31.99V298.3L256 251.3c39.47-19.75 64-59.42 64-103.5C320 83.95 268.1 32.01 204.3 32.01zM144 400c-22.09 0-40 17.91-40 40s17.91 39.1 40 39.1s40-17.9 40-39.1S166.1 400 144 400z'/%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-yellow-700);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-yellow-700);
        }
    }
}

/* n — Note */
input.task-list-item-checkbox[data-task="n"],
li[data-task="n"] input.task-list-item-checkbox {
    border-radius: var(--scale-2-1);

    &:checked {
        background-position: center;
        background-size: 60%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 384 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M32 32C32 14.33 46.33 0 64 0H320C337.7 0 352 14.33 352 32C352 49.67 337.7 64 320 64H290.5L301.9 212.2C338.6 232.1 367.5 265.4 381.4 306.9L382.4 309.9C385.6 319.6 383.1 330.4 377.1 338.7C371.9 347.1 362.3 352 352 352H32C21.71 352 12.05 347.1 6.04 338.7C.0259 330.4-1.611 319.6 1.642 309.9L2.644 306.9C16.47 265.4 45.42 232.1 82.14 212.2L93.54 64H64C46.33 64 32 49.67 32 32zM224 384V480C224 497.7 209.7 512 192 512C174.3 512 160 497.7 160 480V384H224z'/%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-red-500);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-red-900);
        }
    }
}

/* * — Star */
input.task-list-item-checkbox[data-task="*"],
li[data-task="*"] input.task-list-item-checkbox {
    border-radius: var(--scale-2-8);

    &:checked {
        background-position: 2.25px 2px;
        background-size: 80%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 576 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z'/%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-orange-500);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-orange-500);
        }
    }
}

/* l — Location */
input.task-list-item-checkbox[data-task="l"],
li[data-task="l"] input.task-list-item-checkbox {
    &:checked {
        background-position: 3px 1px;
        background-size: 65%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 384 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z'/%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-red-700);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-red-700);
        }
    }
}

/* i — Info */
input.task-list-item-checkbox[data-task="i"],
li[data-task="i"] input.task-list-item-checkbox {
    border-radius: var(--scale-2-8);

    &:checked {
        background-position: 6.8px 1.2px;
        background-size: 30%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 192 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M160 448h-32V224c0-17.69-14.33-32-32-32L32 192c-17.67 0-32 14.31-32 32s14.33 31.1 32 31.1h32v192H32c-17.67 0-32 14.31-32 32s14.33 32 32 32h128c17.67 0 32-14.31 32-32S177.7 448 160 448zM96 128c26.51 0 48-21.49 48-48S122.5 32.01 96 32.01s-48 21.49-48 48S69.49 128 96 128z'/%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-blue-700);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-blue-700);
        }
    }
}

/* S — Amount */
input.task-list-item-checkbox[data-task="S"],
li[data-task="S"] input.task-list-item-checkbox {
    border-radius: var(--scale-2-8);

    &:checked {
        background-position: 4.6px center;
        background-size: 50%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M160 0C177.7 0 192 14.33 192 32V67.68C193.6 67.89 195.1 68.12 196.7 68.35C207.3 69.93 238.9 75.02 251.9 78.31C268.1 82.65 279.4 100.1 275 117.2C270.7 134.3 253.3 144.7 236.1 140.4C226.8 137.1 198.5 133.3 187.3 131.7C155.2 126.9 127.7 129.3 108.8 136.5C90.52 143.5 82.93 153.4 80.92 164.5C78.98 175.2 80.45 181.3 82.21 185.1C84.1 189.1 87.79 193.6 95.14 198.5C111.4 209.2 136.2 216.4 168.4 225.1L171.2 225.9C199.6 233.6 234.4 243.1 260.2 260.2C274.3 269.6 287.6 282.3 295.8 299.9C304.1 317.7 305.9 337.7 302.1 358.1C295.1 397 268.1 422.4 236.4 435.6C222.8 441.2 207.8 444.8 192 446.6V480C192 497.7 177.7 512 160 512C142.3 512 128 497.7 128 480V445.1C127.6 445.1 127.1 444.1 126.7 444.9L126.5 444.9C102.2 441.1 62.07 430.6 35 418.6C18.85 411.4 11.58 392.5 18.76 376.3C25.94 360.2 44.85 352.9 60.1 360.1C81.9 369.4 116.3 378.5 136.2 381.6C168.2 386.4 194.5 383.6 212.3 376.4C229.2 369.5 236.9 359.5 239.1 347.5C241 336.8 239.6 330.7 237.8 326.9C235.9 322.9 232.2 318.4 224.9 313.5C208.6 302.8 183.8 295.6 151.6 286.9L148.8 286.1C120.4 278.4 85.58 268.9 59.76 251.8C45.65 242.4 32.43 229.7 24.22 212.1C15.89 194.3 14.08 174.3 17.95 153C25.03 114.1 53.05 89.29 85.96 76.73C98.98 71.76 113.1 68.49 128 66.73V32C128 14.33 142.3 0 160 0V0z'/%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-yellow-900);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-yellow-900);
        }
    }
}

/* " — Quote */
input.task-list-item-checkbox[data-task="\""], 
li[data-task="\""] input.task-list-item-checkbox {
    &:checked {
        background-position: center;
        background-size: 80%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(255, 255, 255, 1);transform: ;msFilter:;'%3E%3Cpath d='m21.95 8.721-.025-.168-.026.006A4.5 4.5 0 1 0 17.5 14c.223 0 .437-.034.65-.065-.069.232-.14.468-.254.68-.114.308-.292.575-.469.844-.148.291-.409.488-.601.737-.201.242-.475.403-.692.604-.213.21-.492.315-.714.463-.232.133-.434.28-.65.35l-.539.222-.474.197.484 1.939.597-.144c.191-.048.424-.104.689-.171.271-.05.56-.187.882-.312.317-.143.686-.238 1.028-.467.344-.218.741-.4 1.091-.692.339-.301.748-.562 1.05-.944.33-.358.656-.734.909-1.162.293-.408.492-.856.702-1.299.19-.443.343-.896.468-1.336.237-.882.343-1.72.384-2.437.034-.718.014-1.315-.028-1.747a7.028 7.028 0 0 0-.063-.539zm-11 0-.025-.168-.026.006A4.5 4.5 0 1 0 6.5 14c.223 0 .437-.034.65-.065-.069.232-.14.468-.254.68-.114.308-.292.575-.469.844-.148.291-.409.488-.601.737-.201.242-.475.403-.692.604-.213.21-.492.315-.714.463-.232.133-.434.28-.65.35l-.539.222c-.301.123-.473.195-.473.195l.484 1.939.597-.144c.191-.048.424-.104.689-.171.271-.05.56-.187.882-.312.317-.143.686-.238 1.028-.467.344-.218.741-.4 1.091-.692.339-.301.748-.562 1.05-.944.33-.358.656-.734.909-1.162.293-.408.492-.856.702-1.299.19-.443.343-.896.468-1.336.237-.882.343-1.72.384-2.437.034-.718.014-1.315-.028-1.747a7.571 7.571 0 0 0-.064-.537z'%3E%3C/path%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-violet-700);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-violet-700);
        }
    }
}

/* I — Idea / Lightbulb */
input.task-list-item-checkbox[data-task="I"], 
li[data-task="I"] input.task-list-item-checkbox {
    border-radius: var(--scale-2-8);

    &:checked {
        background-position: 1px center;
        background-size: 90%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='36' height='36' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E&lt;!--! Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons --&gt;%3Cpath d='M19,9a7,7,0,0,1-4,6.32V18H9V15.32A7,7,0,1,1,19,9Z'%3E%3C/path%3E%3Cline x1='9' y1='22' x2='15' y2='22'%3E%3C/line%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-yellow-700);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-yellow-700);
        }
    }
}

/* b - Pro */
input.task-list-item-checkbox[data-task="b"], 
li[data-task="b"] input.task-list-item-checkbox {
    &:checked {
        background-position: center;
        background-size: 90%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='36' height='36' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E&lt;!--! Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons --&gt;%3Cpath d='M7,9l4-7h.69a2,2,0,0,1,2,2.28L13,9h6.67a2,2,0,0,1,2,2.3l-1.39,9a2,2,0,0,1-2,1.7H7Z'%3E%3C/path%3E%3Cpath d='M2,11v9a2,2,0,0,0,2,2H7V9H4A2,2,0,0,0,2,11Z'%3E%3C/path%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-green-700);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-green-700);
        }
    }
}

/* p - Con */
input.task-list-item-checkbox[data-task="p"], 
li[data-task="p"] input.task-list-item-checkbox {
    &:checked {
        background-position: center;
        background-size: 90%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='36' height='36' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E&lt;!--! Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons --&gt;%3Cpath d='M7,9l4-7h.69a2,2,0,0,1,2,2.28L13,9h6.67a2,2,0,0,1,2,2.3l-1.39,9a2,2,0,0,1-2,1.7H7Z'%3E%3C/path%3E%3Cpath d='M2,11v9a2,2,0,0,0,2,2H7V9H4A2,2,0,0,0,2,11Z'%3E%3C/path%3E%3C/svg%3E");
        transform: scaleY(-1);
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-red-700);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-red-700);
        }
    }
}

/* v - Bookmark */
input.task-list-item-checkbox[data-task="v"], 
li[data-task="v"] input.task-list-item-checkbox {
    &:checked {
        background-position: 1px center;
        background-size: 90%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(255, 255, 255, 1);transform: ;msFilter:;'%3E%3Cpath d='M19 10.132v-6c0-1.103-.897-2-2-2H7c-1.103 0-2 .897-2 2V22l7-4.666L19 22V10.132z'%3E%3C/path%3E%3C/svg%3E");
    }

    .theme-light & {
        &:checked {
            background-color: var(--color-l-red-700);
        }
    }

    .theme-dark & {
        &:checked {
            background-color: var(--color-d-red-900);
        }
    }
}