progress {
    -webkit-appearance: none;
    appearance: none;
    width: calc(var(--font-text-size) + 220px);
    height: calc(var(--font-text-size) - 8px);
    margin-right: var(--scale-2-4);
    vertical-align: 2px;
    
    &[value]::-webkit-progress-bar {
        background: var(--background-secondary);
        box-shadow: 0px 0px 0px 1px var(--background-modifier-border) inset;
        border-radius: var(--scale-8-2);
        overflow: hidden;
    }

    &[value]::-webkit-progress-value {
        border-radius: var(--scale-8-2);
    }

    &[value="1"]::-webkit-progress-value,
    &[value="2"]::-webkit-progress-value,
    &[value="3"]::-webkit-progress-value,
    &[value="4"]::-webkit-progress-value,
    &[value="5"]::-webkit-progress-value,
    &[value="6"]::-webkit-progress-value,
    &[value="7"]::-webkit-progress-value,
    &[value="8"]::-webkit-progress-value,
    &[value="9"]::-webkit-progress-value,
    &[value="10"]::-webkit-progress-value,
    &[value="11"]::-webkit-progress-value,
    &[value="12"]::-webkit-progress-value,
    &[value="13"]::-webkit-progress-value,
    &[value="14"]::-webkit-progress-value,
    &[value="15"]::-webkit-progress-value,
    &[value="16"]::-webkit-progress-value,
    &[value="17"]::-webkit-progress-value,
    &[value="18"]::-webkit-progress-value,
    &[value="19"]::-webkit-progress-value {
        background: var(--color-progress-10);
    }

    &[value="20"]::-webkit-progress-value,
    &[value="21"]::-webkit-progress-value,
    &[value="22"]::-webkit-progress-value,
    &[value="23"]::-webkit-progress-value,
    &[value="24"]::-webkit-progress-value,
    &[value="25"]::-webkit-progress-value,
    &[value="26"]::-webkit-progress-value,
    &[value="27"]::-webkit-progress-value,
    &[value="28"]::-webkit-progress-value,
    &[value="29"]::-webkit-progress-value {
        background: var(--color-progress-20);
    }

    &[value="30"]::-webkit-progress-value,
    &[value="31"]::-webkit-progress-value,
    &[value="32"]::-webkit-progress-value,
    &[value="33"]::-webkit-progress-value,
    &[value="34"]::-webkit-progress-value,
    &[value="35"]::-webkit-progress-value,
    &[value="36"]::-webkit-progress-value,
    &[value="37"]::-webkit-progress-value,
    &[value="38"]::-webkit-progress-value,
    &[value="39"]::-webkit-progress-value {
        background: var(--color-progress-30);
    }

    &[value="40"]::-webkit-progress-value,
    &[value="41"]::-webkit-progress-value,
    &[value="42"]::-webkit-progress-value,
    &[value="43"]::-webkit-progress-value,
    &[value="44"]::-webkit-progress-value,
    &[value="45"]::-webkit-progress-value,
    &[value="46"]::-webkit-progress-value,
    &[value="47"]::-webkit-progress-value,
    &[value="48"]::-webkit-progress-value,
    &[value="49"]::-webkit-progress-value {
        background: var(--color-progress-40);
    }

    &[value="50"]::-webkit-progress-value,
    &[value="51"]::-webkit-progress-value,
    &[value="52"]::-webkit-progress-value,
    &[value="53"]::-webkit-progress-value,
    &[value="54"]::-webkit-progress-value,
    &[value="55"]::-webkit-progress-value,
    &[value="56"]::-webkit-progress-value,
    &[value="57"]::-webkit-progress-value,
    &[value="58"]::-webkit-progress-value,
    &[value="59"]::-webkit-progress-value {
        background: var(--color-progress-50);
    }

    &[value="60"]::-webkit-progress-value,
    &[value="61"]::-webkit-progress-value,
    &[value="62"]::-webkit-progress-value,
    &[value="63"]::-webkit-progress-value,
    &[value="64"]::-webkit-progress-value,
    &[value="65"]::-webkit-progress-value,
    &[value="66"]::-webkit-progress-value,
    &[value="67"]::-webkit-progress-value,
    &[value="68"]::-webkit-progress-value,
    &[value="69"]::-webkit-progress-value {
        background: var(--color-progress-60);
    }

    &[value="70"]::-webkit-progress-value,
    &[value="71"]::-webkit-progress-value,
    &[value="72"]::-webkit-progress-value,
    &[value="73"]::-webkit-progress-value,
    &[value="74"]::-webkit-progress-value,
    &[value="75"]::-webkit-progress-value,
    &[value="76"]::-webkit-progress-value,
    &[value="77"]::-webkit-progress-value,
    &[value="78"]::-webkit-progress-value,
    &[value="79"]::-webkit-progress-value {
        background: var(--color-progress-70);
    }

    &[value="80"]::-webkit-progress-value,
    &[value="81"]::-webkit-progress-value,
    &[value="82"]::-webkit-progress-value,
    &[value="83"]::-webkit-progress-value,
    &[value="84"]::-webkit-progress-value,
    &[value="85"]::-webkit-progress-value,
    &[value="86"]::-webkit-progress-value,
    &[value="87"]::-webkit-progress-value,
    &[value="88"]::-webkit-progress-value,
    &[value="89"]::-webkit-progress-value {
        background: var(--color-progress-80);
    }

    &[value="90"]::-webkit-progress-value,
    &[value="91"]::-webkit-progress-value,
    &[value="92"]::-webkit-progress-value,
    &[value="93"]::-webkit-progress-value,
    &[value="94"]::-webkit-progress-value,
    &[value="95"]::-webkit-progress-value,
    &[value="96"]::-webkit-progress-value,
    &[value="97"]::-webkit-progress-value,
    &[value="98"]::-webkit-progress-value,
    &[value="99"]::-webkit-progress-value {
        background: var(--color-progress-90);
    }

    &[value="100"]::-webkit-progress-value {
        background: var(--color-progress-100);
    }
}

.theme-light progress {
    --color-progress-10: var(--color-l-red-700);
    --color-progress-20: var(--color-l-red-700);
    --color-progress-30: var(--color-l-orange-500);
    --color-progress-40: var(--color-l-orange-500);
    --color-progress-50: var(--color-l-yellow-500);
    --color-progress-60: var(--color-l-yellow-500);
    --color-progress-70: var(--color-l-green-700);
    --color-progress-80: var(--color-l-blue-700);
    --color-progress-90: var(--color-l-violet-700);
    --color-progress-100: linear-gradient(45deg, #ef92af95, #7bd7e995, #ffda2b95);
}

.theme-dark progress {
    --color-progress-10: var(--color-d-red-900);
    --color-progress-20: var(--color-d-red-900);
    --color-progress-30: var(--color-d-orange-700);
    --color-progress-40: var(--color-d-orange-700);
    --color-progress-50: var(--color-d-yellow-700);
    --color-progress-60: var(--color-d-yellow-700);
    --color-progress-70: var(--color-d-green-900);
    --color-progress-80: var(--color-d-blue-900);
    --color-progress-90: var(--color-d-violet-900);
    --color-progress-100: linear-gradient(45deg, #ef92af95, #7bd7e995, #ffda2b95);
}