/*────────────────────────────────────
            Dark Theme
────────────────────────────────────*/

.theme-dark {

    /*─────────Original Obsidian Variables──────────*/
    
    --background-primary:           var(--color-d-gray-70);
    --background-primary-alt:       var(--color-d-gray-90);
    
    --background-secondary:         var(--color-d-black);
    --background-secondary-alt:     var(--color-d-black);
    
    --background-modifier-border:   var(--color-d-gray-50);
    
    --background-modifier-form-field:               var(--color-d-blacker);
    --background-modifier-form-field-highlighted:   var(--color-d-black);
    --background-modifier-box-shadow:               var(--color-d-shadow-100);
    
    --background-modifier-success:      var(--color-d-green-300);
    --background-modifier-error:        var(--color-d-red-500);
    --background-modifier-error-hover:  var(--color-d-red-700);
    --background-modifier-cover:        var(--color-d-shadow-cover);
    
    --text-normal:  var(--color-d-white);
    --text-muted:   var(--color-d-gray-20);
    --text-faint:   var(--color-d-gray-30);
    
    --text-accent:      var(--color-d-yellow-500);
    --text-accent-hover:var(--color-d-yellow-300) ;
    
    --text-error:       var(--color-d-red-500);
    --text-error-hover: var(--color-d-red-300);
    
    --text-highlight-bg:        var(--color-d-highlight-yellow);
    --text-highlight-bg-active: var(--color-d-highlight-yellow);
    --highlight-mix-blend-mode: lighten;
    
    --text-selection:   var(--color-d-gray-50);
    
    --text-on-accent:   var(--color-d-white);
    
    --interactive-hover:        var(--color-d-gray-60);
    --interactive-accent:       var(--color-d-gray-40);
    --interactive-accent-rgb:   92, 78, 61;
    --interactive-accent-hover: var(--color-d-gray-50);
    --interactive-success:      var(--color-d-green-700);

    --scrollbar-bg: transparent;
    --scrollbar-thumb-bg: var(--background-modifier-border);
    --scrollbar-active-thumb-bg: var(--interactive-accent);
    
    /*──────────The PRIMARY Color Palette for Dark Theme──────────*/
    
    --color-d-whiter: hsl(33, 66%, 90%);
    
    --color-d-white: hsl(34, 50%, 80%);
    
    --color-d-gray: var(--color-d-gray-50);
    --color-d-gray-10: hsl(34, 18%, 62%);
    --color-d-gray-20: hsl(35, 27%, 55%);
    --color-d-gray-30: hsl(34, 24%, 30%);
    --color-d-gray-40: hsl(33, 22%, 30%);
    --color-d-gray-50: hsl(33, 20%, 20%);
    --color-d-gray-60: hsl(30, 19%, 17%);
    --color-d-gray-70: hsl(27, 14%, 15%);
    --color-d-gray-80: hsl(32, 19%, 13%);
    --color-d-gray-90: hsl(30, 15%, 13%);
    --color-d-gray-100: hsl(30, 20%, 8%);
    
    --color-d-black: hsl(27, 15%, 12%);
    
    --color-d-blacker: hsl(26, 16%, 9%);
    
    --color-d-shadow-10:    rgba(29, 21, 13, 0.45);
    --color-d-shadow-50:    rgba(29, 26, 22, 0.75);
    --color-d-shadow-100:   rgba(19, 16, 13, 0.95);
    --color-d-shadow-cover:   rgba(37, 34, 29, 0.74);
    
    --color-d-yellow: var(--color-d-yellow-500);
    --color-d-yellow-300: hsl(46, 91%, 69%);
    --color-d-yellow-500: hsl(50, 100%, 46%);
    --color-d-yellow-700: hsl(43, 100%, 42%);
    --color-d-yellow-900: hsl(39, 92%, 33%);
    --color-d-yellow-a: hsl(43, 75%, 52%);
    
    --color-d-red: var(--color-d-red-500);
    --color-d-red-300: hsl(4, 100%, 68%);
    --color-d-red-500: hsl(4, 65%, 60%);
    --color-d-red-700: hsl(4, 90%, 61%);
    --color-d-red-900: hsl(4, 77%, 38%);
    --color-d-red-a: hsl(4, 61%, 53%);
    
    --color-d-blue: var(--color-d-blue-500);
    --color-d-blue-300: hsl(198, 39%, 56%);
    --color-d-blue-500: hsl(198, 62%, 57%);
    --color-d-blue-700: hsl(198, 57%, 55%);
    --color-d-blue-900: hsl(198, 75%, 35%);
    --color-d-blue-a: hsl(197, 58%, 48%);
    
    --color-d-orange: var(--color-d-orange-500);
    --color-d-orange-300: hsl(22, 92%, 64%);
    --color-d-orange-500: hsl(22, 92%, 57%);
    --color-d-orange-700: hsl(21, 88%, 51%);
    --color-d-orange-900: hsl(20, 80%, 41%);
    --color-d-orange-a: hsl(27, 77%, 51%);
    
    --color-d-green: var(--color-d-green-500);
    --color-d-green-300: hsl(150, 66%, 53%);
    --color-d-green-500: hsl(154, 52%, 46%);
    --color-d-green-700: hsl(154, 61%, 39%);
    --color-d-green-900: hsl(155, 81%, 24%);
    --color-d-green-a: hsl(96, 50%, 49%);
    
    --color-d-violet: var(--color-d-violet-500);
    --color-d-violet-300: hsl(256, 63%, 74%);
    --color-d-violet-500: hsl(263, 60%, 67%);
    --color-d-violet-700: hsl(256, 52%, 57%);
    --color-d-violet-900: hsl(256, 44%, 50%);
    --color-d-violet-a: hsl(246, 53%, 67%);
    
    /*~ Highlights */
    --ui-color-highlight-text: var(--color-d-black);
    --ui-color-highlight-bg: hsl(43, 61%, 56%);

    --color-highlight-yellow: rgba(255, 187, 0, 0.2);
    --color-highlight-red:    rgba(240, 79, 106, 0.2);
    --color-highlight-blue:   rgba(40, 178, 194, 0.2);
    --color-highlight-orange:  rgba(255, 115, 0, 0.2);
    --color-highlight-green:  rgba(153, 189, 36, 0.2);
    --color-highlight-violet:  rgba(113, 122, 255, 0.2);
    
    /*~ Graph View */
    --graph-color-node-resolved: var(--color-d-blue-900);
    --graph-color-node-unresolved: var(--color-d-yellow-700);
    --graph-color-node-unresolved-opacity: 1;
    --graph-color-node-tag: var(--color-d-red-500);
    --graph-color-node-attachment: var(--color-d-green-500);
    --graph-color-node-focused: var(--color-d-white);
    --graph-color-node-border-hover: var(--color-d-gray-10);

    --graph-color-node-arrow: var(--color-d-gray-40);
    --graph-color-node-line: var(--color-d-gray-50);
    --graph-color-node-line-hover: var(--color-d-gray-40);
    --graph-color-node-text: var(--color-d-gray-10);
}