/* Phone */
@media (max-width: 400pt) {
    /*────────────────────────────────────
    ++++++++++++++Variables+++++++++++++++
    ────────────────────────────────────*/
    .is-mobile {
        /*──────────Typography Modular Scale──────────*/
        /*  Based on Standard 16px  */
        --line-width: 400pt;
        --scale-ratio: 1.23;
            
        --font-scale-000: 0.652em;
        --font-scale-00: 0.694em;
        --font-scale-0: 0.783em;
        --font-scale-0-5: 0.875em;
        --font-scale-1: 1em;
        --font-scale-2: 1.12em;
        --font-scale-3: 1.23em;
        --font-scale-4: 1.378em;
        --font-scale-5: 1.513em;
        --font-scale-6: 1.695em;
        --font-scale-7: 1.861em;
        --font-scale-8: 2.085em;
        --font-scale-9: 2.289em;
        --font-scale-10: 2.564em;
        /*────────────────────────────────────
        +++++++++Content / Active Note++++++++
        ────────────────────────────────────*/
        /*────────────────────────────────────
                        Editor
        ────────────────────────────────────*/
        & .modal:not(.modal.mod-settings),
        & .prompt,
        & .suggestion-container,
        & .menu {
            border-top-left-radius: var(--scale-2-8);
            border-top-right-radius: var(--scale-2-8);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            box-shadow: 0px 0px 16px 0px
                        rgba(0, 0, 0, 0.3);
        }

        & .modal:not(.modal.mod-settings),
        & .prompt {
            bottom: 0;
            width: 100%;
            max-width: 100%;
        }

        & .suggestion-container {
            left: 0;
            width: 100%;
            max-width: 100%;
            max-height: 200px;
            overflow-y: auto;
        }

        & .modal.mod-settings {
            top: 0;
            bottom: 0;
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
            border-radius: 0;
        }

        & .modal.mod-community-theme .modal-content {
            padding:    var(--scale-0-0)
                        var(--scale-2-3);
        }

        & .prompt kbd {
            display: none;
        }

        /* iOS Modal extending to Status Bar fix */
        &.is-ios {
            & .modal.mod-settings {
            top: auto;
            bottom: 0;
            max-height: calc(100% - 42px);
            box-shadow: none;
            }

            & .modal-bg {
                background: var(--background-secondary);
                opacity: 1;
            }
        }
    }

    // /*──────────Aside HTML / Sidenotes──────────*/
    // .is-mobile aside,
    // .is-mobile .aside-show,
    // .is-mobile .aside-in {
    //     width: unset;
    //     clear: both;
    //     margin: 0
    //             auto
    //             1em
    //             auto;
    //     z-index: 0;
    // }

    // .is-mobile .aside-hide:hover {
    //     width: auto;
    //     margin-left: 0;
    // }

    // .is-mobile .is-readable-line-width .aside-hide {
    //     margin-right: 0;
    //     margin-bottom: 1em;
    // }


}