/*──────────Lists──────────*/
/* Removed Weird padding-top on Source View */
.cm-s-obsidian .HyperMD-list-line {
    padding-top: 0;
}

.markdown-source-view.mod-cm6 .list-bullet:after {
    top: initial;
}

.markdown-source-view.mod-cm6 {
    & .list-bullet:after {
        content: '-';
        font-family: var(--font-monospace-theme);
        font-size: 1.25em;
    }

    & .cm-list-2 .list-bullet:after {
        content: '•';
    }

    & .cm-list-3 .list-bullet:after {
        content: '◦';
    }
}

span.cm-formatting.cm-formatting-list,
span.list-bullet,
li::marker {
    color: var(--md-color-bullet);
    font-size: var(--font-scale-0);
    font-family: var(--font-monospace-theme);
    font-variant-numeric: tabular-nums;
    text-align: left;
    vertical-align: 0px;
}

.markdown-preview-view
.list-collapse-indicator {
    padding-left: 0;
    padding-right: 0;
}

/* Ordered List / Number List */
ol,
ol ol ol,
ol ol ol ol ol,
ol ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol ol ol ol ol ol {
    list-style-type: decimal;
    padding-left: 2ch;
    margin-left: var(--scale-0-0);
}
ol ol,
ol ol ol ol,
ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol ol ol ol ol {
    list-style-type: lower-alpha;
}

/* Unordered List / Bullet List */
ul,
ul ul ul ul,
ul ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: "– ";
    padding-left: 2ch;
    margin-left: var(--scale-0-0);
}
ul ul,
ul ul ul ul ul,
ul ul ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: disc;
}
ul ul ul,
ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: circle;
}