/*──────────Emphasis──────────*/
/* Bold */
strong,
.cm-strong,
.cm-s-obsidian span.cm-quote.cm-strong,
.markdown-preview-view strong {
    color: var(--md-color-bold);
} 

/* Italic */
em,
.cm-em,
.cm-s-obsidian span.cm-quote.cm-em,
.markdown-preview-view em {
    color: var(--md-color-italic);
}

/* Bold & Italic */
strong em, em strong,
.cm-strong.cm-em,
.markdown-preview-view strong em {
    color: var(--md-color-bolditalic);
}

/* Strikethrough */
del,
.cm-strikethrough,
.cm-s-obsidian span.cm-quote.cm-strikethrough,
.markdown-preview-view del {
    color: var(--md-color-strikethrough);

    &:hover {
        text-decoration: none;
    }
}

.markdown-preview-view {
    & h1, & h2, & h3, & h4, & h5, & h6 {
        & del {
            color: var(--md-color-strikethrough);
        }
    }
}

/* Highlight [Highlight] */
mark,
.cm-s-obsidian span.cm-highlight,
.markdown-source-view.is-live-preview .cm-header.cm-formatting-highlight,
.cm-s-obsidian span.cm-quote.cm-highlight,
.callout mark,
.markdown-preview-view mark,
.popover mark,
.markdown-embed mark {    
    color: var(--md-color-highlight-text);
    background: var(--md-color-highlight-bg);
    padding: 2px 2px;
    border-radius: var(--scale-2-1);
}

/* Highlight [Bold + Highlight] */
.cm-s-obsidian span.cm-highlight.cm-strong,
.cm-s-obsidian span.cm-quote.cm-highlight.cm-strong {
    color: var(--md-color-bold-highlight-text);
    background: var(--md-color-bold-highlight-bg);
}

.markdown-preview-view.markdown-preview-view mark strong,
.markdown-embed.markdown-embed mark strong,
.reveal mark strong {
    color: var(--md-color-bold-highlight-text);
}

.callout strong > mark,
.markdown-preview-view.markdown-preview-view strong > mark,
.popover strong > mark,
.markdown-embed.markdown-embed strong > mark,
.reveal strong > mark {
    background: var(--md-color-bold-highlight-bg);
}

/* Highlight [Italic + Highlight] */
.cm-s-obsidian span.cm-highlight.cm-em,
.cm-s-obsidian span.cm-quote.cm-highlight.cm-em {
    color: var(--md-color-italic-highlight-text);
    background: var(--md-color-italic-highlight-bg);
}

.callout em > mark,
.markdown-preview-view mark em,
.popover mark em,
.markdown-embed mark em,
.reveal mark em {
    color: var(--md-color-italic-highlight-text);
}

.callout em > mark,
.markdown-preview-view.markdown-preview-view em > mark,
.popover em > mark,
.markdown-embed.markdown-embed em > mark,
.reveal em > mark {
    background: var(--md-color-italic-highlight-bg);
}

/* Highlight [Bold + Italic + Highlight] */
.cm-s-obsidian span.cm-highlight.cm-strong.cm-em,
.cm-s-obsidian span.cm-quote.cm-highlight.cm-strong.cm-em {
    color: var(--md-color-bi-highlight-text);
    background: var(--md-color-bi-highlight-bg);
}

.callout strong > em > mark,
.markdown-preview-view.markdown-preview-view strong > em > mark,
.popover strong > em > mark,
.markdown-embed.markdown-embed strong > em > mark,
.reveal strong > em > mark {
    background: var(--md-color-bi-highlight-bg);
}

/* Comments */
.cm-s-obsidian span.cm-comment,
.cm-s-obsidian span.cm-comment.cm-quote {
    color: var(--md-color-comment);
}