/*────────────────────────────────────
            Note Markdown
────────────────────────────────────*/
.markdown-preview-view .heading-collapse-indicator {
    padding-right: 0;
    padding-left: var(--scale-2-4);
}

/* General Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-preview-header);
    font-weight: var(--font-bold);
    line-height: var(--header-line-height);
}

h1 {
    color: var(--h1-text-color);
    font-size: var(--h1);
}

h2 {
    color: var(--h2-text-color);
    font-size: var(--h2);
}

h3 {
    color: var(--h3-text-color);
    font-size: var(--h3);
}

h4 {
    color: var(--h4-text-color);
    font-size: var(--h4);
}

h5 {
    color: var(--h5-text-color);
    font-size: var(--h5);
}

h6 {
    color: var(--h6-text-color);
    font-size: var(--h6);
}

/* Source View Headings */
body .cm-s-obsidian .HyperMD-header {
    line-height: var(--header-line-height);
    padding-bottom: 0;
}

.cm-header {
    &-1, &-2, &-3, &-4, &-5, &-6 {
        font-family: var(--font-editor-header);
        font-weight: var(--font-bold);
    }

    &-1 {
        color: var(--h1-text-color);
        font-size: var(--h1);
    }

    &-2 {
        color: var(--h2-text-color);
        font-size: var(--h2);
    }

    &-3 {
        color: var(--h3-text-color);
        font-size: var(--h3);
    }

    &-4 {
        color: var(--h4-text-color);
        font-size: var(--h4);
    }

    &-5 {
        color: var(--h5-text-color);
        font-size: var(--h5);
    }

    &-6 {
        color: var(--h6-text-color);
        font-size: var(--h6);
    }
}

/* Inline Code in Headers Fix */
.cm-s-obsidian .cm-inline-code.cm-header {
    font-family: var(--font-code);
    font-weight: var(--font-bold);

    &-1 {
        font-size: calc(0.85 * var(--h1));
    }

    &-2 {
        font-size: calc(0.85 * var(--h2));
    }

    &-3 {
        font-size: calc(0.85 * var(--h3));
    }

    &-4 {
        font-size: calc(0.85 * var(--h4));
    }

    &-5 {
        font-size: calc(0.85 * var(--h5));
    }

    &-6 {
        font-size: calc(0.85 * var(--h6));
    }
}

.markdown-preview-view {
    & h1 code,
    & h2 code,
    & h3 code,
    & h4 code,
    & h5 code,
    & h6 code {
        font-family: var(--font-code);
        font-weight: var(--font-bold);
    }
}

/* Preview View Headings */
.markdown-preview-view {
    & h1, & h2, & h3, & h4, & h5, & h6 {
        font-family: var(--font-preview-header);
        font-weight: var(--font-bold);
        line-height: var(--header-line-height);
    }
    
    & h1 {
        color: var(--h1-text-color);
        font-size: var(--h1);
    }

    & h2 {
        color: var(--h2-text-color);
        font-size: var(--h2);
    }

    & h3 {
        color: var(--h3-text-color);
        font-size: var(--h3);
    }

    & h4 {
        color: var(--h4-text-color);
        font-size: var(--h4);
    }

    & h5 {
        color: var(--h5-text-color);
        font-size: var(--h5);
    }

    & h6 {
        color: var(--h6-text-color);
        font-size: var(--h6);
    }
}

/*──────────Headings──────────*/
:root body {
    /* 1.388 Scale Ratio */
    --h1: var(--font-scale-7);
    --h2: var(--font-scale-6);
    --h3: var(--font-scale-5);
    --h4: var(--font-scale-4);
    --h5: var(--font-scale-3);
    --h6: var(--font-scale-2);
    --header-line-height: 1.18;

    /* Normal Colors */
    --h1-text-color: var(--text-normal);
    --h2-text-color: var(--text-normal);
    --h3-text-color: var(--text-normal);
    --h4-text-color: var(--text-normal);
    --h5-text-color: var(--text-normal);
    --h6-text-color: var(--text-muted);
}