/*────────────────────────────────────
        Inline Code/Codeblocks
────────────────────────────────────*/
.theme-light,
.theme-dark {
    & pre[class*="language-"] {
        color: var(--md-color-code-red-1);
        padding:    var(--scale-2-8)
                    var(--scale-2-8)
                    var(--scale-2-8)
                    var(--scale-2-8);
    }

    & code.is-loaded {
        padding: 0;
        text-shadow: none;
    }
}

.cm-s-obsidian .cm-inline-code,
.cm-s-obsidian .cm-hmd-codeblock,
.cm-s-obsidian .cm-math,
.cm-s-obsidian .cm-attribute,
.cm-s-obsidian .cm-string:not(.cm-url),
.cm-s-obsidian .cm-tag,
div[data-tag-name="pre"] code,
pre code,
code,
.markdown-preview-view code {
    font-family: var(--font-monospace-theme);
}

.cm-s-obsidian .HyperMD-codeblock {
    line-height: 1.5;
    padding: 0 var(--scale-2-8);
}

pre code {
    font-size: var(--font-scale-0-5);
}

.cm-s-obsidian .cm-math {
    font-size: 90%;
}

code,
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting-code),
.markdown-preview-view pre code {
    padding:    var(--scale-2-1)
                var(--scale-2-3);
    border-radius: var(--scale-2-2);
}

.cm-s-obsidian span.cm-inline-code.cm-formatting-code {
    padding:    var(--scale-2-1)
                0;
}

.cm-s-obsidian div.HyperMD-codeblock {
    &-begin-bg {
        border-top-left-radius: var(--scale-2-3);
        border-top-right-radius: var(--scale-2-3);
        border: none;
    }

    &-end-bg {
        border-bottom-left-radius: var(--scale-2-3);
        border-bottom-right-radius: var(--scale-2-3);
        border: none;
    }
}

.markdown-preview-view pre {
    border-radius: var(--scale-2-3);
}

/*──────────Inline Code/Codeblocks
Syntax Highlighting──────────*/
.markdown-preview-view pre code.is-loaded {
    .theme-light &,
    .theme-dark & {
        background: var(--background-primary-alt);
        border: var(--background-modifier-border);
    }
}

.markdown-preview-view code {
    padding:    var(--scale-2-1)
                var(--scale-2-3);
    border-radius: var(--scale-2-2);
}


.cm-s-obsidian span.cm-formatting-math.cm-math.cm-math,
.cm-s-obsidian span.cm-meta:not(.cm-hashtag) {
    color: var(--md-color-text-faint);  
}

.cm-s-obsidian span.cm-tag,
.cm-s-obsidian span.cm-property,
.markdown-preview-view span.token.property,
.markdown-preview-view span.token.property-access {
    color: var(--md-color-code-yellow-1);
}

.cm-s-obsidian span.cm-number,
.cm-s-obsidian span.cm-string:not(.cm-url),
.markdown-preview-view span.token.string,
.markdown-preview-view span.token.number {
    color: var(--md-color-code-yellow-2);
}

code,
pre code,
.cm-s-obsidian .cm-inline-code:not(.cm-formatting-code),
.cm-s-obsidian span.cm-bracket,
.cm-s-obsidian span.cm-math,
.cm-s-obsidian .cm-hmd-codeblock,
.markdown-preview-view pre code.is-loaded,
.markdown-preview-view pre code,
.markdown-preview-view code,
.markdown-rendered code {
    color: var(--md-color-code-red-1);
}

.cm-s-obsidian span.cm-error,
.cm-s-obsidian span.cm-def,
.cm-s-obsidian span.cm-attribute,
.markdown-preview-view span.token.function,
.markdown-preview-view span.token.parameter,
.markdown-preview-view span.token.attr-name {
    color: var(--md-color-code-red-2);
}

.cm-s-obsidian span.cm-variable-2,
.cm-s-obsidian span.cm-math.cm-variable-2,
.cm-s-obsidian span.cm-keyword,
.markdown-preview-view span.token.keyword,
.markdown-preview-view span.token.url,
.markdown-preview-view span.token.class-name,
.markdown-preview-view span.token.tag {
    color: var(--md-color-code-blue-1);
}

.cm-s-obsidian span.cm-variable,
.markdown-preview-view span.token.important {
    color: var(--md-color-code-blue-2);
}

.cm-s-obsidian span.cm-formatting-code,
.cm-s-obsidian .cm-formatting-code-block,
.markdown-preview-view span.token.punctuation,
.markdown-preview-view span.token.operator {
    color: var(--md-color-code-gray);
}

mjx-math {
    color: var(--md-color-code-white);
}

.markdown-source-view.mod-cm6
span.code-block-flair[aria-label="Copy"] {
    color: var(--md-color-code-gray);
    font-family: var(--font-monospace-theme);
    font-size: var(--font-scale-1);
    padding: 0;
    margin-top: var(--scale-2-1);
    margin-right: var(--scale-2-2);
}