.cm-s-obsidian span.obsidian-search-match-highlight,
.markdown-preview-view .search-highlight.search-highlight div.is-active,
.is-flashing.is-flashing {
    color: var(--md-color-text);
    background: var(--md-find-highlight-bg);
    border-radius: var(--scale-2-2);
    border-bottom: 2px solid rgba(100, 100, 100, 0.2);
    box-shadow: 0px 0px 0px 1px rgba(120, 120, 120, 0.2) inset;
}