/*────────────────────────────────────
            Callouts
────────────────────────────────────*/
/* Sizing Fixes */
.markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout {
    padding: 0;

    // removes padding for the next 10 lines of callouts new paragraphs that are in quote syntax
    & + .HyperMD-quote,
    & + .HyperMD-quote + .HyperMD-quote,
    & + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote,
    & + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote,
    & + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote,
    & + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote,
    & + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote,
    & + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote,
    & + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote,
    & + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote {
    padding: 0;
    }
}

/* space for shadow */
.markdown-source-view.mod-cm6 .cm-embed-block.cm-callout {
    padding: 0;
    padding-bottom: 6px;
}

.callout {
    line-height: var(--line-height-1);
    border-radius: var(--scale-2-4);
    transition: var(--duration-superfast)
                var(--motion-smooth);

    .markdown-source-view & {
        font-family: var(--font-editor);
    }

    .markdown-source-view.mod-cm6 & {
        margin: 0 0;
        border-top-right-radius: var(--scale-2-4);
        border-bottom-right-radius: var(--scale-2-4);
    }

    .markdown-preview-view & {
        font-family: var(--font-preview);
    }

    &-title {
        padding: var(--scale-2-4) 1em;
        border-top-right-radius: var(--scale-2-4);
        border-top-left-radius: var(--scale-2-4);
    }

    &.is-collapsed .callout-title {
        border-bottom-left-radius: var(--scale-2-4);
        border-bottom-right-radius: var(--scale-2-4);
    }

    &-content {
        padding: var(--scale-0-0) 1em;
        border-bottom-right-radius: var(--scale-2-4);
        border-bottom-left-radius: var(--scale-2-4);
    }
}

/* Nested Markdown Fixes */
.markdown-source-view.mod-cm6 .callout .callout {
    margin: var(--scale-8-2) var(--scale-0-0);
}

.callout .callout .callout-content {
    border-right: none;
    border-bottom: none;
}

.callout-icon svg,
.callout-fold svg {
    height: var(--font-text-size);
    width: var(--font-text-size);
}

.callout-icon,
.callout-fold {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* General Styling */
.callout {
    border: 1px solid rgba(var(--callout-color), 0.2);
    overflow: hidden;

    .theme-light & {
        box-shadow: 0px 2px 6px 0px
        rgba(0, 0, 0, 0.1);
    }
    .theme-dark & {
        box-shadow: 0px 2px 6px 0px
        rgba(0, 0, 0, 0.2);
    }

    &-title {
        .theme-light & {
            background: rgba(var(--callout-color), 0.2);
        }
        .theme-dark & {
            background: rgba(var(--callout-color), 0.2);
        }

        & .callout-icon {
            .theme-light & {
                filter: brightness(0.75);
            }
            .theme-dark & {
                filter: brightness(1);
            }
        }
    }

    &.is-collapsed .callout-title {
        .theme-light & {
            box-shadow: 0px -1px 0px 0px
            rgba(0, 0, 0, 0.05) inset
        }
        .theme-dark & {
            box-shadow: 0px -1px 0px 0px
            rgba(0, 0, 0, 0.175) inset
        }
    }

    &-fold {
        color: rgba(var(--callout-color), 1);
        
        .theme-light & {
            filter: brightness(0.75);
        }
        .theme-dark & {
            filter: brightness(1);
        }
    }

    &-content {
        
        .theme-light & {
            background: var(--color-l-gray-10);
            box-shadow: 0px -2px 0px 0px
            rgba(0, 0, 0, 0.05) inset
        }
        .theme-dark & {
            background: var(--color-d-black);
            box-shadow: 0px -2px 0px 0px
            rgba(0, 0, 0, 0.175) inset
        }
    }
}

/* Callout Colors */
.theme-light,
.theme-dark {
    --callout-color-general: 200, 175, 155;
    --callout-color-note: 145, 125, 105;
    --callout-color-abstract: 34, 152, 225;
    --callout-color-summary: 255, 221, 88;
    --callout-color-tldr: 240, 180, 225;
    --callout-color-info: 0, 171, 197;
    --callout-color-todo: 0, 171, 197;
    --callout-color-tip: 70, 206, 185;
    --callout-color-hint: 70, 206, 185;
    --callout-color-important: 244, 87, 93;
    --callout-color-success: 100, 175, 255;
    --callout-color-success-bg: linear-gradient(45deg, #ef92af70, #7bd7e970, #81e1a570, #ffda2b70);
    --callout-color-check: 0, 200, 83;
    --callout-color-done: 0, 200, 83;
    --callout-color-question: 130, 190, 235;
    --callout-color-help: 150, 95, 255;
    --callout-color-faq: 130, 190, 235;
    --callout-color-warning: 255, 161, 32;
    --callout-color-caution: 255, 161, 32;
    --callout-color-attention: 255, 161, 32;
    --callout-color-failure: 226, 72, 86;
    --callout-color-missing: 226, 72, 86;
    --callout-color-danger: 226, 72, 86;
    --callout-color-error: 226, 72, 86;
    --callout-color-bug: 206, 91, 124;
    --callout-color-example: 173, 102, 234;
    --callout-color-quote: 158, 158, 158;
    --callout-color-cite: 158, 158, 158;
    /* Primary Custom Callouts */
    --callout-color-pro: 147, 241, 62;
    --callout-color-con: 255, 75, 75;
    --callout-color-idea: 247, 141, 25;
    --callout-color-morning: 149, 197, 194;
    --callout-color-meditate: 149, 197, 194;
    --callout-color-money: 144, 194, 120;
    --callout-color-backlog: 79, 160, 178;
    --callout-color-inprogress: 226, 183, 35;
    --callout-color-currently: 57, 210, 169;
    --callout-color-target: 247, 87, 87;
    --callout-color-btc: 236, 136, 25;
    --callout-color-resources: 206, 91, 124;
    --callout-color-links: 57, 175, 222;
    --callout-color-related: 124, 126, 255;
    --callout-color-world: 185, 208, 57;
    --callout-color-backstory: 72, 108, 231;
    --callout-color-feature: 255, 161, 32;
    --callout-color-conflict: 232, 101, 101;
    --callout-color-translate: 100, 214, 255;
    --callout-color-shop: 237, 160, 200;
}


/* Callout Type Styling */
div.callout {
    --callout-color: var(--callout-color-general);

    &[data-callout="note"] {
        --callout-color: var(--callout-color-note);

        & .callout-title {
            background: rgb(var(--callout-color), 0.03);
        }
    }
    &[data-callout="abstract"] {
        --callout-icon: loader;
        --callout-color: var(--callout-color-abstract);
    }
    &[data-callout="summary"] {
        --callout-icon: align-justify;
        --callout-color: var(--callout-color-summary);
    }
    &[data-callout="tldr"] {
        --callout-icon: clock-4;
        --callout-color: var(--callout-color-tldr);

        & .callout-title {
            text-transform: uppercase;
        }
    }
    &[data-callout="info"] {
        --callout-color: var(--callout-color-info);
    }
    &[data-callout="todo"] {
        --callout-icon: check-square;
        --callout-color: var(--callout-color-todo);
    }
    &[data-callout="tip"] {
        --callout-icon: clover;
        --callout-color: var(--callout-color-tip);
    }
    &[data-callout="hint"] {
        --callout-icon: search;
        --callout-color: var(--callout-color-hint);
    }
    &[data-callout="important"] {
        --callout-icon: asterisk;
        --callout-color: var(--callout-color-important);
    }
    &[data-callout="check"] {
        --callout-icon: check;
        --callout-color: var(--callout-color-check);
    }
    &[data-callout="done"] {
        --callout-icon: check;
        --callout-color: var(--callout-color-done);
    }
    &[data-callout="question"] {
        --callout-color: var(--callout-color-question);
    }
    &[data-callout="help"] {
        --callout-color: var(--callout-color-help);
    }
    &[data-callout="faq"] {
        --callout-color: var(--callout-color-faq);
    }
    &[data-callout="warning"] {
        --callout-color: var(--callout-color-warning);
    }
    &[data-callout="caution"] {
        --callout-color: var(--callout-color-caution);
    }
    &[data-callout="attention"] {
        --callout-color: var(--callout-color-attention);
    }
    &[data-callout="fail"],
    &[data-callout="failure"] {
        --callout-color: var(--callout-color-failure);
    }
    &[data-callout="missing"] {
        --callout-color: var(--callout-color-missing);
    }
    &[data-callout="danger"] {
        --callout-color: var(--callout-color-danger);
    }
    &[data-callout="error"] {
        --callout-icon: alert-circle;
        --callout-color: var(--callout-color-error);
    }
    &[data-callout="bug"] {
        --callout-color: var(--callout-color-bug);
    }
    &[data-callout="example"] {
        --callout-color: var(--callout-color-example);
    }
    &[data-callout="quote"] {
        --callout-color: var(--callout-color-quote);
    }
    &[data-callout="cite"] {
        --callout-color: var(--callout-color-cite);
    }
    &[data-callout="pro"] {
        --callout-icon: thumbs-up;
        --callout-color: var(--callout-color-pro);
    }
    &[data-callout="con"] {
        --callout-icon: thumbs-down;
        --callout-color: var(--callout-color-con);
    }
    &[data-callout="idea"] {
        --callout-icon: lightbulb;
        --callout-color: var(--callout-color-idea);
    }
    &[data-callout="coffee"],
    &[data-callout="morning"] {
        --callout-icon: coffee;
        --callout-color: var(--callout-color-morning);
    }
    &[data-callout="meditation"],
    &[data-callout="meditate"] {
        --callout-icon: sprout;
        --callout-color: var(--callout-color-meditate);
    }
    &[data-callout*="celebrate"],
    &[data-callout*="success"] {
        --callout-icon: flag;
        --callout-color: var(--callout-color-success);
        
        & .callout-title {
            background: var(--callout-color-success-bg);
            background-size: 800% 800%;
            -webkit-animation: animateCelebrate 15s ease infinite;
        }

        & .callout-icon {
            transform: rotate(-20deg);
        }

        & .callout-icon,
        & .callout-fold {
            color: var(--md-color-text);
        }
    }
    &[data-callout="money"] {
        --callout-icon: banknote;
        --callout-color: var(--callout-color-money);
    }
    &[data-callout="backlog"] {
        --callout-icon: inbox;
        --callout-color: var(--callout-color-backlog);
    }
    &[data-callout="doing"],
    &[data-callout="in-progress"] {
        --callout-icon: rocket;
        --callout-color: var(--callout-color-inprogress);
    }
    &[data-callout="currently"] {
        --callout-icon: haze;
        --callout-color: var(--callout-color-currently);
    }
    &[data-callout="target"] {
        --callout-icon: target;
        --callout-color: var(--callout-color-target);
    }
    &[data-callout="btc"] {
        --callout-icon: bitcoin;
        --callout-color: var(--callout-color-btc);
    }
    &[data-callout="resources"] {
        --callout-icon: bookmark;
        --callout-color: var(--callout-color-resources);
    }
    &[data-callout="links"] {
        --callout-icon: link-2;
        --callout-color: var(--callout-color-links);
    }
    &[data-callout="related"] {
        --callout-icon: shuffle;
        --callout-color: var(--callout-color-related);
    }
    &[data-callout="world"],
    &[data-callout="worlds"] {
        --callout-icon: globe-2;
        --callout-color: var(--callout-color-world);
    }
    &[data-callout="backstory"] {
        --callout-icon: feather;
        --callout-color: var(--callout-color-backstory);
    }
    &[data-callout="feature"],
    &[data-callout="features"] {
        --callout-icon: zap;
        --callout-color: var(--callout-color-feature);
    }
    &[data-callout="conflict"],
    &[data-callout="encounter"],
    &[data-callout="challenge"] {
        --callout-icon: mountain-snow;
        --callout-color: var(--callout-color-conflict);
    }
    &[data-callout="translate"],
    &[data-callout="translation"] {
        --callout-icon: lucide-languages;
        --callout-color: var(--callout-color-translate);
    }
    &[data-callout="buy"],
    &[data-callout="shopping"],
    &[data-callout="shop"] {
        --callout-icon: shopping-cart;
        --callout-color: var(--callout-color-shop);
    }
}

/* animation for celebrate callout */
@-webkit-keyframes animateCelebrate {
    0% { background-position:0% 47% }
    50% { background-position:100% 54% }
    100% { background-position:0% 47% }
}