/*────────────────────────────────────
            Markdown Table
────────────────────────────────────*/
.cm-embed-block table {
    font-family: var(--font-editor);
}

.cm-s-obsidian .HyperMD-table-row {
    font-family: var(--font-monospace-theme);
    font-size: var(--font-scale-0-5);

    &-0 {
        color: var(--md-color-code-yellow-2);
        text-shadow: none;
    }
}

.markdown-source-view .cm-embed-block.cm-table-widget {
    padding: 0 0;
}

.markdown-preview-view table {
    font-family: var(--font-preview);
}

.markdown-preview-view,
.markdown-source-view .cm-embed-block {
    & table {
        width: 100%;

        & th,
        & td {
            border-color: var(--md-color-border);
        }

        & thead {
            color: var(--md-color-code-red-1);
            background: var(--background-secondary);
        }

        & tr > td {
            .theme-light & {
                background: var(--color-l-whiter);
            }
            .theme-dark & {
                background: var(--color-d-blacker);
            }
        }
    }
}