/*────────── Button ──────────*/

button {
    // For stylized use of Inter and Cascadia Code:
    font-feature-settings:
        "calt" on,
        "dlig" on,
        "case" on,
        "ccmp" on,
        "ss03" on,
        "ss19" on,
        "cv01",
        "cv05",
        "cv06",
        "cv08",
        "cv11";
    padding: var(--size-4-4)
             var(--size-4-3)
             calc(var(--size-4-4) + var(--button-inset-shadow-size))
             var(--size-4-3);
    border-radius: var(--size-4-2);
    margin-bottom: var(--size-2-3);
    transition: var(--anim-duration-fast)
                var(--anim-motion-jumpy);
    cursor: pointer;

    &:active {
        background: var(--interactive-hover);
        padding: calc(var(--size-4-4) + var(--button-inset-shadow-size))
                 var(--size-4-3)
                 var(--size-4-4)
                 var(--size-4-3);
        box-shadow: var(--input-shadow-active);
        transition: var(--anim-duration-fast)
                    var(--anim-motion-jumpy);
    }

    &.mod-cta:active,
    &.mod-cta:focus {
        background: var(--interactive-accent-hover);
    }
}