/*────────── Button ──────────*/
// TODO .mod-destructive
button {
    // For stylized use of Inter and Cascadia Code:
    font-feature-settings:
        "calt" on,
        "dlig" on,
        "case" on,
        "ccmp" on,
        "ss03" on,
        "ss19" on,
        "cv01",
        "cv05",
        "cv06",
        "cv08",
        "cv11";
    padding: var(--button-padding);
    border-radius: var(--button-radius);
    transition: var(--button-anim);
    cursor: pointer;

    &:active {
        background: var(--interactive-hover);
        padding: var(--button-padding-active);
        box-shadow: var(--button-shadow-active);
        transition: var(--button-anim);
    }

    &.mod-cta:active,
    &.mod-cta:focus {
        background: var(--interactive-accent-hover);
    }
}

.markdown-rendered button.copy-code-button,
.markdown-source-view.mod-cm6 .code-block-flair {
    color: var(--text-on-accent);
    background: var(--interactive-accent);
    padding: var(--button-s-padding);
    border-radius: var(--copy-code-button-radius);
    box-shadow: var(--button-shadow);

    &:hover {
        background: var(--interactive-accent-hover);
        cursor: pointer;
    }

    &:active {
        padding: vaR(--button-padding-active);
        box-shadow: var(--button-shadow-active);
    }
}

.modal-close-button {
    width: var(--modal-close-button-size);
    height: auto;

    font-size: calc(var(--modal-close-button-size));
    line-height: var(--modal-close-button-size);
    color: var(--text-on-accent);

    background: var(--background-modifier-error);
    border-radius: var(--close-button-radius);

    display: flex;
    justify-content: center;
    cursor: pointer;

    &::before {
        font-weight: 200;
    }

    &:hover {
        color: var(--text-on-accent);
        background: var(--background-modifier-error-hover);
    }
    
    &:active {
        opacity: 0.8;
    }
}