/*────────── Button ──────────*/
// TODO .mod-destructive
// TODO .modal-close-button
button {
    // For stylized use of Inter and Cascadia Code:
    font-feature-settings:
        "calt" on,
        "dlig" on,
        "case" on,
        "ccmp" on,
        "ss03" on,
        "ss19" on,
        "cv01",
        "cv05",
        "cv06",
        "cv08",
        "cv11";
    padding: var(--size-4-4)
             var(--size-4-3)
             calc(var(--size-4-4) + var(--button-inset-shadow-size))
             var(--size-4-3);
    border-radius: var(--button-radius);
    margin-bottom: var(--size-2-3);
    transition: var(--button-anim);
    cursor: pointer;

    &:active {
        background: var(--interactive-hover);
        padding: calc(var(--size-4-4) + var(--button-inset-shadow-size))
                 var(--size-4-3)
                 var(--size-4-4)
                 var(--size-4-3);
        box-shadow: var(--button-shadow-active);
        transition: var(--button-anim);
    }

    &.mod-cta:active,
    &.mod-cta:focus {
        background: var(--interactive-accent-hover);
    }
}