/*────────── Dropdown ──────────*/

select,
.dropdown {
    // height: var(--dropdown-height);
    border-radius: var(--button-radius);
    transition: var(--background-anim);
    
    &:hover {
        cursor: pointer;
    }

    &:active {
        box-shadow: var(--button-shadow-active);
    }

    &:focus {
        background-color: var(--interactive-normal-hover);
        box-shadow: var(--button-shadow-focus);
    }
}

select[disabled],
select[aria-disabled="true"],
select[disabled="true"]
.dropdown[disabled] {
    opacity: var(--disabled-component-opacity);
    cursor: not-allowed;
}