/*────────── Dropdown ──────────*/

select,
.dropdown {
    height: var(--dropdown-height);
    border-radius: var(--button-radius);
    
    &:hover {
        cursor: pointer;
    }

    &:focus,
    &:active {
        box-shadow: var(--button-shadow-active);
    }
}