/*────────── kbd ──────────*/

kbd,
span.prompt-instruction-command,
span.setting-hotkey {
    color: var(--kbd-color);
    background: var(--kbd-background);
    padding:    var(--size-2-1)
                var(--size-2-3)
                var(--size-2-1)
                var(--size-2-3);
    box-shadow: var(--kbd-shadow);
}