/*────────── Loading ──────────*/

.is-loading:before {
    background-color: var(--background-modifier-success);
    animation: var(--anim-duration-moderate) var(--anim-motion-smooth) infinite;
}

.progress-bar {
    background: var(--background-primary);

    &-message {
        font-size: var(--font-ui-smaller);
        color: var(--text-faint);
        text-transform: uppercase;
        font-feature-settings: "calt" off;
        letter-spacing: 0.2em;
    }
    
    &-indicator {
        width: 35%;
        height: var(--size-4-3);
        border: 1px solid var(--background-modifier-border);
        border-radius: var(--size-4-3);
    }

    &-line {
        height: var(--size-4-3);
        background: var(--background-secondary);
    }

    &-subline {
        height: var(--size-4-3);
        background: var(--background-modifier-warning);
        animation: var(--anim-duration-moderate) var(--anim-motion-smooth) infinite;
    }
}

// Mobile
.is-mobile {
    .progress-bar {
        &-indicator {
            width: 50%;
        }
    }
}