/*────────── Menu ──────────*/

.menu {
    animation: var(--anim-popup);
}

.menu-item {
    border-radius: var(--menu-item-radius);

    &.selected:not(.is-label):not(.is-disabled) {
        background: var(--menu-item-bg-hover);

        &:active {
            color: var(--menu-item-color-active);
            background: var(--menu-item-bg-active);

            .menu-item-icon {
                color: var(--menu-item-icon-color-active);
            }
        }
    }
}

.menu-item-icon {
    color: var(--menu-item-icon-color);

    &.mod-checked > svg {
        width: 12px;
        height: 12px;
    }
}

// Mobile
.menu {
    .is-mobile & {
        border: 1px solid var(--background-modifier-border-hover);
        border-radius: var(--size-4-4);
    }
    
    .is-phone & {
        border-bottom: none;
        border-radius: var(--size-4-4) var(--size-4-4) 0 0;
    }
}