/*────────── Modal: Settings ──────────*/
// Settings Left Sidebar
// Tab Header
.vertical-tab-header-group-title {
    // font-family: var(--font-monospace-theme);
    color: var(--settings-nav-group-title-color);
    text-transform: uppercase;
}
// Nav Items
.vertical-tab-nav-item {
    color: var(--settings-nav-item-text-color);
    padding: var(--size-4-2) var(--size-4-3);
    border-radius: var(--radius-m);
    transition: box-shadow var(--button-anim);
    
    &:hover:not(.is-active) {
        color: var(--settings-nav-item-text-color-hover);
        background: var(--settings-nav-item-bg-hover);
        // box-shadow: var(--input-shadow-hover);
        cursor: pointer;
    }

    &:active:not(.is-active) {
        color: var(--settings-nav-item-text-color-active);
        background: var(--settings-nav-item-bg-active);
        transform: translateY(var(--button-axis-offset));
    }

    &.is-active:nth-child(3n+1) {
        background: var(--alternating-color-1);
        box-shadow: var(--button-shadow);
    }

    &.is-active:nth-child(3n+2) {
        background: var(--alternating-color-2);
        box-shadow: var(--button-shadow);
    }

    &.is-active:nth-child(3n+3) {
        background: var(--alternating-color-3);
        box-shadow: var(--button-shadow);
    }
}