/*────────── Modal: Settings ──────────*/
// Settings Left Sidebar
// Tab Header
.vertical-tab-header-group-title {
    // font-family: var(--font-monospace-theme);
    color: var(--settings-nav-group-title-color);
    text-transform: uppercase;
}
// Nav Items
.vertical-tab-nav-item {
    color: var(--settings-nav-item-text-color);
    padding: var(--size-4-2) var(--size-4-3);
    border-radius: var(--radius-m);
    transition: box-shadow var(--button-anim);
    
    &:hover:not(.is-active) {
        color: var(--settings-nav-item-text-color-hover);
        background: var(--settings-nav-item-bg-hover);
        // box-shadow: var(--input-shadow-hover);
        cursor: pointer;
    }

    &:active:not(.is-active) {
        color: var(--settings-nav-item-text-color-active);
        background: var(--settings-nav-item-bg-active);
        transform: translateY(var(--button-axis-offset));
    }

    &.is-active:nth-child(3n+1) {
        background: var(--alternating-color-1);
        box-shadow: var(--button-shadow);
    }

    &.is-active:nth-child(3n+2) {
        background: var(--alternating-color-2);
        box-shadow: var(--button-shadow);
    }

    &.is-active:nth-child(3n+3) {
        background: var(--alternating-color-3);
        box-shadow: var(--button-shadow);
    }
}

// TODO Disables Color Accent picker and adds Caution
// body > div.modal-container.mod-dim > div.modal.mod-settings.mod-sidebar-layout > div.modal-content.vertical-tabs-container > div.vertical-tab-content-container > div > div:nth-child(2) > div.setting-item-control {
//         display: none;
// }

// body > div.modal-container.mod-dim > div.modal.mod-settings.mod-sidebar-layout > div.modal-content.vertical-tabs-container > div.vertical-tab-content-container > div > div:nth-child(2) > div.setting-item-info > div {
//     display: none;
// }

// body > div.modal-container.mod-dim > div.modal.mod-settings.mod-sidebar-layout > div.modal-content.vertical-tabs-container > div.vertical-tab-content-container > div > div:nth-child(2) > div.setting-item-info::after {
//     content: "Accent Colors are not customizable in Primary. Though, in the future, through the Style Settings plugin, tons of color and style customizations will be available. Premium Palettes will also be released.";
//     font-size: var(--font-ui-small);
//     color: var(--text-error);
// }

// Add warning in Translucent Window toggle

body > div.modal-container.mod-dim > div.modal.mod-settings.mod-sidebar-layout > div.modal-content.vertical-tabs-container > div.vertical-tab-content-container > div > div:nth-child(20) > div.setting-item-info > div.setting-item-description::after {
    content: "Translucent Window is not yet supported in Primary. Things may look like they are broken.";
    display: flex;
    margin-top: var(--size-4-1);
    font-size: var(--font-ui-small);
    color: var(--text-warning);
}