/*────────── Modals ──────────*/

.modal-container {
    backdrop-filter: blur(3px);
}

/*────────── Modal: Settings ──────────*/
// Settings Left Sidebar
.vertical-tab-header-group {
    padding-top: 0;
}

// Tab Header
.vertical-tab-header-group-title {
    font-size: calc(var(--font-ui-smaller) - 1px);
    color: var(--settings-nav-group-title-color);
    text-transform: uppercase;
    font-feature-settings: "calt" off;
    letter-spacing: 0.1em;
}

// Nav Items
.vertical-tab-nav-item {
    text-transform: capitalize;
    font-size: var(--font-ui-small);
    color: var(--settings-nav-item-text-color);
    padding: var(--settings-nav-item-padding);
    border-radius: var(--settings-nav-item-radius);
    margin-bottom: var(--size-2-1);
    transition: box-shadow var(--button-anim);
    transition: padding-left var(--anim-duration-fast) var(--anim-motion-smooth);
    
    &:hover:not(.is-active) {
        color: var(--settings-nav-item-text-color-hover);
        background: var(--settings-nav-item-bg-hover);
        cursor: pointer;
        padding: var(--settings-nav-item-padding-hover);
    }

    &:active:not(.is-active) {
        color: var(--settings-nav-item-text-color-active);
        background: var(--settings-nav-item-bg-active);
        transform: translateY(var(--button-axis-offset));
    }

    &.is-active {
        padding: var(--settings-nav-item-padding-active);
    }

    &.is-active:nth-child(3n+1) {
        background: var(--alternating-color-1);
        box-shadow: var(--button-shadow);
    }

    &.is-active:nth-child(3n+2) {
        background: var(--alternating-color-2);
        box-shadow: var(--button-shadow);
    }

    &.is-active:nth-child(3n+3) {
        background: var(--alternating-color-3);
        box-shadow: var(--button-shadow);
    }
}