/*────────── Navigation Items ──────────*/

.tree-item-self {
    border-radius: var(--nav-item-radius);
    
    &.is-clickable {
        cursor: var(--cursor);

        &.is-active:not(.nav-file-title) {
            box-shadow: var(--nav-item-shadow-active);
        }
    }
}

// Backlink Pane | Outgoing Link Pane
.backlink-pane,
.embedded-backlinks .backlink-pane,
.outgoing-link-pane {
    > .tree-item-self {
        font-size: 11px;
        font-feature-settings: "calt" off;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
}

.embedded-backlinks .backlink-pane > .tree-item-self {
    margin-top: 5px;
}