/*────────── Navigation Items ──────────*/

.tree-item-self {
    border-radius: var(--nav-item-radius);
    
    &.is-clickable {
        &.is-active:not(.nav-file-title) {
            box-shadow: var(--nav-item-shadow-active);
        }
    }
}

.embedded-backlinks .backlink-pane .tree-item-flair,
.tree-item-flair {
    font-variant-numeric: tabular-nums;
    font-size: var(--font-ui-smallest);
    color: var(--flair-count-color);
    background: var(--flair-count-bg-color);
    padding: var(--flair-count-padding);
    border-radius: var(--flair-count-radius);
}

body:not(.is-grabbing) .tree-item-self.is-clickable:hover .tree-item-flair {
    color: var(--nav-item-color-hover);
    background: var(--flair-count-bg-color);
}

// Backlink Pane | Outgoing Link Pane
.backlink-pane,
.embedded-backlinks .backlink-pane,
.outgoing-link-pane {
    > .tree-item-self {
        font-size: var(--font-ui-smallest);
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
}

.embedded-backlinks .backlink-pane > .tree-item-self {
    margin-top: 5px;
}

// Selected Items
.nav-folder-children > .nav-folder .nav-folder-title.is-selected,
.nav-files-container > div > .nav-folder .nav-folder-title.is-selected,
.nav-files-container .tree-item-self.nav-file-title.is-selected,
.tree-item .tree-item-self.is-selected {
    --icon-color: var(--nav-item-color-selected);
    color: var(--nav-item-color-selected);
    background: var(--nav-item-background-selected);

    &:hover {
        --icon-color: var(--nav-item-color-selected);
        color: var(--nav-item-color-selected);    
        background: var(--nav-item-background-selected-hover);
    }
}

.nav-folder-title.is-selected .nav-folder-collapse-indicator svg.svg-icon {
    color: var(--nav-item-color-selected);
}