/*────────── Notice ──────────*/

.notice-container {
    overflow: visible;
}

.notice,
.is-phone .notice {
    color: var(--notice-color);
    border-radius: var(--radius-l);
    box-shadow: var(--notice-shadow);
}