/*────────── Prompt ──────────*/

input.prompt-input {
    background: var(--prompt-input-background);
    padding: 28px var(--size-4-6);
}

input.prompt-input,
input.prompt-input:hover,
input.prompt-input:active,
input.prompt-input:focus,
input.prompt-input:focus-visible {
    border-bottom: var(--prompt-separator-border);
}

.prompt-results {
    background: var(--prompt-results-background);
}

.suggestion-item:not(.mod-search-suggestion .suggestion-item) {
    color: var(--prompt-suggestion-color);
    padding: var(--size-4-2) var(--size-4-3);
    border-radius: calc(var(--radius-m) - 1px);
    transition: padding var(--anim-duration-fast) var(--anim-motion-swing);

    .suggestion-title {
        font-size: calc(var(--font-ui-medium) - 1px);
    }

    &.is-selected {
        color: var(--prompt-suggestion-color-selected);
        background: var(--prompt-suggestion-background-selected);
        padding: var(--size-4-2) var(--size-4-3) var(--size-4-2) var(--size-4-6);
        box-shadow: var(--prompt-suggestion-shadow-selected);
    }

    &.mod-complex .suggestion-highlight {
        color: var(--prompt-suggestion-highlight-color);
        font-weight: var(--font-semibold);
    }

    &.mod-complex.is-selected .suggestion-highlight {
        color: var(--prompt-suggestion-highlight-color-selected);
    }
}

.suggestion-aux .suggestion-flair > svg.lucide-pin {
    transform: rotate(45deg);
}

.prompt-instructions {
    background: var(--prompt-instructions-background);
    padding: var(--size-4-2) var(--size-4-3);
    justify-content: right;
}

.prompt-instructions,
.prompt-instructions:hover,
.prompt-instructions:active,
.prompt-instructions:focus,
.prompt-instructions:focus-visible {
    border-top: var(--prompt-separator-border);
}

.prompt-instruction-command {
    color: var(--inline-code-color);
    background-color: var(--background-secondary);
    padding: 2px 4px;
    border-radius: 4px;
}