/*────────── Slider ──────────*/

input[type='range'],
input[type='range']:hover,
input[type='range']:focus {
    box-shadow: var(--slider-track-shadow);
}

input[type='range']::-webkit-slider-thumb {
    background: var(--slider-thumb-bg);
    box-shadow: var(--slider-thumb-shadow);
    cursor: grab;
}

input[type='range']::-webkit-slider-thumb:hover,
input[type='range']::-webkit-slider-thumb:active,
input[type='range']:focus::-webkit-slider-thumb,
input[type='range']:focus-visible::-webkit-slider-thumb {
    background: var(--slider-thumb-bg);
    box-shadow: var(--slider-thumb-shadow-hover);
}