/*────────── Tabs ──────────*/

// Variables for Editor Tab Styles
body {
    --tab-header-container-padding: 0 var(--editor-border-radius)
        var(--size-4-1) var(--editor-border-radius);
    --tab-header-container-border-bottom: none;
    --tab-header-container-transition: padding-bottom none;

    --tab-header-container-inner-margin: default;
    --tab-header-container-inner-padding: var(--button-axis-offset);

    --tab-curves-display: none;
    --tab-z-index: 1;
}

// General Default Sizing and Alignment
body:not(.is-phone) .mod-root .workspace {
    // File
    &-leaf:not(.workspace-tabs.mod-stacked .workspace-leaf) {
        border-radius: var(--editor-border-radius);
    }

    &-leaf-content {
        border: var(--editor-border-width) solid var(--editor-border-color);
        border-radius: var(--editor-border-radius);
    }

    // .mod-root Tabs
    &-tab-header-container {
        padding: var(--tab-header-container-padding);
        border-bottom: var(--tab-header-container-border-bottom);
        transition: var(--tab-header-container-transition);

        &-inner {
            padding-bottom: var(--tab-header-container-inner-padding);
            margin-bottom: var(--tab-header-container-inner-margin);
            z-index: var(--tab-z-index);
        }
    }
}

// Primary Sidebar Tab Styling
.mod-left-split .workspace,
.mod-right-split .workspace {
    &-tab-header {
        border-radius: var(--radius-m);

        &-container-inner {
            padding-bottom: 6px;
        }

        // Active Sidebar Tabs
        &.is-active {
            background: var(--tab-active-bg);
            box-shadow: var(--tab-active-shadow);
            transition:
                border,
                box-shadow,
                transform var(--button-anim);

            &:hover {
                background: var(--tab-active-bg);
            }

            &:nth-child(3n + 1) {
                border: 1px solid var(--alternating-color-1);

                .workspace-tab-header-inner-icon {
                    color: var(--alternating-color-1);
                }

                .workspace-tab-header-inner-title {
                    color: var(--alternating-color-1);
                }

                .workspace-tab-header-inner-close-button,
                .workspace-tab-header-status-icon {
                    color: var(--alternating-color-1);

                    &:hover {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-1);
                    }

                    &:active {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-1-hover-active);
                    }
                }
            }

            &:nth-child(3n + 2) {
                border: 1px solid var(--alternating-color-2);

                .workspace-tab-header-inner-icon {
                    color: var(--alternating-color-2);
                }

                .workspace-tab-header-inner-title {
                    color: var(--alternating-color-2);
                }

                .workspace-tab-header-inner-close-button,
                .workspace-tab-header-status-icon {
                    color: var(--alternating-color-2);

                    &:hover {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-2);
                    }

                    &:active {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-2-hover-active);
                    }
                }
            }

            &:nth-child(3n + 3) {
                border: 1px solid var(--alternating-color-3);

                .workspace-tab-header-inner-icon {
                    color: var(--alternating-color-3);
                }

                .workspace-tab-header-inner-title {
                    color: var(--alternating-color-3);
                }

                .workspace-tab-header-inner-close-button,
                .workspace-tab-header-status-icon {
                    color: var(--alternating-color-3);

                    &:hover {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-3);
                    }

                    &:active {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-3-hover-active);
                    }
                }
            }
        }

        // Non-active Sidebar Tabs
        &:not(.is-active) {
            color: var(--icon-color);
            border: 1px solid transparent;
            transition:
                border,
                border-color,
                box-shadow,
                transform var(--button-anim);

            &:hover {
                color: var(--icon-color-hover);
                border-color: transparent;
                background: var(--tab-bg);
                transform: translateY(calc(-1 * var(--button-axis-offset)));
                cursor: var(--cursor);

                .workspace-tab-header-inner {
                    background: transparent;
                }

                .workspace-tab-header-inner-title {
                    color: var(--icon-color-hover);
                }
            }

            &:active {
                color: var(--icon-color-hover);
                border-color: transparent;
                background: var(--tab-bg);
                transform: translateY(var(--button-axis-offset));

                .workspace-tab-header-inner-title {
                    color: var(--icon-color-hover);
                }
            }
        }
    }
}

// Dark Mode Sidebar Tab on Hover Fix
@media (hover: hover) {
    .mod-left-split .workspace-tab-header.has-active-menu:hover,
    .mod-right-split .workspace-tab-header.has-active-menu:hover,
    .mod-left-split .workspace-tab-header.is-active:hover,
    .mod-right-split .workspace-tab-header.is-active:hover {
        background-color: var(--tab-active-bg);
    }
}

// Primary Editor Tab Styling
.mod-root .workspace-tabs:not(.mod-stacked) .workspace {
    &-tab-header {
        --tab-radius-active: var(--radius-m);

        .workspace & {
            // Aligns content inside Tabs
            padding-bottom: 0px;
            // Removes visibility of tab separator beside Active tab for .mod-root
            margin-inline-start: -2px;
        }

        // Active Editor Tabs
        &.is-active {
            // Tab Curves
            &::before,
            &::after {
                display: var(--tab-curves-display);
            }

            background: var(--tab-active-bg);
            box-shadow: var(--tab-active-shadow);
            transition:
                border,
                box-shadow,
                transform var(--button-anim);

            &:nth-child(3n + 1) {
                border: 1px solid var(--alternating-color-1);

                .workspace-tab-header-inner-icon {
                    color: var(--alternating-color-1);
                }

                .workspace-tab-header-inner-title {
                    color: var(--alternating-color-1);
                }

                .workspace-tab-header-inner-close-button,
                .workspace-tab-header-status-icon {
                    color: var(--alternating-color-1);

                    &:hover {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-1);
                    }

                    &:active {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-1-hover-active);
                    }
                }
            }

            &:nth-child(3n + 2) {
                border: 1px solid var(--alternating-color-2);

                .workspace-tab-header-inner-icon {
                    color: var(--alternating-color-2);
                }

                .workspace-tab-header-inner-title {
                    color: var(--alternating-color-2);
                }

                .workspace-tab-header-inner-close-button,
                .workspace-tab-header-status-icon {
                    color: var(--alternating-color-2);

                    &:hover {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-2);
                    }

                    &:active {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-2-hover-active);
                    }
                }
            }

            &:nth-child(3n + 3) {
                border: 1px solid var(--alternating-color-3);

                .workspace-tab-header-inner-icon {
                    color: var(--alternating-color-3);
                }

                .workspace-tab-header-inner-title {
                    color: var(--alternating-color-3);
                }

                .workspace-tab-header-inner-close-button,
                .workspace-tab-header-status-icon {
                    color: var(--alternating-color-3);

                    &:hover {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-3);
                    }

                    &:active {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-3-hover-active);
                    }
                }
            }
        }

        // Non-active Editor Tabs
        &:not(.is-active) {
            color: var(--icon-color);
            border: 1px solid transparent;
            transition:
                border,
                border-color,
                box-shadow,
                transform var(--button-anim);

            &:hover {
                color: var(--icon-color-hover);
                border-color: transparent;
                background: var(--tab-bg);
                transform: translateY(calc(-1 * var(--button-axis-offset)));
                cursor: var(--cursor);

                .workspace-tab-header-inner {
                    background: transparent;
                }

                .workspace-tab-header-inner-title {
                    color: var(--icon-color-hover);
                }
            }

            &:active {
                color: var(--icon-color-hover);
                border-color: transparent;
                background: var(--tab-bg);
                transform: translateY(var(--button-axis-offset));

                .workspace-tab-header-inner-title {
                    color: var(--icon-color-hover);
                }
            }
        }

        &-new-tab {
            padding-bottom: 0;
        }

        &-tab-list {
            padding-bottom: 0;
            margin-inline-end: var(--size-4-3);
        }
    }
}

// Stacked Tabs
.mod-root .workspace-tabs.mod-stacked {
    // 40px is the default size of --header-height in the Default Theme
    --tab-stacked-header-width: 40px;

    .workspace-tab-container {
        border-radius: var(--editor-border-radius);
        border: var(--editor-border-width) solid var(--editor-border-color);

        .workspace-tab-header:first-child {
            border-top-left-radius: var(--editor-border-radius);
            border-bottom-left-radius: var(--editor-border-radius);
        }
    }

    // Resets styling from Non-stacked Tab Styling
    .workspace-leaf-content {
        border: unset;
        border-radius: unset;
        margin-bottom: unset;
    }
}

.workspace-tabs.mod-stacked .workspace {
    &-tab-header {
        --tab-radius-active: var(--radius-m);

        // Active Tabs
        &.is-active {
            background: var(--tab-active-bg);
            transition:
                border,
                transform var(--button-anim);

            &:nth-child(3n + 1) {
                border-left: 1px solid var(--alternating-color-1);

                .workspace-tab-header-inner-icon {
                    color: var(--alternating-color-1);
                }

                .workspace-tab-header-inner-title {
                    color: var(--alternating-color-1);
                }

                .workspace-tab-header-inner-close-button,
                .workspace-tab-header-status-icon {
                    color: var(--alternating-color-1);

                    &:hover {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-1);
                    }

                    &:active {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-1-hover-active);
                    }
                }
            }

            // alternating-color should be 2 (as in blue)
            // but for some reason obsidian renders it switched in stacked tabs
            // so 3n+2 must be alternating-color-3 not 2
            &:nth-child(3n + 2) {
                border-left: 1px solid var(--alternating-color-3);

                .workspace-tab-header-inner-icon {
                    color: var(--alternating-color-3);
                }

                .workspace-tab-header-inner-title {
                    color: var(--alternating-color-3);
                }

                .workspace-tab-header-inner-close-button,
                .workspace-tab-header-status-icon {
                    color: var(--alternating-color-3);

                    &:hover {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-3);
                    }

                    &:active {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-3-hover-active);
                    }
                }
            }

            // alternating-color should be 3 (as in red)
            // but for some reason obsidian renders it switched in stacked tabs
            // so 3n+3 must be alternating-color-2 not 3
            &:nth-child(3n + 3) {
                border-left: 1px solid var(--alternating-color-2);

                .workspace-tab-header-inner-icon {
                    color: var(--alternating-color-2);
                }

                .workspace-tab-header-inner-title {
                    color: var(--alternating-color-2);
                }

                .workspace-tab-header-inner-close-button,
                .workspace-tab-header-status-icon {
                    color: var(--alternating-color-2);

                    &:hover {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-2);
                    }

                    &:active {
                        color: var(--text-on-accent);
                        background: var(--alternating-color-2-hover-active);
                    }
                }
            }
        }

        // Non-active Tabs
        &:not(.is-active) {
            color: var(--icon-color);
            transition:
                border,
                border-color var(--anim-duration-fast) var(--anim-motion-swing);

            &:not(:first-child) {
                border-left: 1px solid var(--background-modifier-border);
            }

            &:hover,
            &:active {
                color: var(--icon-color-hover);
                cursor: var(--cursor);

                .workspace-tab-header-inner {
                    background: transparent;
                }

                .workspace-tab-header-inner-title {
                    color: var(--icon-color-hover);
                }
            }
        }

        &-new-tab {
            padding-bottom: var(--size-2-2);
        }

        &-tab-list {
            padding-bottom: var(--size-2-2);
            margin-inline-end: var(--size-4-3);
        }
    }
}

// Tab Buttons
.workspace .mod-root .workspace-tabs .workspace-tab-header {
    // Note Close Button Shaping
    .workspace-tab-header-inner-close-button {
        --icon-size: var(--icon-xs);
        padding: 0;
        border-radius: var(--close-button-radius);
        margin-bottom: var(--button-axis-offset);
        cursor: var(--cursor);

        // Mobile
        .is-mobile & {
            --icon-size: var(--icon-s);
        }
    }

    // Note Status Icon Shaping
    .workspace-tab-header-status-icon {
        --icon-size: var(--icon-xs);
        padding: var(--size-2-1) 0;
        margin-bottom: var(--button-axis-offset);
        border-radius: var(--tab-status-radius);
        cursor: var(--cursor);

        // Mobile
        .is-mobile & {
            --icon-size: var(--icon-s);
        }
    }

    // Button Coloring
    // Non-active Tabs
    &:not(.is-active) {
        &:hover {
            .workspace-tab-header-inner-close-button,
            .workspace-tab-header-status-icon {
                color: var(--icon-color-hover);
            }
        }

        .workspace-tab-header-inner-close-button,
        .workspace-tab-header-status-icon {
            color: var(--icon-color);

            &:hover {
                color: var(--text-on-accent);
                background: var(--non-alternating-color);
            }

            &:active {
                color: var(--text-on-accent);
                background: var(--non-alternating-color-hover-active);
            }
        }
    }

    // New Tab
    &-new-tab {
        .clickable-icon {
            color: var(--icon-color);
            padding: 0px;
            border-radius: var(--close-button-radius);

            &:hover {
                color: var(--text-on-accent);
                background: var(--non-alternating-color);
            }

            &:active {
                color: var(--text-on-accent);
                background: var(--non-alternating-color-hover-active);
            }
        }
    }

    // Tab List
    &-tab-list {
        .clickable-icon {
            color: var(--icon-color);
            padding: 0px;
            border-radius: var(--radius-m);

            &:hover {
                color: var(--icon-color-hover);
            }

            &:active {
                color: var(--icon-color-focused);
            }

            &.has-active-menu {
                color: var(--icon-color-active);
            }
        }
    }
}
