/*────────── Text Input ──────────*/

textarea,
input.metadata-input-text,
input[type='date'],
input[type='datetime-local'],
input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'] {
    color: var(--text-input-color);

    &[disabled],
    &[aria-disabled="true"],
    &[disabled="true"] {
        opacity: var(--disabled-component-opacity);
        cursor: not-allowed;
    }

    // Mobile
    .workspace-drawer &,
    .is-mobile .modal & {
        border: 1px solid var(--background-modifier-border);
    }
}

textarea:active,
input.metadata-input-text:active,
input[type='date']:active,
input[type='datetime-local']:active,
input[type='text']:active:not(.prompt-input, .metadata-property-key-input),
input[type='search']:active,
input[type='email']:active,
input[type='password']:active,
input[type='number']:active,
textarea:focus,
input.metadata-input-text:focus,
input[type='date']:focus,
input[type='datetime-local']:focus,
input[type='text']:focus:not(.prompt-input, .metadata-property-key-input),
input[type='search']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
textarea:focus-visible,
input.metadata-input-text:focus-visible,
input[type='date']:focus-visible,
input[type='datetime-local']:focus-visible,
input[type='text']:focus-visible:not(.prompt-input, .metadata-property-key-input),
input[type='search']:focus-visible,
input[type='email']:focus-visible,
input[type='password']:focus-visible,
input[type='number']:focus-visible {
    color: var(--text-input-color-focused);
    background: var(--text-input-bg-active);
    border: 1px solid var(--text-input-border-color);
    box-shadow: var(--text-input-shadow-active);
    transition: background, box-shadow var(--anim-duration-superfast) var(--anim-motion-swing);
}

.nav-header .search-input-container {
    margin: var(--size-4-2) 0px;
    margin-bottom: 0px;
}

// Mobile
.search-input-container input:not(.is-mobile .search-input-container input) {
    padding-left: 28px;
}

.search-input-clear-button {
    cursor: var(--cursor);

    &:hover {
        color: var(--search-clear-button-color-hover);
    }
}