/*────────── Text Input ──────────*/

textarea,
input {
    // For stylized use of Inter and Cascadia Code:
    font-feature-settings:
    "calt" on,
    "dlig" on,
    "case" on,
    "ccmp" on,
    "ss03" on,
    "ss19" on,
    "cv01",
    "cv05",
    "cv06",
    "cv08",
    "cv11";
}

textarea:active,
input.metadata-input-text:active,
input[type='date']:active,
input[type='datetime-local']:active,
input[type='text']:active,
input[type='search']:active,
input[type='email']:active,
input[type='password']:active,
input[type='number']:active,
textarea:focus,
input.metadata-input-text:focus,
input[type='date']:focus,
input[type='datetime-local']:focus,
input[type='text']:focus,
input[type='search']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
textarea:focus-visible,
input.metadata-input-text:focus-visible,
input[type='date']:focus-visible,
input[type='datetime-local']:focus-visible,
input[type='text']:focus-visible,
input[type='search']:focus-visible,
input[type='email']:focus-visible,
input[type='password']:focus-visible,
input[type='number']:focus-visible {
    // background: var(--text-input-bg-active);
    box-shadow: var(--text-input-shadow-active);
}