/*────────── Toggle ──────────*/

.checkbox-container {
    background: var(--toggle-bg);

    &:hover {
        cursor: pointer;
    }
    
    &.is-enabled {
        background: var(--toggle-bg-enabled);
    }
}