/*────────── Toggle ──────────*/

.checkbox-container {
    background: var(--toggle-bg);
    box-shadow:  var(--toggle-shadow);

    &:hover {
        box-shadow:  var(--toggle-shadow-hover);
        cursor: var(--cursor);
    }

    &:active {
        &::after {
            width: calc(var(--toggle-thumb-width) + 4px);
        }
    }

    &:focus,
    &:focus-visible,
    &:focus-within,
    &.mod-small:focus-within {
        outline: none;
        box-shadow: var(--toggle-shadow-focus);
    }
    
    &.is-enabled {
        background: var(--toggle-bg-enabled);
    }

    &:after {
        box-shadow: var(--toggle-thumb-shadow);
    }
}