/*────────── Typography ──────────*/

.cm-html-embed.cm-embed-block pre code {
    font-family: var(--font-monospace-theme);
}

// Interface Font Feature
body,
.multi-select-input,
.suggestion-item.mod-complex .suggestion-hotkey,
.suggestion-item.mod-complex .suggestion-action,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
.markdown-rendered button.copy-code-button,
.markdown-source-view.mod-cm6 .code-block-flair {
    font-feature-settings: var(--interface-font-feature);
}

input,
textarea,
select,
button,
span.code-block-flair {
    font-feature-settings: var(--interface-font-feature);
}

// Text Font Feature
.markdown-source-view,
.markdown-source-view.mod-cm6 .cm-scroller,
.markdown-preview-view,
.community-modal-readme,
.sync-history-preview {
    font-feature-settings: var(--text-font-feature);
}

// Monospace Font Feature
div:not(.list-bullet::after),
.HyperMD-codeblock,
.cm-inline-code,
pre,
code {
    font-feature-settings: var(--monospace-font-feature);
}