/*────────────────────────────────────
            Empty Page
────────────────────────────────────*/
.empty-state-title {
    display: none;
}

.empty-state-action,
.is-mobile .empty-state-action {
    font-size: var(--font-scale-0-5);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    width: 26ch;

    background: var(--background-primary-alt);
    padding: var(--scale-2-6) 0;
    border-radius: var(--scale-8-4);
    border: 1px solid var(--background-modifier-border);
    margin-bottom: var(--scale-2-4);
    transition: var(--duration-superfast)
                var(--motion-smooth);

    &:hover {
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(0.5px);
    }

    .theme-light & {
        box-shadow: 0px 2px 4px 0px rgba(100, 100, 100, 0.1),
                    0px -2px 0px 0px rgba(100, 100, 100, 0.15) inset;

        &:active {
            background: var(--background-secondary);
            box-shadow: 0px 0px 0px 3px 
                rgba(150, 150, 150, 0.15) inset;
        }

        &:nth-child(3n+1) {
            &:hover, :focus {
                color: var(--color-l-yellow-500);
                border: 1px solid var(--color-l-yellow-500);
            }

            &:active {
                color: var(--color-l-yellow-700);
                border: 1px solid var(--color-l-yellow-700);
            }
        }
    
        &:nth-child(3n+2) {
            &:hover, :focus {
                color: var(--color-l-red-500);
                border: 1px solid var(--color-l-red-500);
            }

            &:active {
                color: var(--color-l-red-700);
                border: 1px solid var(--color-l-red-700);
            }
        }
    
        &:nth-child(3n+3) {
            &:hover, :focus {
                color: var(--color-l-blue-500);
                border: 1px solid var(--color-l-blue-500);
            }

            &:active {
                color: var(--color-l-blue-700);
                border: 1px solid var(--color-l-blue-700);
            }
        }
    }

    .theme-dark & {
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1),
                    0px -3px 0px 0px rgba(0, 0, 0, 0.25) inset;

        &:active {
            background: var(--background-secondary);
            box-shadow: 0px 0px 0px 3px 
                rgba(0, 0, 0, 0.3) inset;
        }

        &:nth-child(3n+1) {
            &:hover, :focus {
                color: var(--color-d-yellow-700);
                border: 1px solid var(--color-d-yellow-700);
            }

            &:active {
                color: var(--color-d-yellow-900);
                border: 1px solid var(--color-d-yellow-900);
            }
        }
    
        &:nth-child(3n+2) {
            &:hover, :focus {
                color: var(--color-d-red-700);
                border: 1px solid var(--color-d-red-700);
            }

            &:active {
                color: var(--color-d-red-900);
                border: 1px solid var(--color-d-red-900);
            }
        }
    
        &:nth-child(3n+3) {
            &:hover, :focus {
                color: var(--color-d-blue-700);
                border: 1px solid var(--color-d-blue-700);
            }

            &:active {
                color: var(--color-d-blue-900);
                border: 1px solid var(--color-d-blue-900);
            }
        }
    }
}

.workspace-leaf-content[data-type="empty"] .empty-state::after {
    content: "Primary by Cecilia May";
    color: var(--text-faint);
    letter-spacing: var(--tracking-4);
    text-transform: uppercase;
    font-size: var(--font-scale-0);
    white-space: pre;
    text-align: center;
    position: absolute;
    bottom: var(--scale-8-4);
    opacity: 0.75;

    .popover.hover-popover & {
        display: none;
    }
}