/*────────────────────────────────────
++++++++++++++++++++++++++++++++++++++
            Other Components
++++++++++++++++++++++++++++++++++++++
──────────────────────────────────────*/
/*────────────────────────────────────
            Modals
────────────────────────────────────*/
/*─────────All Modals──────────*/
.modal {
    width: clamp(200px, 90vw, 960px);
    height: auto;

    // Border and Overflow Fix
    border-radius: var(--scale-2-8);
    overflow-y: hidden;

    // Styles both Light and Dark Mode
    background: var(--background-primary);
    border: 1px solid var(--background-modifier-border);

    &.mod-settings,
    &.mod-settings .vertical-tab-container {
        width: clamp(200px, 90vw, 960px);
        min-height: 20vh;
        height: auto;
        max-height: 70vh;

        // Border and Overflow Fix
        border-radius: var(--scale-2-8);
        overflow-y: hidden;

        // Styles both Light and Dark Mode
        border: 1px solid var(--background-modifier-border);

        .theme-light & {
            box-shadow: var(--shadow-xl)
                        var(--color-l-shadow-100);
        }

        .theme-dark & {
            box-shadow: var(--shadow-xl)
                        var(--color-d-shadow-100);
        }

        & .setting-item-control button.clickable-icon {
            padding: 0;
            margin-right: var(--scale-2-4);
        }
    }

    &.mod-community-theme.mod-community-theme,
    &.mod-community-plugin {
        width: clamp(200px, 90vw, 960px);
        min-height: 90vh;

        overflow: hidden;
    }

    &.mod-image-lightbox {
        width: clamp(200px, 95vw, 1920px);
        min-height: 20vh;
        height: auto;
        max-height: 90vh;
        
        // Border and Overflow Fix
        border-radius: var(--scale-2-8);
        overflow-y: hidden;
    }

    & .vertical-tab-nav-item {
        text-transform: capitalize;
    }

    &-title {
        text-transform: capitalize;
        text-align: left;
    }

    &.mod-community-theme .modal-title {
        margin-left: var(--scale-8-3);
    }

    & .setting-hotkey {
        display: flex;
        align-items: center;
        align-self: center;

        & .setting-delete-hotkey {
            margin-right: 0;
            margin-left: var(--scale-2-6);
        }
    }

    /*─────────Settings Modal──────────*/
    & .modal-content .vertical-tab {
        &-header,
        &-header-group,
        &-content-container { // Content Container Reset
            padding: 0;
        }

        &-content {
            padding:    var(--scale-8-4)
                        var(--scale-8-4)
                        var(--scale-8-4)
                        var(--scale-8-4);
        }

        &-header,
        &-content-container .vertical-tab-content {
            flex: 0 0 220px;

            .theme-light & {
                background: var(--color-l-white);
            }

            .theme-dark & {
                background: var(--color-d-gray-70);
            }
        }

        &-header-group,
        &-nav-item {
            background: var(--background-secondary);
        }

        &-header-group-title {
            font-weight: var(--font-bold);
        }

        &-header-group-items .vertical-tab-nav-item {
        // Setting Modal Item
            background: transparent;
            padding:    var(--scale-2-2)
                        var(--scale-2-4)
                        var(--scale-2-2)
                        var(--scale-2-8);
            border: 1px solid transparent;
            border-radius: var(--scale-2-2);
            border-left: none;
            margin: var(--scale-0-0)
                    var(--scale-2-4)
                    var(--scale-0-0)
                    var(--scale-2-4);

            transition: var(--duration-superfast)
                        var(--motion-smooth);

            &:last-of-type {
                margin-bottom: var(--scale-2-5);
            }

            &.is-active {
                font-weight: var(--font-bold);
                z-index: 2;
            }

            .theme-light & {
                &:hover {
                    color: var(--color-l-gray-80);
                    background: var(--color-l-gray-10);
                }

                &:active {
                    color: var(--color-l-gray-50);
                    background: var(--color-l-gray-40);
                }

                &.is-active {
                    color: var(--color-l-whiter);
                    border: 1px solid rgba(100, 100, 100, 0.3);
                    box-shadow: 0px -2px 0px 0px
                                rgba(100, 100, 100, 0.15) inset,
                                0px 1px 4px 0px rgba(100, 100, 100, 0.25);
                }

                &:nth-child(3n+1).is-active {
                    background: var(--color-l-yellow-500);
                }

                &:nth-child(3n+2).is-active {
                    background: var(--color-l-red-300);
                }

                &:nth-child(3n+3).is-active {
                    background: var(--color-l-blue-300);
                }
            }

            .theme-dark & {
                &:hover {
                    color: var(--color-d-gray-20);
                    background: var(--color-d-gray-60);
                }

                &:active {
                    color: var(--color-d-gray-40);
                    background: var(--color-d-blacker);
                }

                &.is-active {
                    color: var(--color-d-black);
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    box-shadow: 0px -2px 0px 0px
                                rgba(0, 0, 0, 0.2) inset,
                                0px 1px 4px 0px rgba(0, 0, 0, 0.3);
                }

                &:nth-child(3n+1).is-active {
                    background: var(--color-d-yellow-700);
                }

                &:nth-child(3n+2).is-active {
                    background: var(--color-d-red-500);
                }

                &:nth-child(3n+3).is-active {
                    background: var(--color-d-blue-300);
                }
            }
        }
    }

    /*─────────Command, Quick Switcher etc. Modals──────────*/
    &-container {
        & .suggestion-item {
            font-size: var(--font-scale-1);
            line-height: var(--line-height-0-5);
            padding:    var(--scale-2-3)
                        var(--scale-2-3)
                        var(--scale-2-3)
                        var(--scale-8-1);
            border-radius: var(--scale-2-2);
            border: 1px solid transparent;

            & span.suggestion-prefix {
                color: var(--text-muted);
                font-size: 90%;
                font-style: italic;
                text-transform: uppercase;
                margin-right: var(--scale-8-1);

                &::after { // Colon after Prefix
                    display: none;
                }
            }

            &.is-selected {
                .theme-light & {
                    background: var(--color-l-gray-20);
                    border: 1px solid var(--color-l-gray-40);

                    & kbd.suggestion-hotkey {
                        background: var(--color-l-whiter);
                    }

                    &:active {
                        color: var(--text-muted);
                        background: var(--color-l-gray-40);
                        border: 1px solid var(--color-l-gray-50);

                        & kbd.suggestion-hotkey {
                            background: var(--color-l-gray-20);
                            padding-top: 3px;
                            padding-bottom: 1px;
                            box-shadow: none;
                        }

                        & .suggestion-flair,
                        & .suggestion-note {
                            color: var(--text-faint);
                        }
                    }
                }

                .theme-dark & {
                    background: var(--color-d-gray-50);
                    border: 1px solid var(--color-d-gray-40);

                    & kbd.suggestion-hotkey {
                        background: var(--color-d-gray-70);
                    }

                    &:active {
                        color: var(--text-faint);
                        background: var(--color-d-gray-90);
                        border: 1px solid var(--color-d-gray-50);

                        & kbd.suggestion-hotkey {
                            background: var(--color-d-gray-100);
                            padding-top: 3px;
                            padding-bottom: 1px;
                            box-shadow: none;
                        }

                        & .suggestion-flair,
                        & .suggestion-note {
                            color: var(--text-faint);
                        }
                    }
                }
            }
        }

        & .suggestion-flair { // For Quick Switcher and other Modals
            position: relative;
            left: initial;
            top: initial;
            margin-right: var(--scale-2-3);
        }

        & .prompt .suggestion-flair {
            float: left;
            margin-top: 1px;
        }
    }
}

/* Modal Close Close Buttons */
.slides-close-btn,
.modal-close-button {
    right: var(--scale-2-5);
    top: var(--scale-2-4);

    font-family: Inter, sans-serif;
    font-weight: 200;
    font-size: var(--scale-8-3);

    height: var(--scale-8-3);
    width: var(--scale-8-3);
    border-radius: var(--scale-8-3);
    z-index: 9;

    &:before {
        position: absolute;
        right: 4px;
        top: -2px;

        .theme-light & {
            color: var(--color-l-gray-20);
        }

        .theme-dark & {
            color: var(--color-d-gray-80);
        }
    }

    .theme-light & { // Modal Close Button Light Mode
        background: var(--color-l-red-300);
        box-shadow: 0px 1px 2px 0px 
                    rgba(100, 100, 100, 0.5),
                    0px -2px 0px 0px
                    rgba(100, 20, 20, 0.18) inset;
        &:hover {
            background: var(--color-l-red-500);
        }

        &:active {
            background: var(--color-l-red-700);
            box-shadow: 0px 0px 0px 2px 
                    rgba(150, 20, 20, 0.55) inset;

            &:before {
                color: var(--color-l-red-900);
            }
        }
    }

    .theme-dark & { // Modal Close Button Dark Mode
        background: var(--color-d-red-500);
        box-shadow: 0px 1px 2px 0px 
                    rgba(0, 0, 0, 0.25),
                    0px -2px 0px 0px
                    rgba(50, 10, 10, 0.35) inset;
        &:hover {
            background: var(--color-d-red-300);
        }

        &:active {
            background: var(--color-d-red-700);
            box-shadow: 0px 0px 0px 2px 
                    rgba(0, 0, 0, 0.45)  inset;

            &:before {
                color: var(--color-d-red-900);
            }
        }
    }
}

/*─────────Menu/More Options Modal──────────*/
.menu {
    // Styles both Light Mode and Dark Mode
    border: 1px solid var(--background-modifier-border);
    border-radius: var(--scale-2-4);

    .theme-light & {
        box-shadow: var(--shadow-s)
                    var(--color-l-shadow-100);
    }

    .theme-dark & {
        box-shadow: var(--shadow-m)
                    var(--color-d-shadow-100);
    }
    
    & .menu-item {
        .theme-light & {
            &.selected:active {
                color: var(--color-l-gray-50);
                background: var(--color-l-gray-40);

                & .menu-item-icon svg {
                    background: var(--color-l-gray-50);
                }
            }
        }

        .theme-dark & {
            &.selected:active {
                color: var(--color-d-gray-40);
                background: var(--color-d-blacker);
                
                & .menu-item-icon svg {
                    background: var(--color-d-gray-40);
                }
            }
        }

        &.menu-item-icon {
            vertical-align: -1px;
        }
    }
}

/*─────────File Explorer Search Modal─────────*/
.suggestion {
    &-container.mod-search-suggestion {
        padding:    var(--scale-0-0)
                    var(--scale-0-0)
                    var(--scale-0-0)
                    var(--scale-0-0);
        border-radius: var(--scale-2-4);
        overflow-x: hidden;

        & .suggestion {
            padding:    var(--scale-0-0)
                        var(--scale-0-0)
                        var(--scale-0-0)
                        var(--scale-0-0);
        }

        .theme-light & {
            box-shadow: var(--shadow-m)
                        var(--color-l-shadow-100);
        }
    
        .theme-dark & {
            box-shadow: var(--shadow-m)
                        var(--color-d-shadow-100);
        }
    }

    &-item {
        &.search-suggest-item.mod-complex:not(.mod-group) {
            line-height: var(--line-height-0-5);
            white-space: pre-wrap;
            word-wrap: break-word;
            padding:    var(--scale-2-3)
                        var(--scale-2-8)
                        var(--scale-2-3)
                        var(--scale-2-8); 
            border-radius: 0;
            margin: 0;
            
            &:nth-of-child(6) {
                margin-bottom: var(--scale-2-2);
            }
            
            &:last-child {
                margin-bottom: var(--scale-2-2);
            }

            &:active {
                color: var(--color-l-gray-50);
                background: var(--color-l-gray-40);
            }
        }

        &.search-suggest-item.mod-group {
        // Modal Titles
            font-size: var(--font-scale-0-5);
            border-radius: 0;
            border-bottom: 1px solid var(--background-modifier-border);
            margin-bottom: var(--scale-2-2);
        }

        & .search-suggest-info-text {
            color: var(--text-muted);

            &:active {
                color: var(--text-faint);
            }
        }
    }
}

.list-item-part.search-suggest-icon.clickable-icon {
    margin: 0;
}

/*─────────Prompts──────────*/
.prompt {
        // Border and Overflow Fix
        border-radius: var(--scale-2-8);
        overflow-y: hidden;

        &-results {
            padding-right: var(--scale-2-4);
        }

        // Styles both Light and Dark Mode
        border: 1px solid var(--background-modifier-border);
    .theme-light & {
        box-shadow: var(--shadow-xl)
                    var(--color-l-shadow-100);
    }

    .theme-dark & {
        box-shadow: var(--shadow-xl)
                    var(--color-d-shadow-100);
    }
}

.prompt-instructions {
    font-size: var(--font-scale-0-5);
    display: flex;
    justify-content: center;
    padding: var(--scale-2-3)
            var(--scale-2-4)
            var(--scale-2-3)
            var(--scale-2-4);
    border-top: 1px solid var(--background-modifier-border);
}

.prompt-instruction:last-child {
    margin-right: 0;
}

/*───────── Loading Progress Status in Modals ──────────*/
.is-loading:before {
    border-radius: var(--scale-2-4);
    border: 1px solid var(--background-modifier-border);

    .theme-light & {
        background: var(--color-l-green-500);
    }

    .theme-dark & {
        background: var(--color-d-green-900);
    }
}
