/*────────────────────────────────────
            Notifacation
────────────────────────────────────*/

.notice {
    font-family: var(--font-monospace-theme);
    border-radius: var(--scale-2-4);
    transition: var(--duration-moderate-2)
                var(--motion-jumpy);

    .theme-light & {
        color: var(--color-l-black);
        background: var(--color-l-yellow-300);
        box-shadow: 0px 1px 0px rgba(17, 17, 26,0.05),
                    0px 0px 8px rgba(17, 17, 26,0.1);
    }

    .theme-dark & {
        color: var(--color-d-black);
        background: var(--color-d-yellow-700);
        box-shadow: 0px 1px 0px rgba(0, 0, 0,0.05),
                    0px 0px 8px rgba(0, 0, 0,0.1);
    }
}