/*────────────────────────────────────
            Popovers
────────────────────────────────────*/
:root {
    --popover-min: 150px;
    --popover-default: 40vw;
    --popover-max: 600px;
}

.popover.hover-popover {
    width: clamp(var(--popover-min), var(--popover-default), var(--popover-max));
    border-radius: var(--size-4-3);
    border: 1px solid var(--background-modifier-border);
    box-shadow: var(--shadow-l)
                var(--background-modifier-box-shadow);

    & .markdown-embed {
        border: none;
    }

    & .markdown-preview-view {
        background: var(--background-primary);
        padding:    var(--size-4-2)
                    var(--size-4-12)
                    var(--size-4-2)
                    var(--size-4-12);
    }

    &::-webkit-scrollbar {
        display: none;
    }
}