/*────────── Code ──────────*/

.cm-html-embed.cm-embed-block pre code,
.cm-s-obsidian .cm-inline-code:not(.cm-formatting),
.cm-s-obsidian code:not(pre code),
.markdown-rendered code:not(pre code) {
    color: var(--inline-code-color);
    background: var(--inline-code-bg);
    border-radius: var(--inline-code-radius);
}