/*────────── Embed ──────────*/

// Markdown Embeds
body {
    --embed-background: var(--embed-bg-color-mix);
    --embed-padding: var(--size-2-3) var(--embed-left-right-padding);
    --embed-left-right-padding: var(--size-4-4);
    --embed-border-top: 1px solid var(--background-modifier-border);
    --embed-border-right: 1px solid var(--background-modifier-border);
    --embed-border-end: 1px solid var(--background-modifier-border);
    --embed-border-bottom: 1px solid var(--background-modifier-border);
    --embed-border-left: 1px solid var(--background-modifier-border);
    --embed-border-start: 1px solid var(--background-modifier-border);
    --embed-border-radius: var(--radius-l);
    --embed-title-margin-bottom: var(--size-4-2);
    --embed-title-border: 1px solid var(--background-modifier-border);
}

.markdown-embed:not(.canvas-node-content) {
    border-radius: var(--embed-border-radius);
}

.embed-title {
    text-wrap: wrap;
    color: var(--embed-title-color);
    padding: 0 var(--size-4-3) var(--size-2-2);
    margin-inline-start: calc(-1 * var(--embed-left-right-padding));
    margin-inline-end: calc(-1 * var(--embed-left-right-padding));
    border-bottom: var(--embed-title-border);
    margin-bottom: var(--embed-title-margin-bottom);

    &:empty {
        padding: 0;
        border: none;
        margin: 0;
    }
}

// Media Embeds
img,
audio,
video {
    border-radius: var(--radius-m);
}

// Popover
.popover.hover-popover .markdown-embed {
    --embed-background: var(--background-primary);
}