/*────────── Embed ──────────*/

// Markdown Embeds
.markdown-embed:not(.canvas-node-content) {
    border-radius: var(--embed-border-radius);
}

.embed-title {
    text-wrap: wrap;
    font-weight: var(--font-medium);
    color: var(--embed-title-color);
    padding: 0 var(--size-4-3) var(--size-2-2);
    margin-inline-start: calc(-1 * var(--embed-left-right-padding));
    margin-inline-end: calc(-1 * var(--embed-left-right-padding));
    border-bottom: var(--embed-title-border);
    margin-bottom: var(--embed-title-margin-bottom);

    &:empty {
        padding: 0;
        border: none;
        margin: 0;
    }
}

// Media Embeds
img,
audio,
video {
    border-radius: var(--embed-media-border-radius);
}

// Popover
.popover.hover-popover .markdown-embed {
    --embed-background: var(--background-primary);
}

// Mathjax | LaTeX
.markdown-preview-view .math-block {
    overflow: scroll;
    width: 100%;
}