/*────────── File ──────────*/

// Note Header
.view-header {
    --header-height: 38px;

    // Right Side Action Icons
    .view-action.clickable-icon {
        &:nth-child(3n+1) {
            &:hover {
                color: var(--alternating-color-1);
            }

            &.mod-filled:hover svg {
                fill: var(--alternating-color-1);
            }

            &:active,
            &.has-active-menu {
                color: var(--alternating-color-1-hover-active);
            }

            &.mod-filled:active svg {
                fill: var(--alternating-color-1-hover-active);
            }
        }

        &:nth-child(3n+2) {
            &:hover {
                color: var(--alternating-color-2);
            }

            &.mod-filled:hover svg {
                fill: var(--alternating-color-2);
            }

            &:active,
            &.has-active-menu {
                color: var(--alternating-color-2-hover-active);
            }

            &.mod-filled:active svg {
                fill: var(--alternating-color-2-hover-active);
            }
        }

        &:nth-child(3n+3) {
            &:hover {
                color: var(--alternating-color-3);
            }

            &.mod-filled:hover svg {
                fill: var(--alternating-color-3);
            }

            &:active,
            &.has-active-menu {
                color: var(--alternating-color-3-hover-active);
            }

            &.mod-filled:hover svg {
                fill: var(--alternating-color-3-hover-active);
            }
        }
    }
}

// Stacked Tab Note Header Styling
// Stacked Tabs .view-header Styling
.mod-root .workspace-tabs.mod-stacked {
    .view-header {
        border-bottom: none;

        .view-header-title-container {
            opacity: 0;
            transition: var(--anim-duration-fast) var(--anim-motion-delay);

            &:hover {
                opacity: 1;
                transition: var(--anim-duration-fast) var(--anim-motion-delay);
            }
        }
    }
}

// Breadcrumb
.view-header-title-parent {
    .view-header {
        &-breadcrumb {
            color: var(--breadcrumb-color);
            
            &:hover {
                color: var(--breadcrumb-color-hover);
                background: var(--breadcrumb-bg-hover);
                cursor: pointer;
            }
        }
    
        &-breadcrumb-separator {
            color: var(--breadcrumb-separator-color);
        }

    }
}

// File Title
.view-header-title.view-header-title.view-header-title.view-header-title {
    color: var(--file-header-title-color);
}

// Document Search
.document-search {
    align-items: center;
}

// New Tab
.workspace-leaf-content[data-type="empty"] {
    .view-header {
        border-color: transparent;

        &-nav-buttons,
        &-title-container {
            visibility: hidden;
        }
    }
}

body:not(.is-phone) .mod-root .workspace-leaf-content .empty-state {
    flex-wrap: wrap;
    justify-content: flex-end;

    &-title {
        display: none;
    }

    &-container {
        max-width: 100%;
    }

    &-action-list {
        margin-top: 0;
        display: flex;
        justify-content: center;
    }

    &-action {
        color: var(--text-faint);
        background: var(--empty-state-action-btn-bg);
        font-size: var(--font-ui-small);
        line-height: normal;
        padding: var(--size-4-2) var(--size-4-4);
        border: 1px solid var(--background-modifier-border);
        border-radius: var(--new-tab-btn-radius);
        margin: var(--size-2-3) var(--size-2-3);
        transition: var(--anim-duration-superfast) var(--anim-motion-smooth);

        &:hover {
            color: var(--text-muted);
            border-color: var(--background-modifier-border-hover);
            transform: translateY(-4px);
        }

        &:active {
            opacity: 0.5;
            transform: translateY(2px);
        }
    }
}

.mod-sidedock .workspace-leaf-content .empty-state {
    &-title {
        font-size: var(--font-ui-medium);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: var(--text-muted);
    }

    // Description
    &-container {
        div:nth-child(2) {
            font-size: var(--font-ui-small);
            color: var(--text-faint);
        }
    }

    &-action {
    color: var(--text-faint);
    background: var(--empty-state-action-btn-bg);
    font-size: var(--font-ui-small);
    line-height: normal;
    padding: var(--size-4-2) var(--size-4-4);
    border: 1px solid var(--background-modifier-border);
    border-radius: var(--new-tab-btn-radius);
    margin: var(--size-2-3) var(--size-2-3);
    transition: var(--anim-duration-superfast) var(--anim-motion-smooth);

        &:hover {
            color: var(--text-muted);
            border-color: var(--background-modifier-border-hover);
        }

        &:active {
            opacity: 0.5;
        }
    }
}

body.is-mobile {
    .empty-state {
        &-title {
            display: none;
        }

        &-action {
            color: var(--text-faint);
            background: var(--empty-state-action-btn-bg);
            border: 1px solid var(--background-modifier-border);
            border-radius: var(--new-tab-btn-radius);

            &:hover {
                transform: unset;
            }
    
            &:active {
                opacity: 0.5;
                transform: unset;
            }
        }
    }
}