/*────────── File ──────────*/

.workspace,
.workspace-ribbon.mod-left.is-collapsed,
.mod-left-split .workspace-tabs .workspace-leaf,
.mod-right-split .workspace-tabs .workspace-leaf,
.mod-left-split,
.mod-vertical .workspace-tab-container,
.mod-vertical,
.workspace-split.mod-vertical,
.workspace-fake-target-overlay:not(.is-in-sidebar) .workspace-tabs .workspace-leaf,
.mod-root .workspace-tabs .workspace-leaf,
.workspace-ribbon.mod-left,
.workspace-ribbon.mod-left:before {
    background: var(--titlebar-background);
}

.mod-vertical .workspace-tabs {
    padding-left: var(--size-4-1);
    padding-right: var(--size-4-1);
}

.mod-root .workspace {
    // .mod-root Tabs
    &-leaf-content {
        border: 1px solid var(--background-modifier-border);
        border-radius: var(--radius-l);
        margin-bottom: var(--workspace-margin-bottom);
    }

    &-tab-header-container {
        border-bottom: none;
        padding-bottom: var(--size-4-1);
        transition: padding-bottom none;

        &-inner {
            gap: var(--size-4-1);
            padding-bottom: var(--button-axis-offset);
        }
    }

    &-tab-header {
        --tab-radius-active: var(--radius-m);

        &.is-active {
            &::before,
            &::after {
                visibility: hidden;
            }
    
            background: var(--tab-active-bg);
            box-shadow: var(--tab-active-shadow);
            transition: border, box-shadow, transform var(--button-anim);
    
            &:nth-child(3n+1) {
                border: 1px solid var(--alternating-color-1);
                
                .workspace-tab-header-inner-title {
                    color: var(--alternating-color-1);
                }
            }
    
            &:nth-child(3n+2) {
                border: 1px solid var(--alternating-color-2);
    
                .workspace-tab-header-inner-title {
                    color: var(--alternating-color-2);
                }
            }
    
            &:nth-child(3n+3) {
                border: 1px solid var(--alternating-color-3);
    
                .workspace-tab-header-inner-title {
                    color: var(--alternating-color-3);
                }
            }
        }

        &:not(.is-active) {
            color: var(--icon-color);
            border: 1px solid transparent;
            transition: border, box-shadow, transform var(--button-anim);
            
            &:hover {
                background: var(--tab-bg);
                transform: translateY(calc(-1 * var(--button-axis-offset)));
                cursor: pointer;

                .workspace-tab-header-inner-title {
                    color: var(--icon-color-hover);
                }
            }

            &:active {
                background: var(--tab-bg);
                transform: translateY(var(--button-axis-offset));

                .workspace-tab-header-inner-title {
                    color: var(--icon-color-active);
                }
            }
        }
    }
}

// Note Header
.view-header {
    --header-height: 40px;

    button {
        margin-bottom: 0;
    }
}