/*────────── Link ──────────*/
// TODO Change border-bottom to use text decoration + text underline offset

// Reset
.cm-s-obsidian span.cm-hmd-internal-link:hover,
.cm-s-obsidian span.cm-link:hover {
    text-decoration-line: unset;
    color: unset;
}

// Internal Link Reading Mode
.markdown-rendered .internal-link {
    &.is-unresolved {
        color: var(--link-unresolved-color);
        text-underline-offset: var(--link-underline-offset);
        text-decoration-color: var(--link-unresolved-decoration-color);

        &:hover {
            color: var(--link-unresolved-color-hover);
            text-decoration-color: var(--link-unresolved-decoration-color-hover);
        }

        &:hover:active,
        &:active {
            color: var(--link-unresolved-color-active);
            text-decoration-color: var(--link-unresolved-decoration-color-active);
        }
    }

    color: var(--link-color);
    text-underline-offset: var(--link-underline-offset);
    text-decoration-color: var(--link-decoration-color);

    &:hover {
        color: var(--link-color-hover);
        text-decoration-color: var(--link-decoration-color-hover);
    }

    &:hover:active,
    &:active {
        color: var(--link-color-active);
        text-decoration-color: var(--link-decoration-color-active);
    }
}

// Internal Link Source Mode/Live Preview
.cm-hmd-internal-link {
    .is-unresolved .cm-underline {
        color: var(--link-unresolved-color);
        text-underline-offset: var(--link-underline-offset);
        text-decoration-color: var(--link-unresolved-decoration-color);

        &:hover {
            color: var(--link-unresolved-color-hover);
            text-decoration-color: var(--link-unresolved-decoration-color-hover);
        }

        &:active {
            color: var(--link-unresolved-color-active);
            text-underline-offset: var(--link-underline-offset);
            text-decoration-color: var(--link-unresolved-decoration-color-active);
        }
    }

    .cm-underline {
        color: var(--link-color);
        text-underline-offset: var(--link-underline-offset);
        text-decoration-color: var(--link-decoration-color);
    
        &:hover {
            color: var(--link-color-hover);
            text-underline-offset: var(--link-underline-offset);
            text-decoration-color: var(--link-decoration-color-hover);
        }
    
        &:active {
            color: var(--link-color-active);
            text-underline-offset: var(--link-underline-offset);
            text-decoration-color: var(--link-decoration-color-active);
        }
    }
}

// External Link
.external-link,
.cm-link .cm-underline {
    color: var(--link-external-color);
    text-underline-offset: var(--link-underline-offset);
    text-decoration-color: var(--link-external-decoration-color);

    &:hover {
        color: var(--link-external-color-hover);
        text-underline-offset: var(--link-underline-offset);
        text-decoration-color: var(--link-external-decoration-color-hover);
    }

    &:hover:active,
    &:active {
        color: var(--link-external-color-active);
        text-underline-offset: var(--link-underline-offset);
        text-decoration-color: var(--link-external-decoration-color-hover);
    }
}