/*────────── Link ──────────*/
// TODO Dark Mode not showing border-bottom on links

.theme-light,
.theme-dark {
    --link-decoration: none;
    --link-decoration-hover: none;
    --link-unresolved-opacity: 1;
    --link-unresolved-decoration: none;
    --link-unresolved-decoration-hover: none;
    --link-external-decoration: none;
    --link-external-decoration-hover: none;
}

// Internal Link
.internal-link {
    &.is-unresolved {
        color: var(--link-unresolved-color);
        border-bottom: var(--link-unresolved-border);

        &:hover {
            color: var(--link-unresolved-color-hover);
            border-bottom: var(--link-unresolved-border-hover);
        }

        &:hover:active,
        &:active {
            color: var(--link-unresolved-color-active);
            border-bottom: var(--link-unresolved-border-active);
        }
    }

    color: var(--link-color);
    border-bottom: var(--link-border);

    &:hover {
        color: var(--link-color-hover);
        border-bottom: var(--link-border-hover);
    }

    &:hover:active,
    &:active {
        color: var(--link-color-active);
        border-bottom: var(--link-border-active);
    }
}

.cm-hmd-internal-link {
    & .is-unresolved .cm-underline {
        color: var(--link-unresolved-color);
        border-bottom: var(--link-unresolved-border);

        &:hover {
            color: var(--link-unresolved-color-hover);
            border-bottom: var(--link-unresolved-border-hover);
        }

        &:hover:active,
        &:active {
            color: var(--link-unresolved-color-active);
            border-bottom: var(--link-unresolved-border-active);
        }
    }

    color: var(--link-color);
    border-bottom: var(--link-border);

    &:hover {
        color: var(--link-color-hover);
        border-bottom: var(--link-border-hover);
    }

    &:hover:active,
    &:active {
        color: var(--link-color-active);
        border-bottom: var(--link-border-active);
    }
}

// External Link
.external-link,
.cm-link .cm-underline {
    color: var(--link-external-color);
    border-bottom: var(--link-external-border);

    &:hover {
        color: var(--link-external-color-hover);
        border-bottom: var(--link-external-border-hover);
    }

    &:hover:active,
    &:active {
        color: var(--link-external-color-active);
        border-bottom: var(--link-external-border-active);
    }
}