/*────────── Emphasis ──────────*/
// TODO Make emphasis rendering in Reading Mode consistent
// TODO Some emphasis in Dark Mode needs higher specificity

// Strikethrough
.cm-strikethrough,
p del {
    color: var(--strikethrough-color);
}

// Code
.cm-s-obsidian span.cm-inline-code,
code {
    color: var(--inline-code-color);
    background: var(--inline-code-bg);
}

// Blockquote Writing Mode Overrides
span.cm-quote {
    &.cm-strong {
        color: var(--bold-color);
    }

    &.cm-em {
        color: var(--italic-color);
    }

    &.cm-strikethrough {
        color: var(--strikethrough-color);
    }

    &.cm-inline-code {
        color: var(--inline-code-color);
        background: var(--inline-code-bg);
    }

    &.cm-strong.cm-em {
        color: var(--bold-italic-color);
    }

    &.cm-strong.cm-em.cm-strikethrough {
        color: var(--bold-italic-strikethrough-color);
    }
}