/*────────── Tag ──────────*/

.cm-hashtag,
.tag {
    box-shadow: var(--tag-shadow);
    transition: var(--anim-duration-superfast) var(--anim-motion-smooth);

    &:hover {
        color: var(--tag-color-hover);
    }
}

.tag {
    &:hover {
        box-shadow: var(--tag-shadow-hover);
    }

    &:active {
        box-shadow: var(--tag-shadow-active);
    }   
}