/* 

✦ P R I M A R Y ✦

an Obsidian Theme by Cecilia May

────────────────────────────────────

A combination of Bauhaus, Scandinavian
and yellowing magazine pages as palette
inspiration—Primary is a theme for people
looking for a certain nostalgic warmness.

It is toppled with functional pop
of red blue yellow colors.
The perfect mix of loud and reserved.

Playful, reminiscing, productive.

────────────────────────────────────

Support my Work
+ Premium Palettes (soon™)
+ Guides (soon™): https://ko-fi.com/ceciliamay

Primary Roadmap: https://tinyurl.com/primary-board

Forum Thread: https://forum.obsidian.md/t/primary-theme/26687

README: https://github.com/ceciliamay/obsidianmd-theme-primary

License: GNU General Public License v3.0

Icons: Flaticon UIcons Rounded Regular

────────────────────────────────────*/
