/*────────── [Community Plugin] Calendar by Liam Cain ──────────*/

// Github: https://github.com/liamcain/obsidian-calendar-plugin

// Calendar Plugin Tab Icon
.workspace-tab-header[data-type="calendar"] svg.lucide-calendar-check {
    background-color: currentColor;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' data-name='Layer 1' viewBox='0 0 24 24' width='100%25' height='100%25'%3E%3Cpath d='m8,12h-2c-1.103,0-2,.897-2,2v2c0,1.103.897,2,2,2h2c1.103,0,2-.897,2-2v-2c0-1.103-.897-2-2-2Zm-2,4v-2h2v2s-2,0-2,0ZM19,2h-1v-1c0-.552-.447-1-1-1s-1,.448-1,1v1h-8v-1c0-.552-.447-1-1-1s-1,.448-1,1v1h-1C2.243,2,0,4.243,0,7v12c0,2.757,2.243,5,5,5h14c2.757,0,5-2.243,5-5V7c0-2.757-2.243-5-5-5Zm-14,2h14c1.654,0,3,1.346,3,3v1H2v-1c0-1.654,1.346-3,3-3Zm14,18H5c-1.654,0-3-1.346-3-3v-9h20v9c0,1.654-1.346,3-3,3Z'/%3E%3C/svg%3E%0A");
}

// Calendar Plugin Styling
#calendar-container {
    padding: 0 0;

    .nav.nav.nav {
        padding: var(--size-4-2) 0;
        padding-top: 0;
        border-bottom: 1px solid var(--background-modifier-border);
        margin: var(--size-4-1) 0;
        margin-top: 0;
    }

    .title .month {
        color: var(--pmr-cal-month-color);
        font-weight: var(--font-semibold);
    }

    .title .year {
        color: var(--pmr-cal-year-color);
        font-weight: var(--font-normal);
    }

    .right-nav {
        align-items: center;
    }

    .reset-button {
        font-size: 0.8em
    }

    .arrow {
        &:hover svg {
            color: var(--color-arrow-hover);
        }

        &:active svg {
            color: var(--color-arrow-active);
        }
    }

    th {
        font-weight: var(--font-medium);
    }

    td {
        width: calc(100% / 8);
    }

    td .day,
    td .week-num {
        padding: var(--pmr-cal-td-padding);
        border-radius: var(--pmr-cal-td-radius);
    }

    .day {
        font-variant: tabular-nums;
        border-radius: var(--radius-s);
        transition: box-shadow var(--anim-duration-superfast) var(--anim-motion-jumpy);

        &:hover {
            box-shadow: var(--pmr-cal-day-shadow-hover);
        }

        &:active {
            color: var(--pmr-cal-day-color-active);
            background: var(--pmr-cal-day-background-active);
            box-shadow: var(--pmr-cal-day-shadow-active);

            .dot-container {
                opacity: var(--pmr-cal-day-dot-opacity-active);
            }
        }
    }

    .week-num {
        transition: box-shadow var(--anim-duration-superfast) var(--anim-motion-jumpy);

        &:hover {
            box-shadow: var(--pmr-cal-day-shadow-hover);
        }

        &:active {
            color: var(--pmr-cal-day-color-active);
            background: var(--pmr-cal-day-background-active);

            .dot-container {
                opacity: var(--pmr-cal-day-dot-opacity-active);
            }
        }
    }

    .today {
        font-weight: var(--font-semibold);
        box-shadow: var(--pmr-cal-day-shadow);
    }

    .active {
        color: var(--pmr-cal-active-day-color);
        background: var(--pmr-cal-active-day-background);
        box-shadow: var(--pmr-cal-active-day-shadow);
        transition: box-shadow var(--anim-duration-superfast) var(--anim-motion-smooth);

        &:hover {
            box-shadow: var(--pmr-cal-active-day-shadow);
        }
    }
}