/*────────── Style Settings by mgmeyers ──────────*/

// Style Settings on .mod-root
.workspace-leaf-content[data-type="style-settings"] .view-content > div {
    width: var(--file-line-width);
    max-width: var(--file-max-line-width);
    margin: 0 auto;
}

// Collapse Indicator
.style-settings-collapse-indicator {
    top: unset;
}

.style-settings-heading[data-level="0"] + .style-settings-container .style-settings-collapse-indicator {
    margin-left: 0;
}

.style-settings-collapse-indicator > svg {
    height: 11px;
    width: 11px;
    stroke-width: 3px;
    transition: var(--anim-duration-fast) var(--anim-motion-smooth);
}

// Collapse Indicator Custom Icons
.setting-item[data-id="primary-theme"] .style-settings-collapse-indicator,
.setting-item[data-id="readme-guide"] .style-settings-collapse-indicator,
.setting-item[data-id="interface"] .style-settings-collapse-indicator,
.setting-item[data-id="components"] .style-settings-collapse-indicator,
.setting-item[data-id="notes-files"] .style-settings-collapse-indicator,
.setting-item[data-id="graph"] .style-settings-collapse-indicator,
.setting-item[data-id="canvas"] .style-settings-collapse-indicator,
.setting-item[data-id="file-explorer"] .style-settings-collapse-indicator,
.setting-item[data-id="advanced"] .style-settings-collapse-indicator,
.setting-item[data-id="readme-support"] .style-settings-collapse-indicator {
    bottom: -1px;
}

.setting-item[data-id="primary-theme"] .style-settings-collapse-indicator svg.right-triangle,
.setting-item[data-id="readme-guide"] .style-settings-collapse-indicator svg.right-triangle,
.setting-item[data-id="interface"] .style-settings-collapse-indicator svg.right-triangle,
.setting-item[data-id="components"] .style-settings-collapse-indicator svg.right-triangle,
.setting-item[data-id="notes-files"] .style-settings-collapse-indicator svg.right-triangle,
.setting-item[data-id="graph"] .style-settings-collapse-indicator svg.right-triangle,
.setting-item[data-id="canvas"] .style-settings-collapse-indicator svg.right-triangle,
.setting-item[data-id="file-explorer"] .style-settings-collapse-indicator svg.right-triangle,
.setting-item[data-id="advanced"] .style-settings-collapse-indicator svg.right-triangle,
.setting-item[data-id="readme-support"] .style-settings-collapse-indicator svg.right-triangle {
    height: 15px;
    width: 15px;
    transform: unset;
    background-color: currentColor;
}

.setting-item[data-id="primary-theme"] .style-settings-collapse-indicator svg.right-triangle {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Outline' viewBox='0 0 24 24' width='100%25' height='100%25'%3E%3Cpath d='M23,3H13a1,1,0,0,0-1,1V7.27L9.6,3.11a2,2,0,0,0-3.47,0h0L.13,13.5a1,1,0,0,0,0,1A1,1,0,0,0,1,15H5.29A6.91,6.91,0,0,0,5,17a7,7,0,0,0,14,0,6.91,6.91,0,0,0-.29-2H23a1,1,0,0,0,1-1V4A1,1,0,0,0,23,3ZM2.73,13,7.86,4.11,11.29,10a7,7,0,0,0-5,3ZM12,22a5,5,0,1,1,5-5A5,5,0,0,1,12,22Zm10-9H17.74A7.07,7.07,0,0,0,14,10.29V5h8Z'/%3E%3C/svg%3E");
}

.setting-item[data-id="readme-guide"] .style-settings-collapse-indicator svg.right-triangle {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' data-name='Layer 1' viewBox='0 0 24 24' width='100%25' height='100%25'%3E%3Cpath d='M23.786,19.492L16.713,1.836c-.624-1.529-2.376-2.269-3.911-1.645l-.925,.378c-.249,.102-.472,.244-.68,.402-.548-.594-1.326-.972-2.196-.972H3C1.346,0,0,1.346,0,3V21c0,1.654,1.346,3,3,3h6c1.654,0,3-1.346,3-3V8.895l5.304,13.242c.625,1.543,2.417,2.26,3.909,1.641l.926-.378c1.505-.574,2.286-2.434,1.647-3.907ZM13.574,7.446l2.778-1.132,4.171,10.412-2.778,1.132L13.574,7.446Zm-.942-5.025l.925-.378c.496-.206,1.097,.031,1.302,.543l.75,1.871-2.777,1.132-.747-1.866c-.208-.51,.038-1.095,.549-1.303ZM2,7h3v10H2V7Zm5,0h3v10h-3V7Zm3-4v2h-3V2h2c.551,0,1,.448,1,1ZM3,2h2v3H2V3c0-.552,.449-1,1-1Zm-1,19v-2h3v3H3c-.551,0-1-.448-1-1Zm7,1h-2v-3h3v2c0,.552-.449,1-1,1Zm12.929-.991c-.104,.247-.297,.438-.544,.539h0l-.926,.378c-.511,.206-1.095-.037-1.3-.54l-.669-1.671,2.778-1.132,.665,1.661c.102,.247,.101,.52-.003,.766Z'/%3E%3C/svg%3E%0A");
}

.setting-item[data-id="interface"] .style-settings-collapse-indicator svg.right-triangle {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Outline' viewBox='0 0 24 24' width='100%25' height='100%25'%3E%3Cpath d='M2,11H13a2,2,0,0,0,2-2V2a2,2,0,0,0-2-2H2A2,2,0,0,0,0,2V9A2,2,0,0,0,2,11ZM2,2H13V9H2Z'/%3E%3Cpath d='M22,0H19a2,2,0,0,0-2,2V9a2,2,0,0,0,2,2h3a2,2,0,0,0,2-2V2A2,2,0,0,0,22,0Zm0,9H19V2h3Z'/%3E%3Cpath d='M5,13H2a2,2,0,0,0-2,2v7a2,2,0,0,0,2,2H5a2,2,0,0,0,2-2V15A2,2,0,0,0,5,13Zm0,9H2V15H5Z'/%3E%3Cpath d='M22,13H11a2,2,0,0,0-2,2v7a2,2,0,0,0,2,2H22a2,2,0,0,0,2-2V15A2,2,0,0,0,22,13Zm0,9H11V15H22Z'/%3E%3C/svg%3E%0A");
}

.setting-item[data-id="components"] .style-settings-collapse-indicator svg.right-triangle {
    -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' data-name='Layer 1' viewBox='0 0 24 24'%3E%3Cpath d='m20.999,24c.02,0-.021,0,0,0h0ZM19.5,0H4.5C2.019,0,0,2.019,0,4.5v2c0,2.481,2.019,4.5,4.5,4.5h.5c.553,0,1-.448,1-1s-.447-1-1-1h-.5c-1.379,0-2.5-1.122-2.5-2.5v-2c0-1.378,1.121-2.5,2.5-2.5h15c1.379,0,2.5,1.122,2.5,2.5v2c0,1.378-1.121,2.5-2.5,2.5h-2.5c-.553,0-1,.448-1,1s.447,1,1,1h2.5c2.481,0,4.5-2.019,4.5-4.5v-2c0-2.481-2.019-4.5-4.5-4.5Zm-.737,18.552l-4.756-1.783v-4.662c0-1.516-1.076-2.834-2.504-3.066-.879-.144-1.768.103-2.439.674s-1.057,1.404-1.057,2.286v7.563l-.999-.795c-1.21-1.087-3.078-1.011-4.192.182-1.13,1.208-1.066,3.11.13,4.23l.558.538c.186.18.435.28.694.28.9,0,1.342-1.095.694-1.72l-.568-.548c-.403-.378-.424-1.013-.046-1.416.373-.399.999-.42,1.401-.055.022.021,1.781,1.423,1.781,1.423.477.38,1.113.448,1.66.186.548-.265.888-.807.888-1.415v-8.455c0-.294.129-.572.353-.762.228-.194.519-.271.822-.224.463.076.825.556.825,1.093v5.354c0,.417.259.79.648.937l5.404,2.027c1.111.416,1.873,1.45,1.942,2.633.031.532.472.942.997.942.551-.032,1.031-.507.999-1.058-.115-1.973-1.385-3.696-3.235-4.39Z'/%3E%3C/svg%3E%0A");
}

.setting-item[data-id="notes-files"] .style-settings-collapse-indicator svg.right-triangle {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' data-name='Layer 1' viewBox='0 0 24 24' width='100%25' height='100%25'%3E%3Cpath d='M19.95,5.536l-3.485-3.485c-1.322-1.322-3.08-2.05-4.95-2.05H7C4.243,0,2,2.243,2,5v14c0,2.757,2.243,5,5,5h10c2.757,0,5-2.243,5-5V10.485c0-1.87-.728-3.627-2.05-4.95Zm-1.414,1.414c.318,.318,.587,.671,.805,1.05h-4.341c-.551,0-1-.449-1-1V2.659c.379,.218,.733,.487,1.05,.805l3.485,3.485Zm1.464,12.05c0,1.654-1.346,3-3,3H7c-1.654,0-3-1.346-3-3V5c0-1.654,1.346-3,3-3h4.515c.163,0,.325,.008,.485,.023V7c0,1.654,1.346,3,3,3h4.977c.015,.16,.023,.322,.023,.485v8.515Zm-4.5-6h-7c-1.378,0-2.5,1.122-2.5,2.5v2c0,1.378,1.122,2.5,2.5,2.5h7c1.378,0,2.5-1.122,2.5-2.5v-2c0-1.378-1.122-2.5-2.5-2.5Zm.5,4.5c0,.276-.224,.5-.5,.5h-7c-.276,0-.5-.224-.5-.5v-2c0-.276,.224-.5,.5-.5h7c.276,0,.5,.224,.5,.5v2ZM6,10c0-.552,.448-1,1-1h2c.552,0,1,.448,1,1s-.448,1-1,1h-2c-.552,0-1-.448-1-1Zm0-4c0-.552,.448-1,1-1h2c.552,0,1,.448,1,1s-.448,1-1,1h-2c-.552,0-1-.448-1-1Z'/%3E%3C/svg%3E%0A");
}

.setting-item[data-id="graph"] .style-settings-collapse-indicator svg.right-triangle {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' data-name='Layer 1' viewBox='0 0 24 24' width='100%25' height='100%25'%3E%3Cpath d='M20,12a3.994,3.994,0,0,0-3.172,1.566l-.07-.03a5,5,0,0,0-6.009-6.377l-.091-.172A3.995,3.995,0,1,0,8.879,7.9l.073.137a4.992,4.992,0,0,0-1.134,6.7L5.933,16.5a4,4,0,1,0,1.455,1.377l1.838-1.718a4.993,4.993,0,0,0,6.539-.871l.279.119A4,4,0,1,0,20,12ZM6,4A2,2,0,1,1,8,6,2,2,0,0,1,6,4ZM4,22a2,2,0,1,1,2-2A2,2,0,0,1,4,22Zm8-7a3,3,0,0,1-1.6-5.534l.407-.217A3,3,0,1,1,12,15Zm8,3a2,2,0,1,1,2-2A2,2,0,0,1,20,18Z'/%3E%3C/svg%3E%0A");
}

.setting-item[data-id="canvas"] .style-settings-collapse-indicator svg.right-triangle {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' data-name='Layer 1' viewBox='0 0 24 24' width='100%25' height='100%25'%3E%3Cpath d='M19,0H5C2.24,0,0,2.24,0,5v14c0,2.76,2.24,5,5,5h14c2.76,0,5-2.24,5-5V5c0-2.76-2.24-5-5-5Zm3,19c0,1.65-1.35,3-3,3H5c-1.65,0-3-1.35-3-3V5c0-1.65,1.35-3,3-3h14c1.65,0,3,1.35,3,3v14ZM5,7.5c0-1.38,1.12-2.5,2.5-2.5s2.5,1.12,2.5,2.5-1.12,2.5-2.5,2.5-2.5-1.12-2.5-2.5Zm9,1.5v-3c0-.55,.45-1,1-1h3c.55,0,1,.45,1,1v3c0,.55-.45,1-1,1h-3c-.55,0-1-.45-1-1Zm-3.83,6.34c.39,.39,.39,1.02,0,1.41l-2,2c-.39,.39-1.02,.39-1.41,0l-2-2c-.39-.39-.39-1.02,0-1.41l2-2c.39-.39,1.02-.39,1.41,0l2,2Zm9.28,2.19c.4,.64-.06,1.47-.81,1.47h-4.28c-.75,0-1.21-.83-.81-1.47l2.14-3.42c.38-.6,1.25-.6,1.63,0l2.14,3.42Z'/%3E%3C/svg%3E%0A");
}

.setting-item[data-id="file-explorer"] .style-settings-collapse-indicator svg.right-triangle {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Outline' viewBox='0 0 24 24' width='100%25' height='100%25'%3E%3Cpath d='M19,3H12.472a1.019,1.019,0,0,1-.447-.1L8.869,1.316A3.014,3.014,0,0,0,7.528,1H5A5.006,5.006,0,0,0,0,6V18a5.006,5.006,0,0,0,5,5H19a5.006,5.006,0,0,0,5-5V8A5.006,5.006,0,0,0,19,3ZM5,3H7.528a1.019,1.019,0,0,1,.447.1l3.156,1.579A3.014,3.014,0,0,0,12.472,5H19a3,3,0,0,1,2.779,1.882L2,6.994V6A3,3,0,0,1,5,3ZM19,21H5a3,3,0,0,1-3-3V8.994l20-.113V18A3,3,0,0,1,19,21Z'/%3E%3C/svg%3E%0A");
}

.setting-item[data-id="advanced"] .style-settings-collapse-indicator svg.right-triangle {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' data-name='Layer 1' viewBox='0 0 24 24' width='100%25' height='100%25'%3E%3Cpath d='m23,22h-.15l-5.726-14.228c-.104-.259-.1-.549.011-.804,0,0,2.595-3.808,2.616-3.848.366-.732.29-1.595-.2-2.252-.49-.657-1.295-.976-2.168-.82l-3.096.768c-3.082.544-5.619,2.602-6.786,5.504L1.15,22h-.15c-.552,0-1,.448-1,1s.448,1,1,1h22c.552,0,1-.448,1-1s-.448-1-1-1ZM9.356,7.069c.908-2.259,2.881-3.86,5.345-4.297l3.095-.768c.023-.006.094-.017.151.06.037.049.037.093.029.125,0,0-2.586,3.794-2.606,3.835-.389.778-.426,1.688-.101,2.496l5.425,13.481H3.308l6.048-14.931Zm7.644,10.883c.005.307-.176.586-.459.705l-1.318.556-.526,1.316c-.114.285-.39.472-.697.472s-.583-.187-.697-.472l-.523-1.308-1.308-.523c-.285-.114-.472-.39-.472-.697s.187-.583.472-.697l1.308-.523.523-1.308c.114-.285.39-.472.697-.472s.583.187.697.472l.52,1.301,1.299.492c.287.108.479.381.484.687Zm-6.08-4.345l-.436-1.09-1.09-.436c-.237-.095-.393-.325-.393-.58s.156-.486.393-.58l1.09-.436.436-1.09c.095-.237.325-.393.58-.393s.486.156.58.393l.433,1.084,1.082.41c.239.09.399.317.404.573.005.256-.147.488-.382.587l-1.099.463-.439,1.097c-.095.237-.325.393-.58.393s-.486-.156-.58-.393Z'/%3E%3C/svg%3E%0A");
}

.setting-item[data-id="readme-support"] .style-settings-collapse-indicator svg.right-triangle {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' data-name='Layer 1' viewBox='0 0 24 24' width='100%25' height='100%25'%3E%3Cpath d='M8.965,24H4a4,4,0,0,1-4-4V15a4,4,0,0,1,4-4h8.857a3.144,3.144,0,0,1,2.69,1.519l3.217-3.535a3.01,3.01,0,0,1,4.254-.2,3.022,3.022,0,0,1,.217,4.23l-6.8,7.637A10.012,10.012,0,0,1,8.965,24ZM4,13a2,2,0,0,0-2,2v5a2,2,0,0,0,2,2H8.965a8.005,8.005,0,0,0,5.972-2.678l6.805-7.638a1.015,1.015,0,0,0-.072-1.421A1.029,1.029,0,0,0,20.942,10a1,1,0,0,0-.7.329L15.816,15.2A3.158,3.158,0,0,1,13.3,17.252l-5.161.738a1,1,0,0,1-.284-1.98l5.162-.737A1.142,1.142,0,0,0,12.857,13Zm7-3.926a1.986,1.986,0,0,1-1.247-.436C8.041,7.264,6,5.2,6,3.2A3.109,3.109,0,0,1,9,0a2.884,2.884,0,0,1,2,.817A2.884,2.884,0,0,1,13,0a3.109,3.109,0,0,1,3,3.2c0,2-2.041,4.064-3.754,5.439A1.986,1.986,0,0,1,11,9.074ZM9,2A1.115,1.115,0,0,0,8,3.2c0,.9,1.151,2.39,3.006,3.879C12.849,5.59,14,4.1,14,3.2A1.115,1.115,0,0,0,13,2a1.115,1.115,0,0,0-1,1.2,1,1,0,0,1-2,0A1.115,1.115,0,0,0,9,2Z'/%3E%3C/svg%3E%0A");
}

// Setting Item Alternating Colors when Open
.setting-item[data-level]:not(.is-collapsed):nth-child(3n+1) {
    border-color: color-mix(in srgb, var(--alternating-color-1) 20%, var(--background-primary));

    .setting-item-name {
        color: var(--alternating-color-1);
    }

    .style-settings-collapse-indicator {
        color: color-mix(in srgb, var(--alternating-color-1) 60%, var(--background-primary));
    }
}

.setting-item[data-level]:not(.is-collapsed):nth-child(3n+2) {
    border-color: color-mix(in srgb, var(--alternating-color-3) 20%, var(--background-primary));

    .setting-item-name {
        color: var(--alternating-color-3);
    }

    .style-settings-collapse-indicator {
        color: color-mix(in srgb, var(--alternating-color-3) 60%, var(--background-primary));
    }
}

.setting-item[data-level]:not(.is-collapsed):nth-child(3n+3) {
    border-color: color-mix(in srgb, var(--alternating-color-2) 20%, var(--background-primary));

    .setting-item-name {
        color: var(--alternating-color-2);
    }

    .style-settings-collapse-indicator {
        color: color-mix(in srgb, var(--alternating-color-2) 60%, var(--background-primary));
    }
}

// Style Settings Heading
.style-settings-heading {
    margin-bottom: 0.5em;
    
    &:not(.is-collapsed, [data-level="0"]) {
        border-bottom: none;
        transition: var(--anim-duration-fast) var(--anim-motion-smooth);
    }
}

// Remove Import/Export Buttons on READMEs
.style-settings-heading[data-id="readme-guide"] .extra-setting-button,
.style-settings-heading[data-id="readme-support"] .extra-setting-button {
    display: none;
}

// Style Settings Container
.style-settings-heading[data-level="0"][data-id="primary-theme"] + .style-settings-container {
    border: none;
}

.style-settings-container {
    animation: var(--anim-popdown);

    &:not(.style-settings-heading[data-level="0"] + .style-settings-container) {
        background: var(--style-settings-container-bg);
        padding:var(--size-4-4) var(--size-4-4);
        border: 1px solid var(--background-modifier-border);
        border-radius: var(--radius-m);
    }

    .setting-item:last-child {
        padding-bottom: 0;
    }

    .setting-item:first-child.setting-item-heading {
        margin-top: 0;
    }
}

// Style Settings Components
.view-content .style-settings-container .setting-item:not(.setting-item-heading) {
    flex-direction: row;
    align-items: center;
}

.style-settings-filter-result-count {
    font-size: var(--font-ui-smallest);
    text-transform: uppercase;
    letter-spacing: 0.1em;

    color: var(--inline-code-color);
    background: var(--inline-code-bg);
    padding: var(--size-2-1) var(--size-2-2);
    border-radius: var(--radius-s);
    box-shadow: var(--community-item-flair-shadow);

    &:empty {
        visibility: hidden;
    }
}

.view-content .themed-color-wrapper > div + div {
    margin-top: unset;
    margin-left: var(--size-4-2);
}

.view-content .style-settings-container
.setting-item:not(.setting-item-heading) .setting-item-control {
    padding-top: unset;
}

.style-settings-heading .setting-item-description {
    padding-inline-start: 19px; // Collapse Indicator width + margin-right
}

// pickr Button
.themed-color-wrapper > div {
    border: 1px solid var(--background-modifier-border);
    border-radius: var(--radius-m);
}

.pickr button.pcr-button::after  {
    box-shadow: var(--pcr-btn-shadow);
}

.pickr .pcr-button,
.pickr .pcr-button::before,
.pickr .pcr-button::after {
    border-radius: 1em;
}

.pickr-reset > button[aria-label="Restore default"] {
    color: var(--icon-color);
    background: transparent;
    padding: 0;
    box-shadow: none;

    &:hover {
        color: var(--icon-color-hover);
        box-shadow: none;
    }

    &:active {
        color: var(--icon-color-active);
        background: transparent;
        padding: 0;
        box-shadow: none;
    }
}

/*────────── Style Settings: Interface ──────────*/

/* Animations */
body.zero-tab-anim {
    .workspace-tab-header.workspace-tab-header:not(.is-active),
    .workspace-tab-header.workspace-tab-header:not(.is-active):hover,
    .workspace-tab-header.workspace-tab-header:not(.is-active):active {
        transition: transform none;
        transform: unset;
    }
}

body.zero-popup-popdown {
    --anim-popup: none;
    --anim-popdown: none;
}

body.zero-popup-blur {
    --popup-bg-blur: 0px;
}

/* Editor */
body.editor-bgpattern-linegrid {
    .workspace-split.mod-root .view-content {
        background-size: var(--editor-bgpattern-size);
        background-image:
            linear-gradient(to left, color-mix(in srgb, var(--editor-bgpattern-color) 30%, transparent) 1px, transparent 1px),
            linear-gradient(to top, color-mix(in srgb, var(--editor-bgpattern-color) 30%, transparent) 1px, transparent 1px);
    }
}

body.editor-bgpattern-dotgrid {
    .workspace-split.mod-root .view-content {
        background-size: var(--editor-bgpattern-size);
        background-image: 
            radial-gradient(circle, var(--editor-bgpattern-color) 1px, rgba(0, 0, 0, 0) 1px);
    }
}

body.file-header-hover {
    .view-header {
        height: 10px;
        border-bottom-color: transparent;
        transition: var(--anim-duration-moderate) var(--anim-motion-smooth);
        
        > div {
            opacity: 0;
            transition: var(--anim-duration-moderate) var(--anim-motion-smooth);
        }
    
        &:hover {
            height: var(--header-height);
            border-bottom-color: var(--background-modifier-border);
    
            > div {
                opacity: 1;
            }
        }
    }
}

body.file-header-title-hover {
    .view-header-title-container {
        opacity: 0;
        transition: var(--anim-duration-moderate) var(--anim-motion-smooth);

        &:hover {
            opacity: 1;
        }
    }
}

body.active-line-highlight {
    .cm-active {
        background: var(--active-line-bg);
        box-shadow: -25vw 0 var(--active-line-bg), 25vw 0 var(--active-line-bg);
    }
}

/*────────── Style Settings: Notes and Files ──────────*/

/* Headings */
body.h1-vt-align-center {
    .cm-s-obsidian .cm-line.HyperMD-header {
        padding: unset;
    }

    .cm-s-obsidian .cm-line.HyperMD-header-1 {
        padding-top: calc(var(--p-spacing) / 2);
        padding-bottom: calc(var(--p-spacing) / 2);
    }
}

body.h2-vt-align-center {
    .cm-s-obsidian .cm-line.HyperMD-header {
        padding: unset;
    }
    
    .cm-s-obsidian .cm-line.HyperMD-header-2 {
        padding-top: calc(var(--p-spacing) / 2);
        padding-bottom: calc(var(--p-spacing) / 2);
    }
}

body.h3-vt-align-center {
    .cm-s-obsidian .cm-line.HyperMD-header {
        padding: unset;
    }
    
    .cm-s-obsidian .cm-line.HyperMD-header-3 {
        padding-top: calc(var(--p-spacing) / 2);
        padding-bottom: calc(var(--p-spacing) / 2);
    }
}

body.h4-vt-align-center {
    .cm-s-obsidian .cm-line.HyperMD-header {
        padding: unset;
    }
    
    .cm-s-obsidian .cm-line.HyperMD-header-4 {
        padding-top: calc(var(--p-spacing) / 2);
        padding-bottom: calc(var(--p-spacing) / 2);
    }
}

body.h5-vt-align-center {
    .cm-s-obsidian .cm-line.HyperMD-header {
        padding: unset;
    }
    
    .cm-s-obsidian .cm-line.HyperMD-header-5 {
        padding-top: calc(var(--p-spacing) / 2);
        padding-bottom: calc(var(--p-spacing) / 2);
    }
}

body.h6-vt-align-center {
    .cm-s-obsidian .cm-line.HyperMD-header {
        padding: unset;
    }
    
    .cm-s-obsidian .cm-line.HyperMD-header-6 {
        padding-top: calc(var(--p-spacing) / 2);
        padding-bottom: calc(var(--p-spacing) / 2);
    }
}

/* Link */
body.no-decor-link {
    --link-decoration: none;
    --link-decoration-hover: none;
    --link-external-decoration: none;
    --link-external-decoration-hover: none;
    --link-unresolved-decoration-style: none;
}