/*───────────────────────────────────

STYLE SETTINGS FOR OBSIDIAN

Read more at
https://git.new/primary/obsidian

────────────────────────────────────

@settings

name: Primary Theme Settings
id: primary-obsidian
settings:

───────────────────────────────────*/