/*───────────────────────────────────

✦ P R I M A R Y ✦

an Obsidian Theme by Cecilia May

────────────────────────────────────

A combination of Bauhaus, Scandinavian
and yellowing magazine pages as palette
inspiration—Primary is a theme for people
looking for a certain nostalgic warmness.

It is toppled with functional pop
of red blue yellow colors.
The perfect mix of loud and reserved.

Playful, reminiscing, productive.

Obsidian October 2021 Best Theme 🏆

────────────────────────────────────

X : @ceciliamay_
GitHub : @ceciliamay

────────────────────────────────────

Get ✦ P R I M A R Y ✦ updates right
in your inbox 📮

https://primarytheme.substack.com/subscribe

────────────────────────────────────

● SUPPORT MY WORK ●
https://ko-fi.com/ceciliamay
+ early access to updates
+ Premium Palettes
+ ports to other theme-able Apps

● ROADMAP ●
https://git.new/primary/project-tracker

● OBSIDIAN FORUM THREAD ●
https://forum.obsidian.md/t/primary-theme/26687

● README ●
https://git.new/primary/obsidian
- Features and How to Use Them
- Supported Plugins
- Contribution Guide
- Developer Guide

────────────────────────────────────

CODE STRUCTURE
    1. General (overrides, spacing, sizing, radius, shape, fonts, animation)
    2. Specific (usually colors, icons)
    3. Mobile Styling
    4. Light Theme
    5. Dark Theme

────────────────────────────────────

This theme is using the
GNU GENERAL PUBLIC LICENSE v3.

Please visit the project's README file
for more information:
https://git.new/primary/obsidian

If you will be using parts of the code
or are inspired, please do leave a link
to my Ko-fi:
https://ko-fi.com/ceciliamay

as well as leave a link to the original
GitHub repository:
https://github.com/primary-theme/obsidian

It has to be stated clearly, publicly,
and visibly. Thank you so much!

────────────────────────────────────*/
