/* @settings

name: Primary Theme Settings
id: primary-theme
settings:
	-
		id: readme-guide
		type: heading
		level: 1
		collapsed: true
		title: How To Use
    -
        id: readme-content
        type: info-text
        markdown: true
        description: 📚 Visit the [Full Guide](https://github.com/primary-theme/obsidian) for the complete documentation including theme features, font guides, customization guide and more
    -
        id: readme-content
        type: info-text
        markdown: true
        description: 🎨 The [Presets Library](https://github.com/primary-theme/obsidian) give you a completely new look to Primary while keeping its [Core Design Principles](https://github.com/primary-theme/obsidian)
    -
        id: readme-content
        type: info-text
        markdown: true
        description: 🖼️ Here's a [Library of Curated Wallpapers](https://github.com/primary-theme/obsidian) to go with your theme
    -
        id: readme-content
        type: info-text
        markdown: true
        description: 🎯 Check out the [Roadmap](https://git.new/primary/project-tracker) to get a view of Primary's Development
	-
		id: interface
		type: heading
		level: 1
		collapsed: true
		title: Interface
	-
		id: notes-files
		type: heading
		level: 1
		collapsed: true
		title: Notes and Files
	-
		id: graph
		type: heading
		level: 1
		collapsed: true
		title: Graph
	-
		id: canvas
		type: heading
		level: 1
		collapsed: true
		title: Canvas
	-
		id: advanced
		type: heading
		level: 1
		collapsed: true
		title: Advanced
    -
		id: readme-support
		type: heading
		level: 1
		collapsed: true
		title: Support Primary's Development
    -
        id: readme-content
        type: info-text
        markdown: true
        title: 💗 Make a Donation on Ko-fi
        description: Visit [Primary's Ko-fi Page](https://dub.sh/primary/ko-fi) to choose between becoming a monthly member (for member benefits) or making a one-time donation!
    -
        id: readme-content
        type: info-text
        markdown: true
        title: ⭐ Star the Theme on Github
        description: Visit [Primary's Github Page](https://git.new/primary/obsidian) and consider starring the theme to show your appreciation!
    -
        id: readme-content
        type: info-text
        markdown: true
        title: 🐛 Submit an Issue or Feature Request!
        description: Visit [Primary's Github Issue Page](https://git.new/primary/obsidian) to submit an issue or feature request. <br> No Github account? Send me a message through [Twitter](https://dub.sh/twitter/mei) or directly via [Email](mailto:contact.ceciliamay@gmail.com)
*/