/* @settings

name: Primary Theme Settings
id: primary-theme
settings:
	-
		id: readme-guide
		type: heading
		level: 1
		collapsed: true
		title: How To Use
    -
        id: readme-content
        type: info-text
        markdown: true
        description: 📚 Visit the [Full Guide](https://github.com/primary-theme/obsidian) for the complete documentation including theme features, font guides, customization guide and more
    -
        id: readme-content
        type: info-text
        markdown: true
        description: 🎯 Check out the [Roadmap](https://git.new/primary/project-tracker) to get a view of Primary's Development
	-
		id: interface
		type: heading
		level: 1
		collapsed: true
		title: Interface
	-
		id: interface_animations
		type: heading
		level: 2
		collapsed: true
		title: Animations
	-
		id: zero-tab-anim
		type: class-toggle
		title: Remove Jumpy Tab Animations
	-
		id: zero-popup-popdown
		type: class-toggle
		title: Remove Popup and Pop Down Animations
	-
		id: interface_editor
		type: heading
		level: 2
		collapsed: true
		title: Editor
    -
        id: interface_editor-bg
        type: class-select
        title: Editor Background Type
        allowEmpty: false
        default: editor-bg-plain
        options:
            -
                label: Plain Color
                value: editor-bg-plain
            -
                label: Line Grid
                value: editor-bgpattern-linegrid
            -
                label: Dot Grid
                value: editor-bgpattern-dotgrid
    -
        id: editor-bg-color
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Editor Background Color
        description: Sets the size of the grid, dotted grid, or image
        default-light: 'hsla(35, 36%, 96%, 1)'
        default-dark: 'hsla(30, 19%, 14%, 1)'
    -
        id: editor-bgpattern-size
        type: variable-text
        title: Editor Background Size for Pattern Background
        description: Sets the size of the line grid or dot grid
        default: 50px 50px
    -
        id: editor-bgpattern-color
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Editor Background's Pattern Color
        description: Only available for line grid or dot grid background types. Sets the color of the line grid, dot grid. For line grid, it will take the color input and reduce it to 30% opacity.
        default-light: 'hsla(37, 38%, 83%, 1)'
        default-dark: 'hsla(31, 27%, 24%, 1)'
    -
		id: file-header-hover
		type: class-toggle
		title: File Header — Only Show on Hover
    -
		id: active-line-highlight
		type: class-toggle
		title: Toggle Active Line Highlighting
	-
		id: interface_status-bar
		type: heading
		level: 2
		collapsed: true
		title: Status Bar
    -
        id: interface_status-bar-style
        type: class-select
        title: Status Bar Style
        allowEmpty: false
        default: sb-style
        options:
            -
                label: On Top
                value: sb-style
            -
                label: Full Length
                value: sb-style-full
    -
        id: interface_status-bar-item-display
        type: class-select
        title: Status Bar Item Visibility
        allowEmpty: false
        default: sb-item
        options:
            -
                label: Show Everything
                value: sb-item
            -
                label: Sync Only
                value: sb-sync-only
            -
                label: Word Count Only
                value: sb-word-count-only
	-
		id: notes-files
		type: heading
		level: 1
		collapsed: true
		title: Notes and Files
	-
		id: canvas
		type: heading
		level: 1
		collapsed: true
		title: Canvas
    -
        id: canvas-dot-pattern
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Canvas Dot Pattern's Color
        default-light: 'hsla(202, 66%, 48%, 1)'
        default-dark: 'hsla(197, 48%, 49%, 1)'
    -
        id: canvas-card-label-color
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Canvas Card Label's Color
        default-light: 'hsla(202, 66%, 48%, 1)'
        default-dark: 'hsla(197, 48%, 49%, 1)'
    -
        id: canvas-color
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Canvas Color 1
        default-light: 'hsla(202, 66%, 48%, 1)'
        default-dark: 'hsla(197, 48%, 49%, 1)'
    -
        id: canvas-color-1
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Canvas Color 2
        default-light: 'hsla(202, 66%, 48%, 1)'
        default-dark: 'hsla(197, 48%, 49%, 1)'
    -
        id: canvas-color-2
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Canvas Color 3
        default-light: 'hsla(202, 66%, 48%, 1)'
        default-dark: 'hsla(197, 48%, 49%, 1)'
    -
        id: canvas-color-3
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Canvas Color 4
        default-light: 'hsla(202, 66%, 48%, 1)'
        default-dark: 'hsla(197, 48%, 49%, 1)'
    -
        id: canvas-color-4
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Canvas Color 5
        default-light: 'hsla(202, 66%, 48%, 1)'
        default-dark: 'hsla(197, 48%, 49%, 1)'
    -
        id: canvas-color-5
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Canvas Color 6
        default-light: 'hsla(202, 66%, 48%, 1)'
        default-dark: 'hsla(197, 48%, 49%, 1)'
    -
        id: canvas-color-6
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Canvas Color 7
        default-light: 'hsla(202, 66%, 48%, 1)'
        default-dark: 'hsla(197, 48%, 49%, 1)'
	-
		id: file-explorer
		type: heading
		level: 1
		collapsed: true
		title: File Explorer
    -
        id: readme-content
        type: info-text
        markdown: true
        description: Coming Soon!
	-
		id: graph
		type: heading
		level: 1
		collapsed: true
		title: Graph
    -
        id: graph-node
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Resolved Note Node Color
        description: Color of existing notes
        default-light: 'hsla(202, 66%, 48%, 1)'
        default-dark: 'hsla(197, 48%, 49%, 1)'
    -
        id: graph-node-unresolved
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Unresolved Note Node Color
        description: Color of notes that don't exist (unresolved backlinks)
        default-light: 'hsla(43, 83%, 57%, 1)'
        default-dark: 'hsla(42, 79%, 51%, 1)'
    - 
        id: graph-node-unresolved-opacity
        type: variable-number
        title: Unresolved Note Node Opacity
        description: Opacity of nodes that don't exist (unresolved backlinks). Use a number that is less than or equal to 1, but more than or equal to 0.
        default: 1
    -
        id: graph-node-tag
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Tag Node Color
        default-light: 'hsla(4, 72%, 55%, 1)'
        default-dark: 'hsla(4, 88%, 61%, 1)'
    -
        id: graph-node-attachment
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Attachment Node Color
        default-light: 'hsla(148, 30%, 65%, 1)'
        default-dark: 'hsla(155, 78%, 29%, 1)'
    -
        id: graph-node-focused
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Active File Node Color
        default-light: 'hsla(31, 45%, 24%, 1)'
        default-dark: 'hsla(34, 39%, 74%, 1)'
    -
        id: graph-node-highlight-fill
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Hovered Node Color
        default-light: 'hsla(31, 23%, 50%, 1)'
        default-dark: 'hsla(34, 31%, 68%, 1)'
    -
        id: graph-node-highlight-line
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Hovered Node Line Color
        default-light: 'hsla(34, 37%, 70%, 1)'
        default-dark: 'hsla(33, 27%, 30%, 1)'
    -
        id: graph-text
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Text Color
        default-light: 'hsla(34, 29%, 60%, 1)'
        default-dark: 'hsla(28, 22%, 18%, 1)'
    -
        id: graph-line
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Line Color
        default-light: 'hsla(37, 38%, 83%, 1)'
        default-dark: 'hsla(37, 38%, 83%, 1)'
    -
        id: graph-arrow
        type: variable-themed-color
        format: hsl
        opacity: true
        title: Arrow Color
        default-light: 'hsla(31, 23%, 50%, 1)'
        default-dark: 'hsla(34, 24%, 40%, 1)'
	-
		id: advanced
		type: heading
		level: 1
		collapsed: true
		title: Advanced
    -
        id: readme-content
        type: info-text
        markdown: true
        description: Coming Soon!
    -
		id: readme-support
		type: heading
		level: 1
		collapsed: true
		title: Support Primary's Development
    -
        id: readme-content
        type: info-text
        markdown: true
        title: 💗 Make a Donation on Ko-fi
        description: Visit [Primary's Ko-fi Page](https://dub.sh/primary/ko-fi) and choose between becoming a monthly member (for member benefits) or making a one-time donation!
    -
        id: readme-content
        type: info-text
        markdown: true
        title: ⭐ Star the Theme on Github
        description: Visit [Primary's Github Page](https://git.new/primary/obsidian) and consider starring the theme to show your appreciation!
    -
        id: readme-content
        type: info-text
        markdown: true
        title: 🐛 Submit an Issue or Feature Request!
        description: Visit [Primary's Github Issue Page](https://git.new/primary/obsidian) to submit an issue or feature request. <br> No Github account? Send me a message through [Twitter](https://dub.sh/twitter/mei) or directly via [Email](mailto:contact.ceciliamay@gmail.com)
*/