/*────────── Core Plugin: Canvas ──────────*/

.canvas-card-menu {
    background: var(--canvas-menu-bg);
    border: var(--canvas-menu-border);
    border-radius: var(--radius-m);
    box-shadow: var(--canvas-menu-shadow);

    .canvas-card-menu-button {
        --icon-stroke: 1px;
        color: var(--icon-color);

        &:hover {
            color: var(--icon-color-hover);

            svg {
                transform: translateY(-3px);
            }
        }

        svg {
            fill: none;
        }
    }
}