/*────────── Core Plugin: File Explorer ──────────*/

// Vault Title is only available in Obsidian < v1.6
// keeping this for compatibility until deprecation
// Vault Title
.nav-folder.mod-root > .nav-folder-title[data-path="/"] {
    justify-content: center;
    background: var(--vault-name-background);
    padding: var(--size-2-3)
             var(--size-4-2);
    border: var(--vault-name-border);
    border-radius: calc(var(--radius-s) + 1px);
    margin-bottom: var(--size-4-2);

    &:hover {
        color: var(--vault-name-color);
        background: var(--vault-name-background);
    }
}

.nav-files-container {
    padding-top: var(--size-2-1);
}

.nav-file-title {
    transition: padding, transform var(--anim-duration-fast) var(--anim-motion-smooth);
    
    &:active {
        transform: translateY(2px);
    }

    &.is-active {
        padding: var(--nav-file-padding-active);
        box-shadow: var(--nav-file-shadow-active);
    }
}

// File Extension Tag
.nav-file-tag {
    color: var(--nav-file-tag-color);
    background: var(--nav-file-tag-bg);
    margin-top: 1px;

    .nav-file-title.is-active & {
        margin-top: 0px;
    }
}

/*────────── SS: Colored File Explorer Folders ──────────*/

.theme-light {
    --nav-folder-1-color: var(--color-l-red-30);
    --nav-folder-1-bg-color: color-mix(in srgb, var(--color-l-alpha-red) 60%, transparent);
    --nav-folder-1-bg-color-hover: color-mix(in srgb, var(--nav-folder-1-bg-color) 70%, var(--color-base-10));
    --nav-folder-1-collapse-color: color-mix(in srgb, var(--nav-folder-1-color) 40%, transparent);

    --nav-folder-2-color: var(--color-l-orange-30);
    --nav-folder-2-bg-color: color-mix(in srgb, var(--color-l-alpha-orange) 60%, transparent);
    --nav-folder-2-bg-color-hover: color-mix(in srgb, var(--nav-folder-2-bg-color) 70%, var(--color-base-10));
    --nav-folder-2-collapse-color: color-mix(in srgb, var(--nav-folder-2-color) 40%, transparent);

    --nav-folder-3-color: var(--color-l-yellow-40);
    --nav-folder-3-bg-color: color-mix(in srgb, var(--color-l-alpha-yellow) 60%, transparent);
    --nav-folder-3-bg-color-hover: color-mix(in srgb, var(--nav-folder-3-bg-color) 70%, var(--color-base-10));
    --nav-folder-3-collapse-color: color-mix(in srgb, var(--nav-folder-3-color) 40%, transparent);

    --nav-folder-4-color: var(--color-l-green-40);
    --nav-folder-4-bg-color: color-mix(in srgb, var(--color-l-alpha-green) 60%, transparent);
    --nav-folder-4-bg-color-hover: color-mix(in srgb, var(--nav-folder-4-bg-color) 70%, var(--color-base-10));
    --nav-folder-4-collapse-color: color-mix(in srgb, var(--nav-folder-4-color) 40%, transparent);

    --nav-folder-5-color: var(--color-l-blue-30);
    --nav-folder-5-bg-color: color-mix(in srgb, var(--color-l-alpha-blue) 60%, transparent);
    --nav-folder-5-bg-color-hover: color-mix(in srgb, var(--nav-folder-5-bg-color) 70%, var(--color-base-10));
    --nav-folder-5-collapse-color: color-mix(in srgb, var(--nav-folder-5-color) 40%, transparent);

    --nav-folder-6-color: var(--color-l-violet-30);
    --nav-folder-6-bg-color: color-mix(in srgb, var(--color-l-alpha-violet) 60%, transparent);
    --nav-folder-6-bg-color-hover: color-mix(in srgb, var(--nav-folder-6-bg-color) 70%, var(--color-base-10));
    --nav-folder-6-collapse-color: color-mix(in srgb, var(--nav-folder-6-color) 40%, transparent);

    --nav-folder-7-color: var(--color-l-red-30);
    --nav-folder-7-bg-color: color-mix(in srgb, var(--color-l-alpha-red) 60%, transparent);
    --nav-folder-7-bg-color-hover: color-mix(in srgb, var(--nav-folder-7-bg-color) 70%, var(--color-base-10));
    --nav-folder-7-collapse-color: color-mix(in srgb, var(--nav-folder-7-color) 40%, transparent);

    --nav-folder-8-color: var(--color-l-orange-30);
    --nav-folder-8-bg-color: color-mix(in srgb, var(--color-l-alpha-orange) 60%, transparent);
    --nav-folder-8-bg-color-hover: color-mix(in srgb, var(--nav-folder-8-bg-color) 70%, var(--color-base-10));
    --nav-folder-8-collapse-color: color-mix(in srgb, var(--nav-folder-8-color) 40%, transparent);

    --nav-folder-9-color: var(--color-l-yellow-40);
    --nav-folder-9-bg-color: color-mix(in srgb, var(--color-l-alpha-yellow) 60%, transparent);
    --nav-folder-9-bg-color-hover: color-mix(in srgb, var(--nav-folder-9-bg-color) 70%, var(--color-base-10));
    --nav-folder-9-collapse-color: color-mix(in srgb, var(--nav-folder-9-color) 40%, transparent);

    --nav-folder-10-color: var(--color-l-green-40);
    --nav-folder-10-bg-color: color-mix(in srgb, var(--color-l-alpha-green) 60%, transparent);
    --nav-folder-10-bg-color-hover: color-mix(in srgb, var(--nav-folder-10-bg-color) 70%, var(--color-base-10));
    --nav-folder-10-collapse-color: color-mix(in srgb, var(--nav-folder-10-color) 40%, transparent);

    --nav-folder-11-color: var(--color-l-blue-30);
    --nav-folder-11-bg-color: color-mix(in srgb, var(--color-l-alpha-blue) 60%, transparent);
    --nav-folder-11-bg-color-hover: color-mix(in srgb, var(--nav-folder-11-bg-color) 70%, var(--color-base-10));
    --nav-folder-11-collapse-color: color-mix(in srgb, var(--nav-folder-11-color) 40%, transparent);

    --nav-folder-12-color: var(--color-l-violet-30);
    --nav-folder-12-bg-color: color-mix(in srgb, var(--color-l-alpha-violet) 60%, transparent);
    --nav-folder-12-bg-color-hover: color-mix(in srgb, var(--nav-folder-12-bg-color) 70%, var(--color-base-10));
    --nav-folder-12-collapse-color: color-mix(in srgb, var(--nav-folder-12-color) 40%, transparent);
}

.theme-dark {
    --nav-folder-1-color: var(--color-d-red-20);
    --nav-folder-1-bg-color: color-mix(in srgb, var(--color-d-alpha-red) 60%, transparent);
    --nav-folder-1-bg-color-hover: color-mix(in srgb, var(--nav-folder-1-bg-color) 70%, var(--color-base-10));
    --nav-folder-1-collapse-color: color-mix(in srgb, var(--nav-folder-1-color) 40%, transparent);

    --nav-folder-2-color: var(--color-d-orange-20);
    --nav-folder-2-bg-color: color-mix(in srgb, var(--color-d-alpha-orange) 60%, transparent);
    --nav-folder-2-bg-color-hover: color-mix(in srgb, var(--nav-folder-2-bg-color) 70%, var(--color-base-10));
    --nav-folder-2-collapse-color: color-mix(in srgb, var(--nav-folder-2-color) 40%, transparent);

    --nav-folder-3-color: var(--color-d-yellow-20);
    --nav-folder-3-bg-color: color-mix(in srgb, var(--color-d-alpha-yellow) 60%, transparent);
    --nav-folder-3-bg-color-hover: color-mix(in srgb, var(--nav-folder-3-bg-color) 70%, var(--color-base-10));
    --nav-folder-3-collapse-color: color-mix(in srgb, var(--nav-folder-3-color) 40%, transparent);

    --nav-folder-4-color: var(--color-d-green-20);
    --nav-folder-4-bg-color: color-mix(in srgb, var(--color-d-alpha-green) 60%, transparent);
    --nav-folder-4-bg-color-hover: color-mix(in srgb, var(--nav-folder-4-bg-color) 70%, var(--color-base-10));
    --nav-folder-4-collapse-color: color-mix(in srgb, var(--nav-folder-4-color) 40%, transparent);

    --nav-folder-5-color: var(--color-d-blue-20);
    --nav-folder-5-bg-color: color-mix(in srgb, var(--color-d-alpha-blue) 60%, transparent);
    --nav-folder-5-bg-color-hover: color-mix(in srgb, var(--nav-folder-5-bg-color) 70%, var(--color-base-10));
    --nav-folder-5-collapse-color: color-mix(in srgb, var(--nav-folder-5-color) 40%, transparent);

    --nav-folder-6-color: var(--color-d-violet-10);
    --nav-folder-6-bg-color: color-mix(in srgb, var(--color-d-alpha-violet) 60%, transparent);
    --nav-folder-6-bg-color-hover: color-mix(in srgb, var(--nav-folder-6-bg-color) 70%, var(--color-base-10));
    --nav-folder-6-collapse-color: color-mix(in srgb, var(--nav-folder-6-color) 40%, transparent);

    --nav-folder-7-color: var(--color-d-red-20);
    --nav-folder-7-bg-color: color-mix(in srgb, var(--color-d-alpha-red) 60%, transparent);
    --nav-folder-7-bg-color-hover: color-mix(in srgb, var(--nav-folder-7-bg-color) 70%, var(--color-base-10));
    --nav-folder-7-collapse-color: color-mix(in srgb, var(--nav-folder-7-color) 40%, transparent);

    --nav-folder-8-color: var(--color-d-orange-20);
    --nav-folder-8-bg-color: color-mix(in srgb, var(--color-d-alpha-orange) 60%, transparent);
    --nav-folder-8-bg-color-hover: color-mix(in srgb, var(--nav-folder-8-bg-color) 70%, var(--color-base-10));
    --nav-folder-8-collapse-color: color-mix(in srgb, var(--nav-folder-8-color) 40%, transparent);

    --nav-folder-9-color: var(--color-d-yellow-20);
    --nav-folder-9-bg-color: color-mix(in srgb, var(--color-d-alpha-yellow) 60%, transparent);
    --nav-folder-9-bg-color-hover: color-mix(in srgb, var(--nav-folder-9-bg-color) 70%, var(--color-base-10));
    --nav-folder-9-collapse-color: color-mix(in srgb, var(--nav-folder-9-color) 40%, transparent);

    --nav-folder-10-color: var(--color-d-green-20);
    --nav-folder-10-bg-color: color-mix(in srgb, var(--color-d-alpha-green) 60%, transparent);
    --nav-folder-10-bg-color-hover: color-mix(in srgb, var(--nav-folder-10-bg-color) 70%, var(--color-base-10));
    --nav-folder-10-collapse-color: color-mix(in srgb, var(--nav-folder-10-color) 40%, transparent);

    --nav-folder-11-color: var(--color-d-blue-20);
    --nav-folder-11-bg-color: color-mix(in srgb, var(--color-d-alpha-blue) 60%, transparent);
    --nav-folder-11-bg-color-hover: color-mix(in srgb, var(--nav-folder-11-bg-color) 70%, var(--color-base-10));
    --nav-folder-11-collapse-color: color-mix(in srgb, var(--nav-folder-11-color) 40%, transparent);

    --nav-folder-12-color: var(--color-d-violet-10);
    --nav-folder-12-bg-color: color-mix(in srgb, var(--color-d-alpha-violet) 60%, transparent);
    --nav-folder-12-bg-color-hover: color-mix(in srgb, var(--nav-folder-12-bg-color) 70%, var(--color-base-10));
    --nav-folder-12-collapse-color: color-mix(in srgb, var(--nav-folder-12-color) 40%, transparent);
}

// Changes variables to Primary variables
body {
    --nav-folder-color: var(--nav-item-color);
    --nav-folder-bg-color: transparent;
    --nav-folder-bg-color-hover: var(--nav-item-background-hover);
    --nav-folder-collapse-color: var(--nav-collapse-icon-color);
}

.nav-folder-children > .nav-folder .nav-folder-title,
.nav-files-container > div > .nav-folder .nav-folder-title {
    color: var(--nav-folder-color);
    background: var(--nav-folder-bg-color);

    &:hover {
        color: var(--nav-folder-color);
        background: var(--nav-folder-bg-color-hover);
    }
}

.nav-folder-collapse-indicator svg.svg-icon {
    color: var(--nav-folder-collapse-color);
}

// Toggle to Color Collapse Icons
body.colored-folders_collapse-indicator {
    .nav-folder-children > .nav-folder,
    .nav-files-container > div > .nav-folder {
        &:nth-child(9n+2) {
            --nav-folder-collapse-color: var(--nav-folder-1-collapse-color);
        }
    
        &:nth-child(9n+3) {
            --nav-folder-collapse-color: var(--nav-folder-2-collapse-color);
        }
    
        &:nth-child(9n+4) {
            --nav-folder-collapse-color: var(--nav-folder-3-collapse-color);
        }
    
        &:nth-child(9n+5) {
            --nav-folder-collapse-color: var(--nav-folder-4-collapse-color);
        }
    
        &:nth-child(9n+6) {
            --nav-folder-collapse-color: var(--nav-folder-5-collapse-color);
        }
    
        &:nth-child(9n+7) {
            --nav-folder-collapse-color: var(--nav-folder-6-collapse-color);
        }
    
        &:nth-child(9n+8) {
            --nav-folder-collapse-color: var(--nav-folder-7-collapse-color);
        }
    
        &:nth-child(9n+9) {
            --nav-folder-collapse-color: var(--nav-folder-8-collapse-color);
        }
    
        &:nth-child(9n+10) {
            --nav-folder-collapse-color: var(--nav-folder-9-collapse-color);
        }
    }
}

// Toggle to Color Background
body.colored-folders_background {
    .nav-folder-children > .nav-folder,
    .nav-files-container > div > .nav-folder  {
        &:nth-child(9n+2) {
            --nav-folder-bg-color: var(--nav-folder-1-bg-color);
            --nav-folder-bg-color-hover: var(--nav-folder-1-bg-color-hover);
        }
    
        &:nth-child(9n+3) {
            --nav-folder-bg-color: var(--nav-folder-2-bg-color);
            --nav-folder-bg-color-hover: var(--nav-folder-2-bg-color-hover);
        }
    
        &:nth-child(9n+4) {
            --nav-folder-bg-color: var(--nav-folder-3-bg-color);
            --nav-folder-bg-color-hover: var(--nav-folder-3-bg-color-hover);
        }
    
        &:nth-child(9n+5) {
            --nav-folder-bg-color: var(--nav-folder-4-bg-color);
            --nav-folder-bg-color-hover: var(--nav-folder-4-bg-color-hover);
        }
    
        &:nth-child(9n+6) {
            --nav-folder-bg-color: var(--nav-folder-5-bg-color);
            --nav-folder-bg-color-hover: var(--nav-folder-5-bg-color-hover);
        }
    
        &:nth-child(9n+7) {
            --nav-folder-bg-color: var(--nav-folder-6-bg-color);
            --nav-folder-bg-color-hover: var(--nav-folder-6-bg-color-hover);
        }
    
        &:nth-child(9n+8) {
            --nav-folder-bg-color: var(--nav-folder-7-bg-color);
            --nav-folder-bg-color-hover: var(--nav-folder-7-bg-color-hover);
        }
    
        &:nth-child(9n+9) {
            --nav-folder-bg-color: var(--nav-folder-8-bg-color);
            --nav-folder-bg-color-hover: var(--nav-folder-8-bg-color-hover);
        }
    
        &:nth-child(9n+10) {
            --nav-folder-bg-color: var(--nav-folder-9-bg-color);
            --nav-folder-bg-color-hover: var(--nav-folder-9-bg-color-hover);
        }
    }
}

// Toggle for Colored Folder Text
body.colored-folders_text {
    .nav-folder-children > .nav-folder,
    .nav-files-container > div > .nav-folder  {
        &:nth-child(12n+2) {
            --nav-folder-color: var(--nav-folder-1-color);
            --nav-folder-bg-color-hover: var(--nav-folder-1-bg-color-hover);
        }
    
        &:nth-child(12n+3) {
            --nav-folder-color: var(--nav-folder-2-color);
            --nav-folder-bg-color-hover: var(--nav-folder-2-bg-color-hover);
        }
    
        &:nth-child(12n+4) {
            --nav-folder-color: var(--nav-folder-3-color);
            --nav-folder-bg-color-hover: var(--nav-folder-3-bg-color-hover);
        }
    
        &:nth-child(12n+5) {
            --nav-folder-color: var(--nav-folder-4-color);
            --nav-folder-bg-color-hover: var(--nav-folder-4-bg-color-hover);
        }
    
        &:nth-child(12n+6) {
            --nav-folder-color: var(--nav-folder-5-color);
            --nav-folder-bg-color-hover: var(--nav-folder-5-bg-color-hover);
        }
    
        &:nth-child(12n+7) {
            --nav-folder-color: var(--nav-folder-6-color);
            --nav-folder-bg-color-hover: var(--nav-folder-6-bg-color-hover);
        }
    
        &:nth-child(12n+8) {
            --nav-folder-color: var(--nav-folder-7-color);
            --nav-folder-bg-color-hover: var(--nav-folder-1-bg-color-hover);
        }
    
        &:nth-child(12n+9) {
            --nav-folder-color: var(--nav-folder-8-color);
            --nav-folder-bg-color-hover: var(--nav-folder-2-bg-color-hover);
        }
    
        &:nth-child(12n+10) {
            --nav-folder-color: var(--nav-folder-9-color);
            --nav-folder-bg-color-hover: var(--nav-folder-3-bg-color-hover);
        }
    
        &:nth-child(12n+11) {
            --nav-folder-color: var(--nav-folder-10-color);
            --nav-folder-bg-color-hover: var(--nav-folder-4-bg-color-hover);
        }
    
        &:nth-child(12n+12) {
            --nav-folder-color: var(--nav-folder-11-color);
            --nav-folder-bg-color-hover: var(--nav-folder-5-bg-color-hover);
        }
    
        &:nth-child(12n+13) {
            --nav-folder-color: var(--nav-folder-12-color);
            --nav-folder-bg-color-hover: var(--nav-folder-6-bg-color-hover);
        }
    }
}

// Toggle to inheriting Parent Folder Color
body.colored-folders_inherit-color {
    .nav-files-container .nav-folder.nav-folder .nav-folder {
        --nav-folder-color: inherit;
        --nav-folder-bg-color: inherit;
        --nav-folder-bg-color-hover: inherit;
        --nav-folder-collapse-color: inherit;
    }
}