/*────────── Core Plugin: File Explorer ──────────*/

// Vault Title is only available in Obsidian < v1.6
// keeping this for compatibility until deprecation
// Vault Title
.nav-folder.mod-root > .nav-folder-title[data-path="/"] {
    justify-content: center;
    background: var(--vault-name-background);
    padding: var(--size-2-3)
             var(--size-4-2);
    border: var(--vault-name-border);
    border-radius: calc(var(--radius-s) + 1px);
    margin-bottom: var(--size-4-2);

    &:hover {
        color: var(--vault-name-color);
        background: var(--vault-name-background);
    }
}

.nav-file-title {
    transition: padding, transform var(--anim-duration-fast) var(--anim-motion-smooth);
    
    &:active {
        transform: translateY(2px);
    }

    &.is-active {
        padding: var(--nav-file-padding-active);
        box-shadow: var(--nav-file-shadow-active);
    }
}

// File Extension Tag
.nav-file-tag {
    color: var(--nav-file-tag-color);
    background: var(--nav-file-tag-bg);
    margin-top: 1px;

    .nav-file-title.is-active & {
        margin-top: 0px;
    }
}