/*────────── Core Plugin: Search ──────────*/

// Global Search
.suggestion-highlight {
    font-weight: var(--font-semibold);
}

// Search Options Menu
.mod-search-suggestion {
    .mod-group {
        font-size: calc(var(--font-ui-smaller) - 1px);
        color: var(--settings-nav-group-title-color);
        text-transform: uppercase;
        font-feature-settings: "calt" off;
        letter-spacing: 0.1em;
    }

    .search-suggest-item:not(.mod-group) {
        border-radius: var(--menu-item-radius);

        &.is-selected {
            background: var(--menu-item-bg-hover);
        }

        &:active {
            color: var(--menu-item-color-active);
            background: var(--menu-item-bg-active);

            .search-suggest-info-text {
                color: var(--menu-item-color-active);
            }
        }
    }
}

// Search Result Count
.more-options-icon {
    color: var(--icon-color);
    background: var(--icon-bg);
}

.clickable-icon:hover .more-options-icon,
.clickable-icon:hover .more-options-icon:hover {
    color: var(--icon-color-hover);
    background: var(--icon-bg-hover);
}

.clickable-icon.search-result-count.has-active-menu {
    color: var(--icon-color-active);
    background: var(--icon-bg-active);
}

// Search Result Dropdown
.search-results-info select.dropdown {
    color: var(--icon-color);

    &:hover {
        color: var(--icon-color-hover);
    }

    &:active,
    &:focus {
        color: var(--icon-color-active);
        box-shadow: none;
    }
}

// Search Result Items
// includes styling for Search, Backlinks, Outgoing, etc.
.search-result-file-matches {
    border-radius: var(--radius-m);
}

.search-result-file-match {
    transition: var(--anim-duration-fast) var(--anim-motion-smooth);
    cursor: pointer;

    &:hover {
        background: var(--background-primary);
    }
}

// Search Result Destination File
.search-result-file-match-destination-file,
.search-result-file-match:hover .search-result-file-match-destination-file {
    color: var(--search-result-dest-file-color);
    background: var(--search-result-dest-file-bg);
    border-radius: calc(var(--radius-m) - 2px);
    box-shadow: var(--search-result-dest-file-shadow);
    transition: background, box-shadow var(--anim-duration-superfast) var(--anim-motion-smooth);

    .search-result-file-match-destination-file-icon {
        color: var(--search-result-dest-file-icon-color)
    }
}

.search-result-file-match:hover .search-result-file-match-destination-file {
    &:hover {
        color: var(--search-result-dest-file-color);
        background: var(--search-result-dest-file-bg-hover);
        box-shadow: var(--search-result-dest-file-shadow-hover);
    }
}