/*────────── Core Plugin: Search ──────────*/

// Global Search
.suggestion-highlight {
    font-weight: var(--font-semibold);
}

.mod-search-suggestion {
    .mod-group {
        font-size: var(--font-ui-smallest);
        color: var(--settings-nav-group-title-color);
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    .search-suggest-item:not(.mod-group) {
        border-radius: var(--menu-item-radius);

        &.is-selected {
            background: var(--menu-item-bg-hover);
        }

        &:active {
            color: var(--menu-item-color-active);
            background: var(--menu-item-bg-active);

            .search-suggest-info-text {
                color: var(--menu-item-color-active);
            }
        }
    }
}

.search-suggest-item.mod-group:not(:first-child) {
    margin-inline-start: -6px;
}

// Search Result Count
.more-options-icon {
    color: var(--icon-color);
    background: var(--icon-bg);
}

.clickable-icon:hover .more-options-icon,
.clickable-icon:hover .more-options-icon:hover {
    color: var(--icon-color-hover);
    background: var(--icon-bg-hover);
}

.clickable-icon.search-result-count.has-active-menu {
    color: var(--icon-color-active);
    background: var(--icon-bg-active);
}

// Search Result Dropdown
.search-results-info select.dropdown {
    color: var(--icon-color);

    &:hover {
        color: var(--icon-color-hover);
    }

    &:active,
    &:focus {
        color: var(--icon-color-active);
        box-shadow: none;
    }
}

// Search Result Items
// includes styling for Search, Backlinks, Outgoing, etc.
.search-result-file-matches {
    border-radius: var(--radius-m);
}

.search-result-file-match {
    transition: var(--anim-duration-fast) var(--anim-motion-smooth);
    cursor: var(--cursor);

    &:hover {
        background: var(--search-result-background-hover);
    }
}

.search-empty-state {
    text-align: center;
    margin: var(--size-4-3) var(--size-4-3);
}

// Search Result Destination File
.search-result-file-match-destination-file,
.search-result-file-match:hover .search-result-file-match-destination-file {
    color: var(--search-result-dest-file-color);
    background: var(--search-result-dest-file-bg);
    border-radius: var(--radius-sm);
    box-shadow: var(--search-result-dest-file-shadow);
    transition: background, box-shadow var(--anim-duration-superfast) var(--anim-motion-smooth);

    .search-result-file-match-destination-file-icon {
        color: var(--search-result-dest-file-icon-color)
    }
}

.search-result-file-match:hover .search-result-file-match-destination-file {
    &:hover {
        color: var(--search-result-dest-file-color);
        background: var(--search-result-dest-file-bg-hover);
        box-shadow: var(--search-result-dest-file-shadow-hover);
    }
}

// Inline Query
.internal-query {
    border-top: none;

    .internal-query-header {
        padding: var(--size-4-2) var(--size-2-2);
    }

    .search-result-container {
        background-color: var(--inline-query-bg);
        box-shadow: var(--inline-query-shadow);
    }
}