/*────────── Divider ──────────*/
// All Resize Handles
.workspace-split.mod-vertical > * >.workspace-leaf-resize-handle,
.workspace-split.mod-horizontal > * >.workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
    border-radius: var(--divider-radius);
}

// All Resize Handles except Left and Right Sidebar Horizontal Handles
.workspace-split.mod-vertical > * >.workspace-leaf-resize-handle,
.workspace-split.mod-horizontal:not(.mod-left-split, .mod-right-split) > * >.workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
    --divider-color: transparent;
}

// Vertical Resize Handles
.workspace-split.mod-vertical > * >.workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
    --divider-vertical-height: calc(
                                    100% - calc(var(--header-height) + var(--editor-pane-margin)) - calc(var(--editor-border-radius) * 2)
                                );
    bottom: calc(var(--editor-pane-margin) + var(--editor-border-radius));
}

// Horizontal Resize Handles
.workspace-split.mod-horizontal:not(.mod-left-split, .mod-right-split) > * >.workspace-leaf-resize-handle {
    width: calc(
                100% - calc(var(--editor-border-radius) * 2)
            );
    left: var(--editor-border-radius);
    right: var(--editor-border-radius);
}

//----------

// Note Panes Margin
body:not(.is-phone) .workspace {
    // Tabs including Stacked Tabs except Sidedock Tabs
    .workspace-tabs .workspace-tab-container:not(.mod-left-split .workspace-tab-container, .mod-right-split .workspace-tab-container) {
        margin-left: calc(var(--editor-pane-margin) / 3);
        margin-right: calc(var(--editor-pane-margin) / 3);
    }

    &:not(.is-left-sidedock-open.is-right-sidedock-open) {
        .mod-root.workspace-split.mod-vertical {
            margin-left: calc(var(--editor-pane-margin) / 2);
            margin-right: calc(var(--editor-pane-margin) / 2);
            padding-bottom: var(--editor-pane-margin);
        }
    }

    &:is(.is-left-sidedock-open.is-right-sidedock-open) {
        .workspace-split.mod-left-split {
            margin-right: calc(-1 * (var(--editor-pane-margin) / 3));
        }

        .mod-root.workspace-split.mod-vertical {
            margin-left: 0;
            margin-right: 0;
            padding-bottom: var(--editor-pane-margin);
        }

        .workspace-split.mod-right-split {
            margin-left: calc(-1 * (var(--editor-pane-margin) / 3));
        }
    }

    &:is(.is-left-sidedock-open):not(.is-right-sidedock-open) {
        .workspace-split.mod-left-split {
            margin-right: calc(-1 * (var(--editor-pane-margin) / 3));
        }

        .mod-root.workspace-split.mod-vertical {
            margin-left: 0;
            margin-right: calc(var(--editor-pane-margin) / 2);
            padding-bottom: var(--editor-pane-margin);
        }
    }

    &:is(.is-right-sidedock-open):not(.is-left-sidedock-open) {
        .mod-root.workspace-split.mod-vertical {
            margin-left: calc(var(--editor-pane-margin) / 2);
            margin-right: 0;
            padding-bottom: var(--editor-pane-margin);
        }

        .workspace-split.mod-right-split {
            margin-left: calc(-1 * (var(--editor-pane-margin) / 3));
        }
    }
}