/*────────── Scrollbar ──────────*/
.theme-light {
    --scrollbar-bg: transparent;
    --scrollbar-thumb-bg: var(--background-modifier-border);
    --scrollbar-active-thumb-bg: var(--background-modifier-border-hover);
}

.theme-dark {
    --scrollbar-bg: transparent;
    --scrollbar-thumb-bg: var(--background-modifier-border);
    --scrollbar-active-thumb-bg: var(--background-modifier-border-hover);
}