/*────────── Scrollbar ──────────*/
// TODO Add Primary Styling Variables
// TODO Check styling of scrollbar on Windows, Linux
.theme-light {
    --scrollbar-bg: transparent;
    --scrollbar-thumb-bg: var(--background-modifier-border);
    --scrollbar-active-thumb-bg: var(--background-modifier-border-hover);
}

.theme-dark {
    --scrollbar-bg: transparent;
    --scrollbar-thumb-bg: var(--background-modifier-border);
    --scrollbar-active-thumb-bg: var(--background-modifier-border-hover);
}