/*────────── Sidebar ──────────*/
// Sidebar Tabs
.mod-left-split .workspace-tab-header,
.mod-right-split .workspace-tab-header {
    background: var(--tab-bg);
    border: 1px solid transparent;
    border-radius: var(--radius-m);
    transition: border, box-shadow, transform var(--button-anim);
    
    &-container {
        border-bottom: none;
    }

    &-container-inner {
        padding-bottom: 6px;
    }

    &.is-active {
        background: var(--tab-active-bg);
        box-shadow: var(--tab-active-shadow);
        transition: background none none;

        &:hover {
            background: var(--tab-active-bg);
        }

        &:nth-child(3n+1) {
            border: 1px solid var(--alternating-color-1);
            
            .workspace-tab-header-inner-icon {
                color: var(--alternating-color-1);
            }
        }

        &:nth-child(3n+2) {
            border: 1px solid var(--alternating-color-2);
            
            .workspace-tab-header-inner-icon {
                color: var(--alternating-color-2);
            }
        }

        &:nth-child(3n+3) {
            border: 1px solid var(--alternating-color-3);
            
            .workspace-tab-header-inner-icon {
                color: var(--alternating-color-3);
            }
        }
    }

    &:not(.is-active) {
        &:hover {
            transform: translateY(calc(-1 * var(--button-axis-offset)));
            cursor: pointer;
        }

        &:active {
            transform: translateY(var(--button-axis-offset));
        }

        &:hover .workspace-tab-header-inner {
            background: var(--tab-bg);
        }
    }
}

// Sidebar Buttons
.nav-header {
    padding: 0px var(--size-4-2) 0px var(--size-4-2);
}

.nav-buttons-container {
    gap: var(--size-4-1);
    justify-content: left;
    padding-left: var(--size-2-3);
    margin-top: var(--size-4-1);
    margin-bottom: var(--size-4-1);
}

.nav-action-button {
    padding: var(--size-2-3) var(--size-2-3);
}

// Vault Profile
body:not(.is-mobile) .workspace-split {
    .workspace-sidedock-vault-profile.workspace-sidedock-vault-profile {
        background: var(--vault-name-background);
        padding: var(--size-2-2) var(--size-2-2);
        border: var(--vault-name-border);
        border-radius: var(--radius-m);
        margin: 0px var(--size-4-2) var(--workspace-margin-bottom);

        // Remove chevron-up-down Switcher Icon
        .workspace-drawer-vault-switcher-icon {
            display: none;
        }

        .workspace-drawer-vault-name {
            color: var(--vault-name-color);
        }

        .workspace-drawer-vault-switcher {
            border-radius: calc(var(--radius-m) - 3px);
            cursor: var(--cursor);

            &:hover {
                .workspace-drawer-vault-name {
                    color: var(--vault-name-color-hover);
                }
            }
        }
    }

    &.mod-horizontal > * {
        width: unset;
    }
}