@use '10_foundations/icon';
@use '10_foundations/custom-icons';
@use '10_foundations/typography';

@use '10_foundations/palettes/classic-original';

@use '20_window/divider';
@use '20_window/navbar';
@use '20_window/toolbar';
@use '20_window/ribbon';
@use '20_window/sidebar';
@use '20_window/status-bar';
@use '20_window/window-frame';

@use '30_components/button';
@use '30_components/checkbox';
@use '30_components/color-input';
@use '30_components/dropdown';
@use '30_components/kbd';
@use '30_components/loading';
@use '30_components/menu';
@use '30_components/modal';
@use '30_components/navigation';
@use '30_components/notice';
@use '30_components/progress';
@use '30_components/prompt';
@use '30_components/pull-down-action';
@use '30_components/slider';
@use '30_components/tab';
@use '30_components/text-input';
@use '30_components/toggle';
@use '30_components/tooltip';
@use '30_components/text-selection';

@use '40_editor/alt-checkboxes';
@use '40_editor/callout';
@use '40_editor/code';
@use '40_editor/embed';
@use '40_editor/file';
@use '40_editor/heading';
@use '40_editor/link';
@use '40_editor/list';
@use '40_editor/emphasis';
@use '40_editor/gutter';
@use '40_editor/properties';
@use '40_editor/table';
@use '40_editor/tag';

@use '50_core-plugins/bookmark';
@use '50_core-plugins/canvas';
@use '50_core-plugins/file-explorer';
@use '50_core-plugins/graph';
@use '50_core-plugins/search';

@use '60_community-plugins/calendar';
@use '60_community-plugins/day-planner';
@use '60_community-plugins/kanban';
@use '60_community-plugins/style-settings';