/*────────────────────────────────────
            Nav Header
────────────────────────────────────*/
/*─────────Nav Header Container──────────*/
.workspace-split.mod-left-split .nav-header,
.workspace-split.mod-right-split .nav-header {
    padding:    var(--scale-2-1)
                var(--scale-2-2)
                var(--scale-2-1)
                var(--scale-2-2);
    margin: var(--scale-0-0)
            var(--scale-0-0)
            var(--scale-0-0)
            var(--scale-0-0);

    & .nav-buttons-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        vertical-align: middle;
    }
}

/*─────────Nav Header Buttons──────────*/
.nav-action-button {
    background: none;
    height: var(--scale-8-4);
    padding:    var(--scale-2-4)
                var(--scale-2-4)
                var(--scale-2-4)
                var(--scale-2-4);
    margin: var(--scale-0-0)
            var(--scale-0-0)
            var(--scale-0-0)
            var(--scale-0-0);
    border-radius: var(--scale-2-3);
    opacity: 1;
    display: flex;
    align-items: center;

    .theme-light & {
        color:  var(--color-l-gray-60);

        &.is-active {
            color: var(--color-l-black);
            background-color: transparent;

            &:hover {
                color: var(--color-l-gray-80);
            }

            &:active {
                color: var(--color-l-gray-50);
            }
        }

        &:not(.nav-action-button.is-active) {
            &:hover {
                color: var(--color-l-gray-80);
                background-color: transparent;
            }

            &:active {
                color: var(--color-l-gray-50);
            }
        }
    }

    .theme-dark & {
        color:  var(--color-d-gray-40);

        &.is-active {
            color: var(--color-d-gray-20);
            background-color: transparent;

            &:hover {
                color: var(--color-d-white);
            }

            &:active {
                color: var(--color-d-gray-50);
            }
        }

        &:not(.nav-action-button.is-active) {
            &:hover {
                color: var(--color-d-gray-20);
                background-color: transparent;
            }

            &:active {
                color: var(--color-d-gray-50);
            }
        }
    }
}

