/*────────────────────────────────────
        Side Dock Ribbon
────────────────────────────────────*/

.side-dock-ribbon {
    flex: 0 0 var(--scale-2-18);
    display: flex;
    flex-direction: column;
}

.workspace-ribbon {
    overflow: hidden;
    width: var(--scale-8-5);
    transition: var(--duration-fast-1)
                var(--motion-smooth);

    &.is-collapsed,
    &.is-collapsed.side-dock-ribbon-action {
        transition: var(--duration-fast-1)
                    var(--motion-smooth);
    }

    &.mod-left.is-collapsed {
        border-right: 1px solid transparent;
    }

    &.mod-right.is-collapsed {
        border-left: 1px solid transparent;
    }
}

.side-dock-ribbon.is-collapsed .mod-left-split,
.side-dock-ribbon.is-collapsed .mod-right-split {
    opacity: 0;
}

/* Side Dock Ribbon Icons Sizing */
.side-dock-ribbon-action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:    var(--scale-0-0)
                var(--scale-0-0)
                var(--scale-2-6)
                var(--scale-0-0);
}

.workspace-ribbon.side-dock-ribbon {
    & .workspace-ribbon-collapse-btn {
        margin-top: var(--scale-0-0);
        padding:    var(--scale-2-4)
                    var(--scale-2-5);
    }

    & .side-dock-settings {
        margin-bottom: var(--scale-0-0);
    }
}

/*─────────Side Dock Ribbon for Light Theme──────────*/
.theme-light .workspace-ribbon {
    background: var(--color-l-gray-20);
    border-left: 1px solid var(--color-l-gray-40);
    border-right: 1px solid var(--color-l-gray-40);

    & .side-dock-ribbon-action {
        &:nth-child(3n+1) {
            &:hover {
                color: var(--color-l-yellow-500);
            }

            &:active {
                color: var(--color-l-yellow-300);
            }
        }

        &:nth-child(3n+2) {
            &:hover {
                color: var(--color-l-red-500);
            }

            &:active {
                color: var(--color-l-red-300);
            }
        }
        
        &:nth-child(3n+3) {
            &:hover {
                color: var(--color-l-blue-500);
            }

            &:active {
                color: var(--color-l-blue-300);
            }
        }
    }

    &.is-collapsed {
        background: var(--color-l-white);

        & .side-dock-ribbon-action {
            color: var(--color-l-gray-50);
        }
    }
}

/*─────────Side Dock Ribbon for Dark Theme──────────*/
.theme-dark .workspace-ribbon {
    background: var(--color-d-black);
    border-left: 1px solid var(--color-d-gray-50);
    border-right: 1px solid var(--color-d-gray-50);

    & .side-dock-ribbon-action {
        &:nth-child(3n+1) {
            &:hover {
                color: var(--color-d-yellow-700);
            }

            &:active {
                color: var(--color-d-yellow-900);
            }
        }

        &:nth-child(3n+2) {
            &:hover {
                color: var(--color-d-red-700);
            }

            &:active {
                color: var(--color-d-red-900);
            }
        }
        
        &:nth-child(3n+3) {
            &:hover {
                color: var(--color-d-blue-700);
            }

            &:active {
                color: var(--color-d-blue-900);
            }
        }
    }

    &.is-collapsed {
        background: var(--color-d-gray-70);

        & .side-dock-ribbon-action {
            color: var(--color-d-gray-40);
        }
    }
}