/*────────────────────────────────────
            Status Bar
────────────────────────────────────*/

.status-bar {
    font-size: var(--font-scale-0-5);

    max-height: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    padding:    var(--scale-2-1)
                var(--scale-2-3)
                var(--scale-2-1)
                var(--scale-2-3);
    border-top-left-radius: var(--scale-2-4);

    &-item {
        padding:    var(--scale-0-0)
                    var(--scale-2-3)
                    var(--scale-0-0)
                    var(--scale-2-3);
        display: flex;
        align-items: center;

        &-icon {
            line-height: 1;
        }
    }
}

/*─────────Status Bar for Light Mode──────────*/

.theme-light .status-bar {
    color: var(--color-l-gray-50);
    background-color: var(--color-l-gray-10);
    border: 1px solid var(--color-l-gray-40);
    border-bottom: none;

    &-item {
        color: var(--color-l-gray-60);

        &:hover {
            color: var(--color-l-gray-90);
        }
    }

    .sync-status-icon {
        .mod-working svg {
            color: var(--color-l-red-300);
            height: var(--scale-8-2);
            width: var(--scale-8-2);
        }

        .mod-success {
            & svg {
                color: var(--color-l-gray-60);
                height: var(--scale-8-2);
                width: var(--scale-8-2);
            }

            &:hover svg {
                color: var(--color-l-green-500);
            }
        }
    }
}

/*─────────Status Bar for Dark Mode──────────*/

.theme-dark .status-bar {
    color: var(--color-d-gray-30);
    background-color: var(--color-d-gray-80);
    border: 1px solid var(--color-d-gray-50);
    border-bottom: none;

    &-item {
        color: var(--color-d-gray-30);

        &:hover {
            color: var(--color-d-gray-10);
        }
    }

    .sync-status-icon {
        .mod-working svg {
            color: var(--color-d-red-900);
            height: var(--scale-8-2);
            width: var(--scale-8-2);
            vertical-align: -3px;
        }

        .mod-success {
            & svg {
                color: var(--color-d-gray-30);
                height: var(--scale-8-2);
                width: var(--scale-8-2);
                vertical-align: -3px;
            }

            &:hover svg {
                color: var(--color-d-green-500);
            }
        }
    }
}